<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
							<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
								<div class="form-group">
								  <label class="control-label" >请选择分类</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<select class="form-control focused" id="focusedInput" type="text" name="classification_id">
											<volist name="Info" id="v">
												<option value="{$v.id}">{$v.name}</option>
											</volist>
										</select>
									</div>	
								  </div>
								</div>
								<div class="form-group">
								  <label class="control-label" >商品名称</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="goods_name" class="form-control focused" id="focusedInput" type="text" value="">
									</div>	
								  </div>
								</div>
								<div class="form-group">
								  <label class="control-label" >paykey</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="paykey" class="form-control focused" id="focusedInput" type="text" value="">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<label class=" control-label">type</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio" name="type" value="1"> 会员
											</label>
											<label class="radio-inline" for="inline-radio1">
												<input type="radio" name="type" value="2" checked="checked"> 钻石
											</label>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label class=" control-label">等级</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio" name="grade" value="1"> 黄金
											</label>
											<label class="radio-inline" for="inline-radio1">
												<input type="radio" name="grade" value="2"> 铂金
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio" name="grade" value="3"> 钻石
											</label>
											
										</div>
									</div>

								</div>
								<div class="form-group">
								  <label class="control-label" for="daterange">价格</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<span class="input-group-addon">$</span>
										<input name="price" id="appendedPrependedInput" class="form-control" size="16" type="text">
									</div>
								  </div>
								</div>
								<div class="form-group">
								  <label class="control-label" >天数或钻石数</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="days" class="form-control focused" id="focusedInput" type="text" value="">
									</div>	
								  </div>
								</div>

								<div class="form-group">
								  <label class="control-label" for="goodsimg">商品图片</label>
								  <div class="controls">
									<input id="goodsimg" type="file" name="images" />
								  </div>
								</div>
								
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/Shoppingmallgoods/goodslist.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>
