<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
							<select name="classification_id" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
			              		<option value="">类型</option>
			              		<volist name="Info" id="v" key="gk">      	
							    	<option value="{$v.id}">{$v.name}</option>
							  	</volist>
                            </select>
                            价格： 从<input class="input-sm"  type="text" name="dateStart" />
							到 <input class="input-sm"  type="text" name="dateEnd"  />
							
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a>
							</div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
									  <th>商品分类</th>
									  <th>商品名称</th>
									  <th>商品图片</th>
									  <th>价格</th>
									  <th>天数或金币数</th>
									  <th>等级</th>
									  <th>paykey</th>
									  <th>type</th>
									  <th>状态</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.goods_id}</td>
									<td>{$vo.classification_id}</td>
									<td>{$vo.goods_name}</td>
									<td>
										<a href="{$msgurl}{$vo.images}" data-lightbox="image-165593" data-title="165593">
											<img src="{$msgurl}{$vo.images}" width="30em" >
										</a>
									</td>
									<td>{$vo.price}</td>
									<td>{$vo.days}</td>
									<td>
										<if condition="$vo.grade == 1"> 黄金</if>
										<if condition="$vo.grade == 2"> 铂金</if>
										<if condition="$vo.grade == 3"> 钻石</if>
									</td>
									<td>{$vo.paykey}</td>
									<td>
										<if condition="$vo.type == 1"> 会员</if>
										<if condition="$vo.type == 2"> 钻石</if>
									
									</td>
									<td>
										<label class="switch switch-primary">
											<if condition='$vo.status eq 1'>
										      <input type="checkbox" class="switch-input" checked="1"   title="{$vo.goods_id}" alt="{$vo.status}">
											<else />  
											 <input type="checkbox" class="switch-input"   title="{$vo.goods_id}" alt="{$vo.status}">
											</if>
										      <span class="switch-label" data-on="上架" data-off="下架"></span>
										      <span class="switch-handle"></span>
									</label>
									</td>
									
									<td>
										<a href="edit.html?id={$vo.goods_id}">修改</a> 
										|| 
										<a href="del.html?id={$vo.goods_id}">删除</a>

									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Shoppingmallgoods/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    </script>		
</block>
