<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
                    <form role="form" action="/Adms/app/create" method="POST" enctype="multipart/form-data">
                        <notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
                        <div class="form-group">
                            <label class="control-label" for="appname">App名称</label>
                            <div class="controls">
                                <select name="appname" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                    <option value="">全部</option>
                                    <volist name="AppNameInfo" id="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="version">版本</label>
                            <div class="controls">
                                <select name="version" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                    <option value="">全部</option>
                                    <option value="1">开发版</option>
                                    <option value="2">线上版</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date01">描述</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="apkname" class="form-control focused" id="focusedInput" type="text" value="{$Info.apkname}">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="goodsimg">APP文件</label>
                            <div class="controls">
                                <input type="file" name="logo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="保存" />
                            <input type="reset" class="btn btn-danger" value="取消" />
                            <a href="applist.html" class="btn btn-warning" >返回</a>
                        </div>
                    </form>

                </div>
            </div>
        </div><!--/col-->

    </div>
    <style>
        .countrylistdiv{float:left;    float: left;
            height: 25px;
            line-height: 25px;
            width: 120px;
            font-size: 14px;}


    </style>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /*
            $(".switch-input").change(function(){
                var gid = $(this).attr("title");
                var gstatus = $(this).attr("alt");
                if(gstatus==1){
                    gstatus =0;
                }else{
                    gstatus =1;
                }
                $(this).attr("alt",gstatus);


                    $.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){

                        });
                });
                */
        });
    </script>
</block>