<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

                </div>
                <div class="panel-body">
                    <div class="form-group search">
                        <form class="form-horizontal" action="{$action}" method="get">
                            <select name="appname" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                <option value="" >全部</option>
                                <volist name="AppNameInfo" id="vo">
                                    <option value="{$vo.id}">{$vo.name}</option>
                                </volist>
                                <!--                                <option value="保险问问App">保险问问App</option>-->
                                <!--                                <option value="保险助手App">保险助手App</option>-->
                                <!--                                <option value="保世界App">保世界App</option>-->
                                <!--                                <option value="掌玩App">掌玩App</option>-->
                                <!--                                <option value="如意钢销App">如意钢销App</option>-->
                                <!--                                <option value="智慧魔方App">智慧魔方App</option>-->
                                <!--                                <option value="OA协同办公App">OA协同办公App</option>-->
                            </select>
                            <select name="version" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                <option value="">全部</option>
                                <option value="1">开发版</option>
                                <option value="2">线上版</option>
                            </select>
                            关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
                            <input class="btn btn-sm btn-info" type="submit" value="查询" />
                            <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
                        </form>
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="100px;">日期</th>
                            <th width="100px;">App名称</th>
                            <th width="50px;">版本</th>
                            <th width="170px;">描述</th>
                            <th width="75px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="list" id="vo">
                            <tr>
                                <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
                                <if condition="$vo['appname'] eq 1">
                                    <td>单身约爱吧</td>
                                    <elseif condition="$vo['appname'] eq 2"/>
                                    <td>同城约爱</td>
                                    <elseif condition="$vo['appname'] eq 3"/>
                                    <td>同城约会</td>
                                    <elseif condition="$vo['appname'] eq 4"/>
                                    <td>HiYou</td>
                                    <else/>
                                    <td>Circle</td>
                                </if>
                                <if condition="$vo['version'] eq 1">
                                    <td>开发版</td>
                                    <else/>
                                    <td>线上版</td>
                                </if>
                                <td>{$vo.apkname}</td>
                                <td>
                                    <a href="/userdata/apk/{$vo.apkname}.apk">下载</a> ||
                                    <!--                                    <a href="del.html?id={$vo.id}">删除</a> ||-->
                                    <a href="http://qr.topscan.com/api.php?&text=http://39.98.226.235/userdata/apk/{$vo.apkname}.apk">二维码</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>


    <script type="text/javascript">
        //删除apk
        // function delApk(apkname){
        //     var data = {'apkname':apkname};
        //     var url = "/Adms/uploadapk/delApk";
        //     $.post(url,data,function(result){
        //         if(result.status =='1') {
        //             layer.msg(result.message,{
        //                 time: 200
        //             });
        //         }
        //         if(result.status =='0') {
        //             layer.msg(result.message,{
        //                 time: 200
        //             });
        //         }
        //         location.reload();
        //     },'JSON');
        //
        // }

    </script>
</block>
