<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
				<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
								<div>
									 <a style="margin-left:20px;" href="paihang.html?yue={$yue}&gender=0" class="btn btn-sm <if condition='$gender eq 0'>btn-danger<else/>btn-default</if>">全部性别</a>
									 <a style="margin-left:20px;" href="paihang.html?yue={$yue}&gender=1" class="btn btn-sm <if condition='$gender eq 1'>btn-danger<else/>btn-default</if>">男生</a>
									 <a style="margin-left:20px;" href="paihang.html?yue={$yue}&gender=2" class="btn btn-sm <if condition='$gender eq 2'>btn-danger<else/>btn-default</if>">女生</a>
									 	
									 	
									 
									 </div>
								<div style="margin-top:10px;">
									 <volist name="yuelist" id="voy">
									 	<if condition='$voy eq $yue'>
										<span style="margin-left:20px;" class="btn btn-sm btn-info">{$voy}月</span>
										<else/>
										<a style="margin-left:20px;" href="paihang.html?yue={$voy}&gender={$gender}" class="btn btn-sm btn-default">{$voy}月</a>
										</if>
									 	
									 </volist>
									 </div>
							</form>
						</div>
					<div class="panel panel-default">
					
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
							
						
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									 
                                      <th>uid</th>
                                      <th>魅力值</th>
									  

								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="ListData" id="vo">
								  <tr id="tr-{$vo.id}" >
									  <td>
										  <label>
											 <a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}</a>({$vo.user.nickname})
										  </label>
									  </td>
									  <td>{$vo.allmoney}</td>
								
								</tr>
								</volist>
							  <tr>
								  <td>总的魅力值</td>
								  <td>{$qallmoney}</td>
							  </tr>
							  </tbody>

						  </table>
							<!--<div style="float:left; margin-right: 20px; margin-top: 20px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">
        //单选通过
        function check1(id,uid,money,type){
            var data = {'is_tixian':2,'uid':uid,'id':id,'money':money,'type':type};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //单选驳回
        function check2(id,uid,money,type){
            var data = {'is_tixian':3,'id':id,'uid':uid,'money':money,'type':type};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //全选通过
        /*function check3(){
            var id=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                }
            }
            var data = {'status':2,'id':id};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }*/
        //全选驳回
       /* function check4(){
            var id=new Array();
            var danamicid=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                    danamicid[i]=obj[i].title;
                }
            }
            var data = {'status':3,'id':id};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }*/
        //实现全选
        /*function checkAll() {
            if ($(this).attr("checked") == true) {
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                    // $(this).attr("checked", false);
                });
            } else {
                // 取消全选
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                });
            }
        }*/



	</script>
</block>