<extend name="./Application/Usersadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
				<div class="panel panel-default">
				<h3>{$msg}</h3>
					<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {$yiwancheng}%">
									<span class="sr-only">{$yiwancheng}% Complete</span>
								</div>
							</div>
				</div>
				</div><!--/col-->
			
			</div>
			<if condition='$yiwancheng neq 100'>
			<script language="JavaScript">
				function myrefresh()
				{
				       window.location.href="{$action}?{$getsurl}";
				}
				setTimeout(myrefresh(),1000); //指定1秒刷新一次
				</script>
			</if>
			
</block>