<extend name="./Application/Adms/View/public.html" />

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <style>
.panel{margin-left:10px;}
.clear{clear:both; }
</style>
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
									<select name="type"  class="btn-sm">
										<option value="">全部类型</option>
										<option value="1" <if condition='$type eq 1'>selected="selected"</if>>动态审核男
										</option>
										<option value="2" <if condition='$type eq 2'>selected="selected"</if>>动态审核女
										</option>
									</select>
									<select name="type1"  class="btn-sm">
										<option value="">全部类型</option>
										<option value="1" <if condition='$type1 eq 1'>selected="selected"</if>>已审核
										</option>
										<option value="2" <if condition='$type1 eq 2'>selected="selected"</if>>未审核
										</option>


									</select>

			UID关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>

						</div>
						 <volist name="DataList" id="vo" style="height: 500px;overflow:hidden">

						 <div id="tr-{$vo.id}" class="panel panel-default" style="float:left;">
    						<div class="panel-body" style="width:210px;height: 550px;overflow:auto" >
								<input type="checkbox" name="pas_nos" style="height: 30px;width: 30px;" value="{$vo.uid}" id="{$vo.id}">
						<div class="fmain" style="height: 500px">
							<div style="float:left"><img src="{$vo.user.head.url}" width=50 height=50/></div>
							<div style="float:left;margin-left:5px;width:200px">
							<div>{$vo.user.nickname}&nbsp;&nbsp;&nbsp;&nbsp;<a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}  </a>
								&nbsp;&nbsp;&nbsp;&nbsp;动态id：{$vo.id}
							</div>
								<div>二审状态：<if condition='$vo.status_second eq 1'>
									已审核
									<else/>
									未审核
								</if></div>

							 <div style="margin-top:5px;">{$vo.content|urldecode}</div>
										  <div>{$vo.time|date='Y-m-d',###}</div>
								<if condition='$vo.type eq 1'>
										 
									<elseif condition='$vo.type eq 2'/>
										 
										 <volist name="vo.meiti" id="photos">
											 <a href="{$photos.url}" data-lightbox="image" data-title="">
										  <img style="margin:5px;" src="{$photos.url}" width="150" >
									  </volist>
									<elseif condition='$vo.type eq 3'/>
										  <video preload="metadata" src="{$vo.meiti.url}" width="150"
												 height="150"controls="controls">
                                                  your browser does not support the video tag
                                              </video>

									  </if>
							</div>
							<div class="clear" style="float:right;margin-top:10px;padding:10px;">

								<a href="javascript:void(0);" onclick="return check1({$vo.id},{$vo.uid})" class="userinfo" style="font-size:15px;" title="{$vo.uid}">通过</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
								<a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">驳回</a>
                                    </div>
						</div>
						</div>
						</div>
						</volist>
							<div class="clear"></div>
						
							
							{$Pages}
						</div>
						<input type="checkbox" id="selectAll" name="selectAll" style="height: 22px;width: 22px;" ><b>全选</b>
						<input style="margin-left: 200px;background-color: green" class="btn btn-sm btn-info" type="submit" id="pas_submit" value="批量通过">
						<input style="margin-left: 200px;background-color: red" class="btn btn-sm btn-info" type="submit" id="rej_submit" value="批量驳回">

					</div>
				</div><!--/col-->
			</div>
</body>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
                //单选通过
                function check1(id,uid){
                    var data = {'status':1,'id':id,'uid':uid};
                    var url = "/Adms/Dynamic/secjudge";
                    $.post(url,data,function(result){
                        if(result.status =='1') {
                            layer.msg('已通过',{
                                time: 300
                            });
                            $("#tr-"+id).remove();
                        }
                    },'JSON');
                }
                //单选驳回
                function check2(id,uid){
                    var data = {'status':3,'id':id,'uid':uid};
                    var url = "/Adms/Dynamic/secjudge";
                    $.post(url,data,function(result){
                        if(result.status =='1') {
                            layer.msg('已驳回',{
                                time: 300
                            });
                            $("#tr-"+id).remove();
                        }
                    },'JSON');
                }

				$("#pas_submit").click(function () {
					var chk_value =[];
					$('input[name="pas_nos"]:checked').each(function(){
						//chk_value.push($(this).val());//将选中的值添加到数组chk_value中
						//alert($(this).val())
						var id = $(this).attr('id')
						var uid = $(this).val()
						check1(id,uid)

					});
				})

				$("#rej_submit").click(function () {
					var chk_value =[];
					$('input[name="pas_nos"]:checked').each(function(){
						//chk_value.push($(this).val());//将选中的值添加到数组chk_value中
						//alert($(this).val())
						var id = $(this).attr('id')
						var uid = $(this).val()
						check2(id,uid)

					});
				})

				$('input[name="selectAll"]').on("click",function(){
					if($(this).is(':checked')){
						$('input[name="pas_nos"]').each(function(){
							$(this).prop("checked",true);
						});
					}else{
						$('input[name="pas_nos"]').each(function(){
							$(this).prop("checked",false);
						});
					}
				});


    </script>
</block>
