<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                <li>
                    <a href="{:U('Adms/Rule/admin_user_list')}">管理员列表</a>
                </li>
                <li class="active">
                    <a href="{:U('Adms/Rule/add_admin')}">添加管理员</a>
                </li>
            </ul>
            <div class="tab-content">
                <form class="form-inline" method="post">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>管理组</th>
                            <td>
                                <foreach name="data" item="v">
                                    {$v['title']}
                                    <input class="xb-icheck" type="checkbox" name="group_ids[]" value="{$v['id']}">
                                    &emsp;
                                </foreach>
                            </td>
                        </tr>
                        <tr>
                            <th>姓名</th>
                            <td>
                                <input class="input-medium" type="text" name="name">
                            </td>
                        </tr>
                       <!-- <tr>
                            <th>手机号</th>
                            <td>
                                <input class="input-medium" type="text" name="phone">
                            </td>
                        </tr>
                        <tr>
                            <th>邮箱</th>
                            <td>
                                <input class="input-medium" type="text" name="email">
                            </td>
                        </tr>-->
                        <tr>
                            <th>初始密码</th>
                            <td>
                                <input class="input-medium" type="text" name="password">
                            </td>
                        </tr>
                        <!--<tr>
                            <th>状态</th>
                            <td>
                                <span class="inputword">允许登录</span>
                                <input class="xb-icheck" type="radio" name="status" value="1" checked="checked">
                                &emsp;
                                <span class="inputword">禁止登录</span>
                                <input class="xb-icheck" type="radio" name="status" value="0">
                            </td>
                        </tr>-->
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-success" type="submit" value="添加">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </div>



</block>
