<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
	<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
			  	<li class="active">
					<a href="#home" data-toggle="tab">用户组列表</a>
			    </li>
			    <li>
					<a href="javascript:;" onclick="add()">添加用户组</a>
				</li>
            </ul>
            <div class="tab-content">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>用户组名</th>
						<th>操作</th>
					</tr>
					<foreach name="data" item="v">
						<tr>
							<td>{$v['title']}</td>
							<td>
								<a href="javascript:;" ruleId="{$v['id']}" ruleTitle="{$v['title']}" onclick="edit(this)">修改</a> |
								<a href="javascript:if(confirm('确定删除？'))location='{:U('Adms/Rule/delete_group',array('id'=>$v['id']))}'">删除</a> |
								<a href="{:U('Adms/Rule/rule_group',array('id'=>$v['id']))}">分配权限</a> |
								<a href="{:U('Adms/Rule/check_user',array('group_id'=>$v['id']))}">添加成员</a>

							</td>
						</tr>
					</foreach>
				</table>
            </div>
        </div>
    </div>
    <!-- 添加菜单模态框开始 -->
	<div class="modal fade" id="bjy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			 <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						添加用户组
					</h4>
				</div>
				<div class="modal-body">
					<form id="bjy-form" class="form-inline" action="{:U('Adms/Rule/add_group')}" method="post">
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<th width="15%">用户组名：</th>
								<td>
									<input class="input-medium" type="text" name="title">
								</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<input class="btn btn-success" type="submit" value="添加">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 添加菜单模态框结束 -->

	<!-- 修改菜单模态框开始 -->
	<div class="modal fade" id="bjy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			 <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						修改规则
					</h4>
				</div>
				<div class="modal-body">
					<form id="bjy-form" class="form-inline" action="{:U('Adms/Rule/edit_group')}" method="post">
						<input type="hidden" name="id">
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<th width="12%">规则名：</th>
								<td>
									<input class="input-medium" type="text" name="title">
								</td>
							</tr>
							<tr>
								<th></th>
								<td>
									<input class="btn btn-success" type="submit" value="修改">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 修改菜单模态框结束 -->
	</div>

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	// 添加菜单
	function add(){
		$("input[name='title']").val('');
		$('#bjy-add').modal('show');
	}

	// 修改菜单
	function edit(obj){
		var ruleId=$(obj).attr('ruleId');
		var ruletitle=$(obj).attr('ruletitle');
		$("input[name='id']").val(ruleId);
		$("input[name='title']").val(ruletitle);
		$('#bjy-edit').modal('show');
	}
	</script>
</block>