<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <!--<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.min.css">-->
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                    <li class="active">
                        <a href="#home" data-toggle="tab">权限列表</a>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="add()"> 添加权限</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>权限名</th>
                            <th>权限</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="data" item="v">
                            <tr>
                                <td>{$v['_name']}</td>
                                <td>{$v['name']}</td>
                                <td>
                                    <a href="javascript:;" ruleId="{$v['id']}" onclick="add_child(this)">添加子权限</a> |
                                    <a href="javascript:;" ruleId="{$v['id']}" ruleName="{$v['name']}" ruleTitle="{$v['title']}" onclick="edit(this)">修改</a> |
                                    <a href="javascript:if(confirm('确定删除？'))location='{:U('Adms/Rule/delete',array('id'=>$v['id']))}'">删除</a>
                                </td>
                            </tr>
                        </foreach>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bjy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加权限
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="bjy-form" class="form-inline" action="{:U('Adms/Rule/add')}" method="post">
                            <input type="hidden" name="pid" value="0">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <th width="12%">权限名：</th>
                                    <td>
                                        <input class="input-medium" type="text" name="title">
                                    </td>
                                </tr>
                                <tr>
                                    <th>权限：</th>
                                    <td>
                                        <input class="input-medium" type="text" name="name"> 输入模块/控制器/方法即可 例如 Adms/Rule/index
                                    </td>
                                </tr>
                                
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="input-medium" type="checkbox" name="add_menu">同步添加导航菜单
                                    </td>
                                </tr>
                                 
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-success" type="submit" value="添加">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 添加菜单模态框结束 -->
        <!-- 修改菜单模态框开始 -->
        <div class="modal fade" id="bjy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            修改权限
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="bjy-form" class="form-inline" action="{:U('Adms/Rule/edit')}" method="post">
                            <input type="hidden" name="id">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <th width="12%">权限名：</th>
                                    <td>
                                        <input class="input-medium" type="text" name="title">
                                    </td>
                                </tr>
                                <tr>
                                    <th>权限：</th>
                                    <td>
                                        <input class="input-medium" type="text" name="name"> 输入模块/控制器/方法即可 例如 Admin/Rule/index
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-success" type="submit" value="修改">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改菜单模态框结束 -->
            </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        // 添加菜单
        function add(){
            $("input[name='title'],input[name='name']").val('');
             $("input[name='pid']").val(0);
             $('#bjy-add').modal('show');
        }

        // 添加子菜单
        function add_child(obj){
            var ruleId=$(obj).attr('ruleId');
            $("input[name='pid']").val(ruleId);
            $("input[name='title']").val('');
            $("input[name='name']").val('');
            $('#bjy-add').modal('show');
        }

        // 修改菜单
        function edit(obj){
            var ruleId=$(obj).attr('ruleId');
            var ruletitle=$(obj).attr('ruletitle');
            var ruleName=$(obj).attr('ruleName');
            $("input[name='id']").val(ruleId);
            $("input[name='title']").val(ruletitle);
            $("input[name='name']").val(ruleName);
            $('#bjy-edit').modal('show');
        }
    </script>
</block>






