<extend name="./Application/Usersadms/View/public.html" />
<block name="content">



</block>

<block name="content">
    <link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
    <!-- start: Content -->
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box green-bg">
                <i class="fa fa-cubes"></i>
                <div class="" style="font-size:18px; font-weight:bold;">用户新增魅力值:</div>
                    <div class="" style="font-size:18px; font-weight:bold;">{$todayusermoney}
                        (￥{$todayuserrelmoney})</div>
            </div><!--/.info-box-->
        </div><!--/.col-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box magenta-bg">
                <i class="fa fa-shopping-cart"></i>
                <div class="" style="font-size:18px; font-weight:bold;">提成新增魅力值</div>

                <div class="" style="font-size:18px; font-weight:bold;">{$todayadminmoney}（￥{$todayadminrelmoney}）</div>

            </div><!--/.info-box-->
        </div><!--/.col-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">

                <div class="" style="font-size:25px; font-weight:bold;">设置提成比例</div>
                <form action="{:U('/Usersadms/Sys/edit_bili')}" method="post" class="form-horizontal ">

                        <div class="form-group">

                                <input type="text" id=" " name="bili" class="form-control"
                                       value="{$msglist['bili']}"  placeholder="">填写数字1~15，比例设置不可超过15%，超过自动按照15%计算
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-sm btn-success">设置</button>
                        </div>
                </form>
            </div><!--/.info-box-->
        </div><!--/.col-->



    </div><!--/.row-->

    <div class="row">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart-o red"></i><strong>用户魅力值统计</strong></h2>
                    <div class="panel-actions">
                        <a href="javascript:TongjiYiZhouReg();" ><i class="fa fa-rotate-right"></i></a>
                        <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

                    </div>
                </div>
                <div class="panel-body">
                    <figure class="demo" id="regTongji" style="height: 300px"></figure>
                </div>
            </div>
        </div>

    </div><!--/col-->
    <div class="row">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart-o red"></i><strong>提成魅力值统计</strong></h2>
                    <div class="panel-actions">
                        <a href="javascript:TongjiYiZhouCzlv();" ><i class="fa fa-rotate-right"></i></a>
                        <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

                    </div>
                </div>
                <div class="panel-body">
                    <figure class="demo" id="TongjiYiZhouCzlv" style="height: 300px"></figure>
                </div>
            </div>

        </div><!--/col-->
    </div><!--/row-->

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart-o red"></i><strong>月提成总收入(人民币)</strong></h2>
                    <div class="panel-actions">
                        <a href="javascript:ShowruTongjiYue();" ><i class="fa fa-rotate-right"></i></a>
                        <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

                    </div>
                </div>
                <div class="panel-body">
                    <figure class="demo" id="ShowruTongjiYue" style="height: 300px"></figure>
                </div>
            </div>

        </div><!--/col-->

    </div><!--/row-->


    <script src="__PUBLIC__/echarts/echarts.min.js"></script>
    <script src="__PUBLIC__/echarts/macarons.js"></script>
    <script src="__PUBLIC__/echarts/roma.js"></script>

    <script type="text/javascript">

        //注册量统计
        function TongjiYiZhouReg(){
            $.post("/Usersadms/index/TongjiYiZhouReg",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('regTongji'),"macarons").setOption(eval('(' + data + ')'));
            });

        }
        TongjiYiZhouReg();
        //提成魅力值
        function TongjiYiZhouCzlv(){
            $.post("/Usersadms/Index/TongjiYiZhouCzlv",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('TongjiYiZhouCzlv'),"roma").setOption(eval('(' + data + ')'));
            });
        }
        TongjiYiZhouCzlv();
        //注册区域统计
        /* function ShowruTongjiYue(){
      $.post("/Adms/Index/ShowruTongjiYue",function(data,status){
              //alert(data);
              echarts.init(document.getElementById('ShowruTongjiYue'),"macarons").setOption(eval('(' + data + ')'));
          });
    }
    ShowruTongjiYue();*/


        function ShowruTongjiYue(){
            $.post("/Usersadms/Index/ShowruTongjiYue",function(data1,status){
                var dom = document.getElementById("ShowruTongjiYue");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                data1=eval("("+data1+")");
                var dataAxis =data1['xAxis'];
                var data=data1['series'];
                var yMax ="";
                var dataShadow = [];

                for (var i = 0; i < data.length; i++) {
                    dataShadow.push(yMax);
                }

                option = {
                    title: {
                        text: '月总收入',
                        subtext: '（人民币）'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    xAxis: {
                        data: dataAxis,
                        axisLabel: {
                            inside: true,
                            textStyle: {
                                color: '#7c99ff'
                            }
                        },
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            show: false
                        },
                        z: 10
                    },
                    yAxis: {
                        axisLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#999'
                            }
                        }
                    },
                    dataZoom: [
                        {
                            type: 'inside'
                        }
                    ],
                    series: [

                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#2378f7'},
                                            {offset: 0.7, color: '#2378f7'},
                                            {offset: 1, color: '#83bff6'}
                                        ]
                                    )
                                }
                            },
                            data: data
                        }

                    ]
                };

// Enable data zoom when user click bar.
                var zoomSize = 6;
                myChart.on('click', function (params) {
                    console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                    myChart.dispatchAction({
                        type: 'dataZoom',
                        startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                        endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                    });
                });
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            });
        }
        ShowruTongjiYue();
        //alert(1);
    </script>


</block>