<extend name="./Application/Adms/View/public.html" />

<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

				</div>
				<div class="panel-body">
					<div style="float:left; margin-right: 20px; margin-top: 5px" >
						<th>&nbsp;
							<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
							<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
						</th>

					</div>
					<div class="form-group search">
						<form class="form-horizontal" action="{$action}" method="get">
							UID关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							<input class="btn btn-sm btn-info" type="submit" value="查询" />
						</form>
						<div style="float:right;">

						</div>

					</div>
					<table class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
						<tr>
							<th>
								<input type="checkbox" name="checkedAll" id="checkedAll" style="width:25px;height:25px;" onclick="return checkAll()" />
								(全选)ID</th>
							<th>UID</th>
							<th>音频</th>
							<th>发布时间</th>
							<th>操作 </th>
						</tr>
						</thead>
						<tbody>
						<volist name="DataList" id="vo">
							<tr id="tr-{$vo.id}" >
							<td>
								<label>
									<input type="checkbox" name="checkbox_name" style="width:20px;height:20px;" title="{$vo.uid}" value="{$vo.id}" >
									{$vo.id}
								</label>
							</td>
								<td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}</a></td>
								<td>
									<audio src="{$audurl}{$vo.url}" controls="controls">
										Your browser does not support the audio element.
									</audio>

								</td>


							<td>{$vo.time|date='m-d h:i:s',###}</td>

								<td>
									<a href="javascript:void(0);" onclick="return check1({$vo.id},{$vo.uid})" class="userinfo" title="{$vo.uid}">通过</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
									<a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo" title="{$vo.uid}">驳回</a>

								</td>
							</tr>

						</volist>
						</tbody>
					</table>
                    <div style="float:left; margin-right: 20px; margin-top: 20px" >
                        <th>&nbsp;
                            <a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
                            <a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
                        </th>

                    </div>
					{$Pages}
				</div>
			</div>
		</div><!--/col-->
	</div>
	</body>
	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
        //单选通过
        function check1(id,uid){
            var data = {'status':1,'id':id,"uid":uid};
            var url = "/Adms/Verify/judgeaudio";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //单选驳回
        function check2(id,uid){
            var data = {'status':3,'id':id,"uid":uid};
            var url = "/Adms/Verify/judgeaudio";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //全选通过
        function check3(){
            var id=new Array(); ;
            var uid=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                    uid[i]=obj[i].title;
                }
            }
            var data = {'status':1,'id':id,"uid":uid};
            var url = "/Adms/Verify/judgeaudio";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }
        //全选驳回
        function check4(){
            var id=new Array();
            var uid=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                   uid[i]=obj[i].title;
                }
            }
            var data = {'status':3,'id':id,"uid":uid};
            var url = "/Adms/Verify/judgeaudio";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }
        //实现全选
        function checkAll() {
            if ($(this).attr("checked") == true) {
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                    // $(this).attr("checked", false);
                });
            } else {
                // 取消全选
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                });
            }
        }

	</script>
</block>
