<extend name="./Application/Adms/View/public.html" />

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			UID关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
                            <div style="float:right;">
                                <a href="lists.html?judge=2" class="userinfo" id="userinfo"  title="{$vo.uid}">显示未审核</a>
                            </div>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
									  <th>UID</th>
                                      <th>内容</th>
									  <th>动态ID</th>
									  <th>审核状态</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>
                              <volist name="DataList" id="vo">
                                  <tr>

									 <td>{$vo.id}</td>
									  <td>{$vo.uid}</td>
                                      <td>{$vo.content}</td>
									  <td>{$vo.danamicid}</td>



                                        <if condition='$vo.status eq 1'>
                                    <td id="shenhe" >未审核</td>
                                    <elseif condition='$vo.status eq 2'/>
                                    <td id="shenhe">审核通过</td>
                                    <else />
                                    <td id="shenhe">审核未通过</td>
                                    </if>






									<td>
                                        <input name="submit" type="button" class="btn btn-success" value="审核"onClick="return check1({$vo.id},{$vo.danamicid})" />

                                    </td>
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			</div>
</body>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
        function check1(id,danamicid){
            layer.confirm('审核通过吗？', {
                btn: ['通过','不通过'] //按钮
            }, function(){
                var data = {'status':2,'id':id,"danamicid":danamicid};
                var url = "/Adms/Verify/judge";
                $.post(url,data,function(result){
                    if(result.status =='1') {
                        dialog.toconfirm("已通过");
                       //return layer.msg('已通过', {icon: 1,time: 2000});
                    }
                    if(result.status =='2') {
                        dialog.toconfirm("您已设置已通过！");
                        //return layer.msg('您已设置已通过！', {icon: 1,time: 2000});
                                           }
                },'JSON');
               location.reload();


            }, function(){
                var data = {'status':2,'id':id,"danamicid":danamicid};
                var url = "/Adms/Verify/judge";
                $.post(url,data,function(result){
                    if(result.status == 1) {
                        dialog.toconfirm("已设置未通过");
                        //return layer.msg('已设置未通过', {icon: 1,time: 2000});
                    }
                    if(result.status == 2) {
                        dialog.toconfirm("您已设置过未通过！");
                        //return layer.msg('您已设置过未通过！', {icon: 1,time: 2000});
                    }
                },'JSON');
                //window.location.href="applist.html";
                location.reload();
            });
        }
     
  
    </script>
</block>
