<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
									<!--<select name="status"  class="btn-sm">
										<option value="">全部类型</option>
										<option value="1" <if condition='$status eq 1'>selected="selected"</if>>举报
										</option>
										<option value="2" <if condition='$tatus eq 2'>selected="selected"</if>>敏感字检测
										</option>
									</select>-->
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
                                      <th>举报人</th>
									  <th>被举报人</th>
									  <th>截图</th>
									  <th>被举时间</th>
									  <th>举报内容</th>
									  <th>补充说明</th>
									  <th>举报类型</th>
										<th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.id}</td>
									<td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}--{$vo.user.nickname}</a></td>

									<td><a href="../user/userinfo.html?uid={$vo.touid}">{$vo.touid}--{$vo.touser.nickname}</a></td>
									<td>
										<foreach name="vo.urls" item="voa" >
											<a href="{$voa}" data-lightbox="image-165593" data-title="165593">
												<img src="{$voa}" width="50px" >
											</a>
										</foreach>

									</td>
									<td>{$vo.time|date='m-d h:i:s',###}</td>
									<if condition='$vo.status eq 1'>
									<td>
                                        <volist name="vo.ids" id="vo1">
											{$vo1}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</volist>
									</td>
										<elseif condition='$vo.status eq 2'/>
										<td>{$vo.content}</td>
									</if>
									<td>{$vo.content}</td>

									<if condition='$vo.status eq 1'>
										<td>正常举报</td>
										<elseif condition='$vo.status eq 2'/>
										<td>敏感词检测</td>
									</if>
									<td>
										<if condition='$vo.usertype eq 8'>
											<a href="editusertype.html?touid={$vo.id}&usertype=1">解封</a>
											<else />
											<a href="editusertype.html?touid={$vo.touid}&user_type=8">封号</a>
										</if>

										||
										<if condition='$vo.usertype eq 6'>
										<a href="editusertype.html?touid={$vo.touid}&user_type=1">恢复发信</a>
											<else />
											<a href="editusertype.html?touid={$vo.touid}&user_type=6">禁止发信</a>
										</if>
										||
										<a href="delreport.html?id={$vo.id}">无效删除</a>
									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	});
    </script>		
</block>