<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
                                      <th>建议人</th>
									  <th>建议时间</th>
									  <th>建议内容</th>
									  <th>类型</th>
									 <!-- <th>操作</th>-->
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.id}</td>
									<td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}--{$vo.user.nickname}</a></td>
									<td>{$vo.time|date='m-d h:i:s',###}</td>
									<td>{$vo.content}</td>
									<td>
										<if condition='$vo.type eq 1'>
									       投诉建议
									<elseif condition='$vo.type eq 2'/>
									建议
									<elseif condition='$vo.type eq 3'/>
									客服信
									</if>
									</td>
									<!--<td>
				<a href="edit.html?id={$vo.id}">修改</a> || <a href="del.html?id={$vo.id}&mg={$vo.url}">删除</a>
									</td>-->
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	});
    </script>		
</block>