<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
		<!-- start: Content -->

	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>充值率统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouCzlv();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="TongjiYiZhouCzlv" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->
	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>充值转化率统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouCzzhlv();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="TongjiYiZhouCzzhlv" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->
	</div><!--/row-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>延迟n天充值的人数</strong></h2>
					<div class="panel-actions">
						<a href="javascript:storagegeshu();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="storagegeshu" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->

	</div><!--/row-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>n天之内最后登陆的人数</strong></h2>
					<div class="panel-actions">
						<a href="javascript:storageliucun();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="storageliucun" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->

	</div><!--/row-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>存留率</strong></h2>
					<div class="panel-actions">
						<a href="javascript:storageliucunlv();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="storageliucunlv" style="height: 300px"></figure>
				</div>
			</div>

		</div><!--/col-->

	</div><!--/row-->
	<script src="__PUBLIC__/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/echarts/macarons.js"></script>
<script src="__PUBLIC__/echarts/roma.js"></script>

	<script type="text/javascript">
        //充值率统计
        function TongjiYiZhouCzlv(){
            $.post("/Adms/Index/TongjiYiZhouCzlv",function(data,status){
                //alert(data);
                echarts.init(document.getElementById('TongjiYiZhouCzlv'),"roma").setOption(eval('(' + data + ')'));
            });
        }
        TongjiYiZhouCzlv();

    //充值率统计
    function TongjiYiZhouCzzhlv(){
        $.post("/Adms/Index/TongjiYiZhouCzzhlv",function(data,status){
            //alert(data);
            echarts.init(document.getElementById('TongjiYiZhouCzzhlv'),"macarons").setOption(eval('(' + data + ')'));
        });
    }
    TongjiYiZhouCzzhlv();
	//统计储存个数（用户注册后1天内/3天内/7天内/15天内/30天内/90天内充值会员个数）
    function storagegeshu(){
        $.post("/Adms/Index/storagegeshu",function(data1,status){
            var dom = document.getElementById("storagegeshu");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '延迟n天充值的人数',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    storagegeshu();
    //统计留存率个数 （用户最后登陆时间减去用户注册时间大于1天/3天/7天/15天/30天/90天/180天/365天 个数）
    function storageliucun(){
        $.post("/Adms/Index/storageliucun",function(data1,status){
            var dom = document.getElementById("storageliucun");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: 'n天之内最后登陆的人数',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    storageliucun();
//统计存留率 （用户留存率，用户最后登陆时间减去用户注册时间大于1天/3天/7天/15天/30天/90天/180天/365天  除以总注册个数 ）
    function storageliucunlv(){
        $.post("/Adms/Index/storageliucunlv",function(data1,status){
            var dom = document.getElementById("storageliucunlv");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '留存率（%）',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'line',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    storageliucunlv();

	</script>
</block>