<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
		<!-- start: Content -->

	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>注册量统计</strong></h2>

					<select name="days" id="days" data-am-selected="{btnSize: 'sm'}" class="btn-sm" onchange="func();" >
						<option value="7"  selected>7天</option>
						<option value="30"  >30天</option>
						<option value="90" >90天</option>
					</select>


					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouReg(7);" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="regTongji" style="height: 300px"></figure>
				</div>
			</div>
		</div>

	</div><!--/col-->
	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>注册量统计（男）</strong></h2>
					<select name="daysn" id="daysn" data-am-selected="{btnSize: 'sm'}" class="btn-sm" onchange="funcnan();" >
						<option value="7"  selected>7天</option>
						<option value="30"  >30天</option>
						<option value="90" >90天</option>
					</select>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouRegnan(7);" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="regTongjinan" style="height: 300px"></figure>
				</div>
			</div>
		</div>

	</div><!--/col-->
	<div class="row">
		<div class="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>注册量统计（女）</strong></h2>
					<select name="daysnv" id="daysnv" data-am-selected="{btnSize: 'sm'}" class="btn-sm" onchange="funcnv();" >
						<option value="7"  selected>7天</option>
						<option value="30"  >30天</option>
						<option value="90" >90天</option>
					</select>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouRegnv(7);" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="regTongjinv" style="height: 300px"></figure>
				</div>
			</div>
		</div>

	</div><!--/col-->
	<script src="__PUBLIC__/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/echarts/macarons.js"></script>
<script src="__PUBLIC__/echarts/roma.js"></script>

	<script type="text/javascript">

		function func(){
		    //$q=document.getElementsByName('days').val;
            var index=window.document.getElementById("days").selectedIndex;
            var val=window.document.getElementById("days").options[index].value;
            TongjiYiZhouReg(val);

		}
        function funcnan(){
            //$q=document.getElementsByName('days').val;
            var index=window.document.getElementById("daysn").selectedIndex;
            var val=window.document.getElementById("daysn").options[index].value;
            TongjiYiZhouRegnan(val);

        }
        function funcnv(){
            //$q=document.getElementsByName('days').val;
            var index=window.document.getElementById("daysnv").selectedIndex;
            var val=window.document.getElementById("daysnv").options[index].value;
            TongjiYiZhouRegnv(val);
        }
        //注册量统计
        function TongjiYiZhouReg(days){
            var days=days;
            $data={
                days:days,
            };
            $.post("/Adms/Index/TongjiYiZhouReg",$data,function(data,status){
                //alert(data);
                echarts.init(document.getElementById('regTongji'),"macarons").setOption(eval('(' + data + ')'));
            });

        }
        TongjiYiZhouReg(7);

        //注册量统计(男)
        function TongjiYiZhouRegnan(days){
            var days=days;
            $data={
                days:days,
            };
            $.post("/Adms/Index/TongjiYiZhouRegnan",$data,function(data,status){
                //alert(data);
                echarts.init(document.getElementById('regTongjinan'),"macarons").setOption(eval('(' + data + ')'));
            });
        }
        TongjiYiZhouRegnan(7);
        //注册量统计(nv)
        function TongjiYiZhouRegnv(days){
            var days=days;
            $data={
                days:days,
            };
            $.post("/Adms/Index/TongjiYiZhouRegnv",$data,function(data,status){
                //alert(data);
                echarts.init(document.getElementById('regTongjinv'),"macarons").setOption(eval('(' + data + ')'));
            });

        }
        TongjiYiZhouRegnv(7);
	</script>
</block>