<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
		<!-- start: Content -->
			<div class="row">
				
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box red-bg">
						<div class="count">
						注册
						</div>
						<volist name="listTongjiReg" id="vo">
						<div class="title">平台{$key}:{$vo}</div>	
						</volist>							
					</div><!--/.info-box-->			
				</div><!--/.col-->
				
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box green-bg">
						<div class="count">充值</div>
						<volist name="listChongShuliang" id="vo">
						<div class="title">平台{$key}:{$vo}</div>	
						</volist>
						<div class="title">mycard:{$mycardchongshu}</div>
						<div class="title">paypal:{$paypalchongshu}</div>
					</div><!--/.info-box-->			
				</div><!--/.col-->
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box magenta-bg">
						<div class="count">充值率</div>
						<volist name="listTongjiChongzhilv" id="vo">
						<div class="title">平台{$key}:{$vo}</div>	
						</volist>					
					</div><!--/.info-box-->			
				</div><!--/.col-->	
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box blue-bg">
						<div class="count">收入</div>
						<volist name="listChongjine" id="vo">
						<div class="title">平台{$key}:{$vo}</div>	
						</volist>
						<div class="title">mycard:{$mycardtodaypay}</div>
						<div class="title">paypal:{$paypaltodaypay}</div>
					</div><!--/.info-box-->			
				</div><!--/.col-->
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box blue-bg">
						<div class="count">VIP收入</div>
						<volist name="listChongjinevip" id="vo">
							<div class="title">平台{$key}:{$vo}</div>
						</volist>
						<div class="title">mycard:{$mycardtodaypayvip}</div>
						<div class="title">paypal:{$paypaltodaypayvip}</div>
					</div><!--/.info-box-->
				</div><!--/.col-->
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<div class="info-box blue-bg">
						<div class="count">礼物收入</div>
						<volist name="listChongjinezs" id="vo">
							<div class="title">平台{$key}:{$vo}</div>
						</volist>
						<div class="title">mycard:{$mycardtodaypayzs}</div>
						<div class="title">paypal:{$paypaltodaypayzs}</div>
					</div><!--/.info-box-->
				</div><!--/.col-->
				
					
				
			</div><!--/.row-->
			
<!--	<div class="row">
		<div class="">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h2><i class="fa fa-bar-chart-o red"></i><strong>注册量统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouReg();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						
						</div>
						</div>
						<div class="panel-body">
							<figure class="demo" id="regTongji" style="height: 300px"></figure>
						</div>
				</div>
		</div>
		
			</div>&lt;!&ndash;/col&ndash;&gt;
<div class="row">				
			<div class="">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h2><i class="fa fa-bar-chart-o red"></i><strong>充值率统计</strong></h2>
					<div class="panel-actions">
						<a href="javascript:TongjiYiZhouCzlv();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						
						</div>
						</div>
						<div class="panel-body">
							<figure class="demo" id="TongjiYiZhouCzlv" style="height: 300px"></figure>
						</div>
				</div>
				
			</div>&lt;!&ndash;/col&ndash;&gt;
		</div>&lt;!&ndash;/row&ndash;&gt;
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>月总收入(人民币)</strong></h2>
					<div class="panel-actions">
						<a href="javascript:ShowruTongjiYue();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="ShowruTongjiYue" style="height: 300px"></figure>
				</div>
			</div>

		</div>&lt;!&ndash;/col&ndash;&gt;

	</div>&lt;!&ndash;/row&ndash;&gt;
	<div class="row">				
			<div class="col-md-12">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h2><i class="fa fa-bar-chart-o red"></i><strong>VIP月总收入(人民币)</strong></h2>
					<div class="panel-actions">
						<a href="javascript:ShowruTongjiYuevip();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
					
						</div>
						</div>
						<div class="panel-body">
							<figure class="demo" id="ShowruTongjiYuevip" style="height: 300px"></figure>
						</div>
				</div>
				
			</div>&lt;!&ndash;/col&ndash;&gt;
					
		</div>&lt;!&ndash;/row&ndash;&gt;
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bar-chart-o red"></i><strong>礼物月总收入(人民币)</strong></h2>
					<div class="panel-actions">
						<a href="javascript:ShowruTongjiYuelw();" ><i class="fa fa-rotate-right"></i></a>
						<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

					</div>
				</div>
				<div class="panel-body">
					<figure class="demo" id="ShowruTongjiYuelw" style="height: 300px"></figure>
				</div>
			</div>

		</div>&lt;!&ndash;/col&ndash;&gt;

	</div>&lt;!&ndash;/row&ndash;&gt;-->


	<script src="__PUBLIC__/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/echarts/macarons.js"></script>
<script src="__PUBLIC__/echarts/roma.js"></script>

	<script type="text/javascript">
   
	//注册量统计
	function TongjiYiZhouReg(){
		$.post("/Adms/Index/TongjiYiZhouReg",function(data,status){
				//alert(data);
				echarts.init(document.getElementById('regTongji'),"macarons").setOption(eval('(' + data + ')'));
			});
		
      }
	  TongjiYiZhouReg();
	  //充值率统计
    function TongjiYiZhouCzlv(){
  $.post("/Adms/Index/TongjiYiZhouCzlv",function(data,status){
          //alert(data);
          echarts.init(document.getElementById('TongjiYiZhouCzlv'),"roma").setOption(eval('(' + data + ')'));
      });
}
TongjiYiZhouCzlv();
      //注册区域统计
     /* function ShowruTongjiYue(){
   $.post("/Adms/Index/ShowruTongjiYue",function(data,status){
           //alert(data);
           echarts.init(document.getElementById('ShowruTongjiYue'),"macarons").setOption(eval('(' + data + ')'));
       });
 }
 ShowruTongjiYue();*/


    function ShowruTongjiYue(){
        $.post("/Adms/Index/ShowruTongjiYue",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYue");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
							itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYue();
	  //alert(1);
    function ShowruTongjiYuevip(){
        $.post("/Adms/Index/ShowruTongjiYuevip",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYuevip");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYuevip();

    function ShowruTongjiYuelw(){
        $.post("/Adms/Index/ShowruTongjiYuelw",function(data1,status){
            var dom = document.getElementById("ShowruTongjiYuelw");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            data1=eval("("+data1+")");
            var dataAxis =data1['xAxis'];
            var data=data1['series'];
            var yMax ="";
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

            option = {
                title: {
                    text: '月总收入',
                    subtext: '（人民币）'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                xAxis: {
                    data: dataAxis,
                    axisLabel: {
                        inside: true,
                        textStyle: {
                            color: '#7c99ff'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    z: 10
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    axisTick: {
                        show: false
                    },
                    axisLabel: {
                        textStyle: {
                            color: '#999'
                        }
                    }
                },
                dataZoom: [
                    {
                        type: 'inside'
                    }
                ],
                series: [

                    {
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#83bff6'},
                                        {offset: 0.5, color: '#188df0'},
                                        {offset: 1, color: '#188df0'}
                                    ]
                                )
                            },
                            emphasis: {
                                color: new echarts.graphic.LinearGradient(
                                    0, 0, 0, 1,
                                    [
                                        {offset: 0, color: '#2378f7'},
                                        {offset: 0.7, color: '#2378f7'},
                                        {offset: 1, color: '#83bff6'}
                                    ]
                                )
                            }
                        },
                        data: data
                    }

                ]
            };

// Enable data zoom when user click bar.
            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
        });
    }
    ShowruTongjiYuelw();
    </script>

			
</block>