<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<input name="id" type="hidden" value="{$Info.id}">
								<input name="tmpimg" type="hidden" value="{$Info.quieturl}">

								<div class="form-group">
								  <label class="control-label" for="goodsimg">缩略图</label>
								  <div class="controls">
								  <a href="" data-lightbox="image-165593" data-title="165593">
									 <img src="{$msgurl}{$Info.quieturl}" width="50em" >
									</a>
								 
								  </div>
									<input id="goodsimg" type="file" name="goodsimg" />
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/Gift/lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>