<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a>
								<a class="btn btn-primary" href="conversion.html">转化</a>
							</div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
									  <th>giftid</th>
                                      <th>名称(code)</th>
									  <th>图片</th>
									  <th>动态图</th>
                                      <th>状态</th>
									  <th>product</th>
									  <th>礼物说明</th>
									  <th>价格</th>
									   
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.id}</td>
									<td>{$vo.giftid}</td>
                                    <td>{$vo.title}{$vo.code}</td>
									<td>
									<a href="{$msgurl}{$vo.url}" data-lightbox="image-165593" data-title="165593">
									 <img src="{$msgurl}{$vo.url}" width="30em" >
									</a></td>
									<td>
										<a href="{$msgurl}{$vo.quieturl}" data-lightbox="image-165593" data-title="165593">
											<img src="{$msgurl}{$vo.quieturl}" width="30em" >
										</a></td>
                                    <td>
									
										
									
									<label class="switch switch-primary">
											<if condition='$vo.status eq 1'>
										      <input type="checkbox" class="switch-input" checked="1"   title="{$vo.id}" alt="{$vo.status}">
											<else />  
											 <input type="checkbox" class="switch-input"   title="{$vo.id}" alt="{$vo.status}">
											</if>
										      <span class="switch-label" data-on="上架" data-off="下架"></span>
										      <span class="switch-handle"></span>
										    </label>
									
									
									
									
									</td>
									<td>{$vo.product}</td>
									<td>{$vo.content}</td>
									<td>{$vo.price}</td>									
									<td>
										<a href="addurl.html?id={$vo.id}">添加动态图</a>||<a href="edit.html?id={$vo.id}&code={$vo.code}">修改</a> || <a href="del.html?id={$vo.id}&code={$vo.code}&mg={$vo.url}">删除</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    </script>		
</block>