/*Mobile web  start 20180514*/
  body{
    box-sizing: border-box;
    line-height: 1; 
    
 } 
 .banner1,.banner2{
    width: 100%;
    z-index: 10;
    height:35rem; 
    opacity: 0.8;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.banner1{
    background:url(../image/banner1.png) no-repeat center;
    background-size:100%;
}
.nav{
    font-size:0;
    background: rgb(0,0,0,.3); 
    padding:0 11.25rem;
}
.nav a{
    display:inline-block;
    width:50%;
    font-size: 1.75rem;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-decoration:none;
    line-height:5.5rem;
    height: 100%;
    color:#DDD;
    text-align: center;
    margin:0;
    padding:0;
}

.nav a:hover{
    color:#fff;
    font-size: 2.25rem;
}
 .nav a.on{
    color: #fff;
    font-size: 2.25rem;
}
 .balance{
    height:6.25rem;
    background:#f7f7f7;
    line-height: 6.25rem;
    
}
 .balance img{
    display: inline-block;
    position: relative;
    left:4.5rem; 
    top:0.5rem;   
}

 span.days{
    font-size: 2rem;
    color:#666;
    margin-left:5rem;
}
span.days1{
    font-size: 2rem;
    color:#666;
    margin-left:6rem;
    vertical-align:middle;

}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #4CAF50;
    border-radius: 8px;
    font-size: 20px;
    margin-left:1rem;
    vertical-align:middle;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
span.number{
    font-size: 2rem;
    color:#ff3ccb;
}
 .tit1{
    width:100%; 
    height: 5.7rem;   
    background: url(../image/tit01.png) no-repeat center;
   
}
 .content01{
    position: relative;
    padding: 0 5%;
}
 .content01 a{
    float: left;
    display: inline-block;
    width:40%;
    height:11.69rem;
    text-align:center;
    color: #ff3ccb;
    text-decoration:none;
    margin-bottom: 2.5rem;
   }
 .content01 a.gold01,.platinum01,.diamond01{
    margin-right:20%;
    
}
 .content01 a span{
    display: inline-block;
    padding:3.75rem 0 1rem;
}
.content01 a span.money{
    font-size:3.625rem;

}
 .content01 a span.nts{
    font-size:2rem;
}
 .content01 p.day{
    font-size:2.25rem;
}

 .content01 a.gold01,.gold02{
    background: url(../image/gold.png) no-repeat center;
}
 .content01 a.platinum01,.platinum02{
    background: url(../image/platinum.png) no-repeat center;
}
 .content01 a.diamond01,.diamond02{
    background: url(../image/diamond.png) no-repeat center;
}
 .tit2{
    width:100%;
    height:4.06rem;
    background:url(../image/tit02.png) no-repeat center;
    margin:3.75rem 0 2.5rem;
}
.privilege{
    height: 40rem;
    background: url(../image/sm.png) no-repeat top;
    background-size:90%;
}
/*end*/

/*kaishi*/
.banner2{
    background:url(../image/banner2.png) no-repeat center;
    background-size:100%;
}
.surplus{
    height:6.25rem;
    background:#f7f7f7;
    line-height: 6.25rem;
    
}
 .surplus img{
    display: inline-block;
    position: relative;
    left:4.5rem; 
    top:0.5rem;   
}

 .surplus span.diam{
    font-size: 2rem;
    color:#666;
    margin-left:5rem;
}
 .surplus span.number02{
    font-size: 2rem;
    color:#ff3ccb;
}
.tit3{
    width:100%; 
    height:5.7rem; 
    background: url(../image/tit03.png) no-repeat center;
}
 .content02{
    position: relative;
    padding: 0 5% 0;
}

 .content02 a{
    float: left;
    display: inline-block;
    width:40%;
    height:11.69rem;
    text-align:center;
    color: #ff3ccb;
    text-decoration:none;
    margin-bottom: 2.5rem;
   }
 .content02 a.pa01,.pa03,.pa05{
    margin-right:20%;
    
}
 .content02 a span{
    display: inline-block;
    padding:2rem 0 1rem;
}
.content02 a span.money{
    font-size:3.625rem;

}
 .content02 a span.nts{
    font-size:2rem;
}
 .content02 p.day{
    font-size:2.25rem;
}
.content02 a{
    background: url(../image/bgt.png) no-repeat center;
}
.use{
    padding:0 5% 0;
}
.use h4{
    font-size: 2rem;
    color:#333;
}
.use img{
    display: inline-block;
    position: relative;
    left:0; 
    top:0.8rem;  
   padding-right:1.5rem;
}
.use div{
    margin-top:1.875rem;
    height: 3rem;
}
.use div span{
    display: inline-block;
    font-size: 1.5rem;
    color:#666;
}
.btn1 {
    background-color: #4CAF50;
    border: none;
    font-size: 10px;
}