<extend name="./Application/Usersadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th class="table-title">账户类型</th>
                                            <th class="table-type">账户名</th>
                                            <th class="table-author am-hide-sm-only">提取的魅力值</th>
                                            <th class="table-author am-hide-sm-only">提取的金额</th>
                                            <th class="table-date am-hide-sm-only">提取的时间</th>
                                            <th class="table-set">审核状态</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList" id="vo">
                                        <tr>
                                            <if condition='$vo.account_type eq 1'>
                                                <td>微信</td>
                                                <elseif condition='$vo.account_type eq 2'/>
                                                <td>支付宝</td>
                                                <elseif condition='$vo.account_type eq 3'/>
                                                <td>paypal</td>
                                                <else />
                                                <td></td>
                                            </if>
                                            <td>{$vo.account}</td>
                                            <td>
                                            {$vo.money}
                                            </td>
                                            <td>
                                                {$vo.money1}
                                            </td>

                                            <td>{$vo.paytime|date="Y-m-d H:i",###}</td>

                                            <if condition='$vo.is_tixian eq 1'>
                                                <td>正在审核中。。。</td>
                                                <elseif condition='$vo.is_tixian eq 2'/>
                                                <td>已通过</td>
                                                <elseif condition='$vo.is_tixian eq 3'/>
                                                <td>已驳回</td>
                                            </if>

                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a href="xiangxijilu.html?paytime={$vo.paytime}&type={$vo.type}"
                                                           class="userinfo"
                                                           id="userinfo"  title="{$vo.uid}">查看所属用户详细记录</a>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>