<extend name="./Application/Usersadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>


							<div class="form-group">
							<label class="col-sm-3 control-label" for="input-normal">本次分享所得可提取魅力值：</label>
							<div class="col-sm-6">
								<input type="text" id="input-normal" name="old_password" class="form-control"
									   placeholder="{$totalsharemoney}" disabled>
							</div>
						</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">本次分享所得可提取金额为：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="old_password" class="form-control"
										   placeholder="{$totalsharerealmoney}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">本次按比例所得可提取魅力值：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="old_password" class="form-control"
										   placeholder="{$totalbilimoney}" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">本次提取按比例所得可提取金额为：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="old_password" class="form-control"
										   placeholder="{$totalbilirealmoney}" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">本次可提取总魅力值：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="old_password" class="form-control"
										   placeholder="{$leftmoney}" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">可提取总金额为：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="old_password" class="form-control"
										   placeholder="{$leftrealmoney}" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">用户名：</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="username" class="form-control"
										   placeholder="">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">账号类型：</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" checked="true" id="inline-radio2" name="paytype" value="1">微信
									</label>
									<label class="radio-inline" for="inline-radio1">
										<input type="radio"  id="inline-radio1" name="paytype"
											   value="2">支付宝
									</label>

									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="inline-radio2" name="paytype" value="3">paypal
									</label>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">账号：</label>
								<div class="col-sm-6">
									<input type="text" id=" " name="pay" class="form-control"
										   placeholder="">
								</div>
							</div>

						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 一键提取
							</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>