
/*Registration_Agreement*/
body{
    box-sizing: border-box;
    line-height: 1; 
    background: #b9e9fd;
    height: 100%;
 } 
 
 .head h2.tit{
    font-weight:normal;
    font-size:2rem;
    color:#333;
    background: #fff;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    
 }
.rebg{
    position: relative;
    background:#fff;
    width:85%;
    height: 100%; 
    margin:3.5rem auto;
    padding:2.5rem 2.5rem 1.875rem 2rem;
}

.rebg h2.title01{
position: absolute;
top:-2rem;
left:36%;
text-align: center;
font-weight:normal;
font-size: 2.5rem;
color:#333;
background: #fff;
width:15rem;
height: 4.2rem;
line-height: 4.2rem;
border-radius: 2rem;
box-shadow: #eee 0 0 0.6rem;
}



.rebg  p{
    font-size:1.75rem;
    color: #5e5e5e;
    padding-bottom:2rem;
    line-height:2.625rem;
    text-align: justify;
}
.rebg  p.notice{
    padding-top: 2.5rem;
}
   

.rebg  h3{
    font-size:2rem;
    font-weight:normal;
    color:#333;
    padding:0;
    margin-bottom:1.875rem;
   
}