<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
							<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
								<div class="form-group">
								  <label class="control-label" >名称(可批量添加，以“|”为分隔)</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="name" class="form-control focused" id="focusedInput" type="text"
											   value="">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/Sensitive/lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
    </script>		
</block>