<extend name="./Application/Usersadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>

				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">原密码</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="old_password" class="form-control"
											   placeholder="">
				                    </div>
				                </div>
							<div class="form-group">
								<label class="col-sm-3 control-label">新密码</label>
								<div class="col-sm-6">
									<input type="text" id=" " name="new_password" class="form-control"
										   placeholder="">
								</div>
							</div>

						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>