<extend name="./Application/Usersadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
							<!--<div style="float:left; margin-right: 20px; margin-top: 5px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->

							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>
										 <!-- <input type="checkbox" name="checkedAll" id="checkedAll" style="width:25px;height:25px;" onclick="return checkAll()" />-->
										  ID</th>
                                      <th>uid</th>
									  <th>来源</th>
                                      <th>类型</th>
									  <th>提取的魅力值({$totalmoney})</th>
									  <th>金额({$totalrealmoney})</th>
									  <th>发送人</th>
									  <th>发送时间</th>
									  <th>状态</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								  <tr id="tr-{$vo.id}" >
									  <td>{$vo.id}</td>
									  <td><a href="../user/userinfo.html?uid={$vo.account}">{$vo.account}</a></td>
                                      <if condition='$vo.account_type eq 1'>
                                          <td>VIP</td>
                                          <elseif condition='$vo.account_type eq 2'/>
                                          <td>VIP（索要）</td>
                                          <elseif condition='$vo.account_type eq 3'/>
                                          <td>礼物</td>
                                          <elseif condition='$vo.account_type eq 8'/>
                                          <td>分享奖励金</td>
                                          <else />
                                          <td>其他</td>
                                      </if>

                                      <if condition='$vo.type eq 8'>
                                          <td>分享提成</td>
                                          <elseif condition='$vo.type eq 9'/>
                                          <td>比例提成</td>
                                      </if>
                                      <td>{$vo.money}</td>
									<td>{$vo.realmoney}</td>
									  <td>{$vo.to_uid}</td>


									<td>{$vo.paytime|date="Y-m-d H:i",###}</td>
									  <if condition='$vo.is_tixian eq 4'>
										  <td>待提交申请</td>
										  <elseif condition='$vo.is_tixian eq 1'/>
										  <td>正在审核中。。。</td>
										<elseif condition='$vo.is_tixian eq 2'/>
										<td>已通过</td>
										<elseif condition='$vo.is_tixian eq 3'/>
										<td>已驳回</td>
									</if>


								</tr>
								</volist>	
							  </tbody>

						  </table>
							<!--<div style="float:left; margin-right: 20px; margin-top: 20px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">
        //单选通过
        function check1(id,uid,money,type){
            var data = {'is_tixian':2,'uid':uid,'id':id,'money':money,'type':type};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //单选驳回
        function check2(id,uid,money,type){
            var data = {'is_tixian':3,'id':id,'uid':uid,'money':money,'type':type};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
            },'JSON');
        }
        //全选通过
        /*function check3(){
            var id=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                }
            }
            var data = {'status':2,'id':id};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }*/
        //全选驳回
       /* function check4(){
            var id=new Array();
            var danamicid=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                    danamicid[i]=obj[i].title;
                }
            }
            var data = {'status':3,'id':id};
            var url = "/Adms/Withdrawal/judge";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
            },'JSON');
        }*/
        //实现全选
        /*function checkAll() {
            if ($(this).attr("checked") == true) {
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                    // $(this).attr("checked", false);
                });
            } else {
                // 取消全选
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                });
            }
        }*/



	</script>
</block>