<extend name="./Application/Usersadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">

</div>
<div class="row listdata">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th class="table-title">UID</th>
                                            <th class="table-author am-hide-sm-only">提取的魅力值</th>
                                            <th class="table-date am-hide-sm-only">提取的时间</th>
                                            <th class="table-set">可提取的金额</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList" id="vo">
                                        <tr>
                                                <td>{$vo.uid}</td>
                                            <td>
                                            {$vo.money}
                                            </td>

                                            <td>{$vo.paytime|date="Y-m-d H:i",###}</td>



                                            <td>
                                                {$vo.realmoney}
                                            </td>

                                        </tr>
                                        </volist>

                                    </tbody>
                                </table>

							{$Pages}

						</div>
					</div>
				</div><!--/col-->

			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>