/*Mobile web  start 20190530*/
  body{
    box-sizing: border-box;
    height: 100%;
    line-height: 1; 
    
 } 

 /* .date h1{width:100%;
         font-size:1.75rem;
         color:#333;
         padding:1.875rem  1.5rem;
       
 } */
.date  img{
        width:100%;
         background-size: 100%;
         padding:0 1.5rem  1.875rem;

}

.date .vip01{
     padding-top: 1.875rem;

}

.hint img{
   
    padding-top: 7.5rem;
    margin: 0 auto;
}
/* end */