<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<input name="id" type="hidden" value="{$Info.id}">
								<input name="tmpimg" type="hidden" value="{$Info.url}">
								<div class="form-group">
								  <label class="control-label" for="date01">名称</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="title" class="form-control focused" id="focusedInput" type="text" value="{$Info.title}">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">代码（code）</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="code" class="form-control focused" type="text" value="{$Info.code}">
										</div>
									</div>
								</div>

								<div class="form-group">
								  <label class="control-label" for="date01">平台</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="product" class="form-control focused" type="text" value="{$Info.product}">
									</div>	
								  </div>
								</div>
								<!--<div class="form-group">
									<label class="control-label" for="date01">礼物id</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="giftid" class="form-control focused" type="text" value="{$Info.giftid}">
										</div>
									</div>
								</div>-->

								<div class="form-group">
								  <label class="control-label" for="daterange">排序</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<span class="input-group-addon">$</span>
										<input name="price" value="{$Info.price}" id="appendedPrependedInput" class="form-control" size="16" type="text">
									</div>
								  </div>
								</div>
								

								<div class="form-group">
								  <label class="control-label" for="goodsimg">表情</label>
								  <div class="controls">
								  <a href="http://newtaiwan.oss-cn-hongkong.aliyuncs.com/data{$Info.img}" data-lightbox="image-165593" data-title="165593">
									 <img src="{$msgurl}{$Info.url}" width="50em" >
									</a>
								 
								  </div>
									<input id="goodsimg" type="file" name="goodsimg" />
								</div>
								
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/Gift/lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>