<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
						<form class="form-horizontal" action="{$action}" method="get">
						时间：从<input class="input-sm" onClick="WdatePicker()" type="text" name="dateStart" value="{$_GET.dateStart}" />
							 到<input class="input-sm" onClick="WdatePicker()" type="text" name="dateEnd" value="{$_GET.dateEnd}" />之间
								
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							 
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>排名</th>
                                      <th>账号</th>
									  <th>提成</th>
									  <th>奖金</th>
									  <th>总金额</th>
									  <th>收款信息</th>
									  <th>明细</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="ListData" id="vo" key="k">
								<tr>
									<td>{$k}</td>
                                    <td>{$vo.pid}({$vo.uname})</td>
                                    <td>
										人民币：{$vo.money}<br />
										台币：{$vo.Tai_money}
									</td>
									<td>
										人民币：{$vo.Jiang_money}<br />
										台币：{$vo.Tai_Jiang_money}
									</td>
									<td>
										人民币：{$vo['money']+$vo['Jiang_money']}<br />
										台币：{$vo['Tai_money']+$vo['Tai_Jiang_money']}
									</td>
									<td>{$vo.payinfo}</td>
									<td>
										<a href="javascript:$.dialog({height:500,width:'300px',id: 'testID2',title:'{$vo.uname}-提成信息',content: 'url:'+'/Adms/View/Gongzi?pid={$vo.pid}&PaiMing={$k}&dateStart={$_GET.dateStart}&dateEnd={$_GET.dateEnd}'});">明细</a>
									</td>
								</tr>
								</volist>	
								<tr>
									<td></td>
                                    <td></td>
                                    <td>
										
									</td>
									<td>
										合计：
									</td>
									<td>
										人民币：{$Allmoneys}<br />
										台币：{$TaiAllmoneys}
									</td>
									<td>
										
									</td>
								</tr>
							  </tbody>
						  </table>    
						  {$Pages}       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			
</block>