<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>

				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">用户名</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="translateid" name="name" class="form-control"
											   value="{$msglist['name']}">
										<input type="hidden" id="" name="id" class="form-control"
											   value="{$msglist['id']}">
				                    </div>
				                </div>

							<div class="form-group">
								<label class="col-sm-3 control-label">密码</label>
								<div class="col-sm-6">
									<input type="text" id="" name="password" class="form-control"
										   value="{$msglist['password']}"
										   placeholder="如果为空则默认密码为123456">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">类型</label>
								<div class="col-sm-6">
								<label><input name="type" type="radio" value="1" <if condition='$msglist.type eq 1'>
									checked="true"
								</if>/>1</label><br>[23点-5点1.5倍  其他正常1倍]<br>
								<label><input name="type" type="radio" value="2" <if condition='$msglist.type eq 2'>
									checked="true"
								</if> />2 </label><br>[18点到24点 1.5倍 其他正常1倍]<br>
								<label><input name="type" type="radio" value="3" <if condition='$msglist.type eq 3'>
									checked="true"
								</if> />3</label><br>0点到5点 2倍 其他正常1倍<br>
								<label><input name="type" type="radio" value="4" <if condition='$msglist.type eq 4'>
									checked="true"
								</if> />4</label><br>5点到8点 1.5倍   8点-18点1.2倍  其他正常1倍<br>
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-3 control-label">平台号</label>
								<div class="col-sm-6">
                                    <div class="input-group date col-sm-10">
                                        <volist name="getproduct" id="vo">
                                            <div class="countrylistdiv">
												<label class="radio-inline" for="inline-radio1">
												<input type="checkbox" name="productids[]"
                                                                               value="{$vo.id} " {$vo.checked}/><span>


												{$vo.id}</span></div>
                                        </volist>
                                    </div>
                                </div>
                            </div>




						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>