<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-small">UID</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-small" name="uid" class="form-control input-sm" placeholder="">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">充值天数/钻石数量</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="days" class="form-control" placeholder="">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">订单号</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="translateid" name="translateid" class="form-control" placeholder="测试订单可以不填">
				                    </div>
				                </div>
				           	<div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">充值金额</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="money" name="money" class="form-control" placeholder="测试订单可以不填">
				                    </div>
				                </div>
								
								<div class="form-group">
				                    <label class="col-sm-3 control-label">充值类型</label>
				                    <div class="col-sm-6">
				                        <label class="radio-inline" for="inline-radio1">
				                        	<input type="radio" checked="true" id="inline-radio1" name="type" value="1"> 包月充值
				                        </label>
				                        <label class="radio-inline" for="inline-radio2">
				                        	<input type="radio" id="inline-radio2" name="type" value="3"> 钻石充值
				                        </label>
				                        
				                    </div>
				                </div>
						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>