<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>

				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">年龄</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="age" class="form-control" placeholder="">
				                    </div>
				                </div>
							<div class="form-group">
								<label class="col-sm-3 control-label">性别</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="inline-radio1" name="gender"
											   value="1"> 男
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="inline-radio2" name="gender" value="2"> 女
									</label>

								</div>
							</div>


				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">昵称</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="translateid" name="nickname" class="form-control" placeholder="昵称可以不填">
				                    </div>
				                </div>

							<div class="form-group">
								<label class="col-sm-3 control-label">用户类型</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id=""  name="usertype"
											   value="1"> 普通用户
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="2"> 采集用户
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="3"> 推广用户
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="4"> 测试用户
									</label>
									<!--<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="5"> 普通推广用户
									</label>-->
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="9"> 营销有底薪用户
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="" name="usertype" value="10"> 营销无底薪用户
									</label>
                                    <label class="radio-inline" for="inline-radio2">
                                        <input type="radio" id="" name="usertype" value="11"> 1V1用户
                                    </label>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">推荐人id</label>
								<div class="col-sm-6">
									<input type="text" id="input-normal" name="puid" class="form-control" placeholder="选择老推广人员时输入，默认为10000！">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">聊天用户是否开启随聊：</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="inline-radio1" name="issuiliao"
											   value="0"> 不开启
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="inline-radio2" name="issuiliao" value="1"> 开启
									</label>

								</div>
							</div>

				           	<div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">平台号</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="money" name="product" class="form-control" placeholder="">
				                    </div>
				                </div>

						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>