<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="get" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
			<input type="hidden" value="{$step}" name="step" />
					<!-- step 1 -->
					<div class="panel-footer">
		                    <a class="btn btn-sm btn-success" href="/Adms/User/CaijiRun.html">开始采集</a>
	                        <a class="btn btn-sm btn-success" href="/Adms/User/Caiji.html">重新获取</a>
		                </div>	
					<div <if condition="$step neq 1">style="display:none"</if> >
				                <table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>UID</th>
                                      <th>昵称</th>
									  <th>性别</th>
                                      <th>体重</th>
									  <th>身高</th>
									  <th>相册</th>
									   
									  
									  
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="ResUserList" id="vo">
								<tr>  
									<td><img src="{$vo.ico}" width="30em" alt="ico" class="img-circle">{$vo.uid}</td>
                                    <td>{$vo.nick_name}</td>
									
                                    <td><if condition='$vo.gender eq 1'>女<else />男</if></td>
									<td>{$vo.weight}</td>
									<td>{$vo.height}</td>									
									<td>
									 <volist name="vo.photos" id="vo1">
											&nbsp;<img class="preview" src="{$vo1}" width="30em" alt="ico">
											</volist>	
	
									</td>
									
									
								</tr>
								</volist>	
							  </tbody>
						  </table>  
						  {$Pages}
				          </div>   
					<!-- step 1 end-->

					<!-- step 2 -->
					<div <if condition="$step neq 2">style="display:none"</if> >
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-small">用户列表</label>
				                    <div class="col-sm-6">
									<select name="user_list" class="btn-sm">
									{$option}
									</select>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-small">总页数</label>
				                    <div class="col-sm-6">
									<select name="pagetotal" class="btn-sm">
										{$option}
									</select>
				                    </div>
				                </div>								
				          </div>   
					<!-- step 2 end-->	  
						</div>
						
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>