﻿﻿﻿<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">


	<div class="col-lg-12">
		<div class="panel panel-default">

			<form action="{$action}" method="post" class="form-horizontal ">
				<div class="panel-heading">
					<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
				</div>
				<div class="panel-body">
					<if condition='$error eq 1'>
						<div class="alert alert-warning alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span></button>
							{$msg}
						</div>
					</if>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-normal">头像</label>
                        <div class="col-sm-6">
                            <img src="{$UserInfo.head.url}" width="50em" alt="ico" class="img-rounded">
                            <a href="javascript:void(0);" onclick="return diy_confirm({$UserInfo.head.id}) ">删除</a>
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="input-normal">昵称</label>
						<div class="col-sm-6">
							<input type="text" id="translateid" name="nickname" class="form-control"
								   value="{$UserInfo.nickname}">
							<input type="hidden" id="" name="uid" class="form-control"
								   value="{$UserInfo['uid']}">
                            <input type="hidden" id="" name="jump" class="form-control"
                                   value="caijiuserinfo.html?uid={$UserInfo['uid']}&page={$page}">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">密码</label>
						<div class="col-sm-6">
							<input type="text" id="" name="password" class="form-control"
								   value="{$UserInfo.password}"
							>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">内心独白</label>
						<div class="col-sm-6">
							<input type="text" id="" name="mood" class="form-control"
								   value="{$UserInfo.mood}"
							>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">年龄</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="age" name="age" id="age">
                            <option value="{$UserInfo.age}">{$UserInfo.agename}</option>
							<foreach name="attrconf.age.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>

						</select>

					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">身高</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="height" name="height" id="height">
                            <option value="{$UserInfo.height}">{$UserInfo.heightname}</option>
							<foreach name="attrconf.height.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">体重</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="weight" name="weight" id="weight">
                            <option value="{$UserInfo.weight}">{$UserInfo.weightname}</option>
							<foreach name="attrconf.weight.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">收入</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="income" name="income" id="income">
                            <option value="{$UserInfo.income}">{$UserInfo.incomename}</option>
							<foreach name="attrconf.income.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">婚姻状况</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="marriage" name="marriage" id="marriage">
                            <option value="{$UserInfo.marriage}">{$UserInfo.marriagename}</option>
							<foreach name="attrconf.marriage.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">教育背景</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="education" name="education" id="education">
                            <option value="{$UserInfo.education}">{$UserInfo.educationname}</option>
							<foreach name="attrconf.education.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">工作</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="work" name="work" id="work">
                            <option value="{$UserInfo.work}">{$UserInfo.workname}</option>
							<foreach name="attrconf.work.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">血型</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="blood" name="blood" id="blood">
							<option value="{$UserInfo.blood}">{$UserInfo.bloodname}</option>
							<foreach name="attrconf.blood.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">是否要小孩</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="wantchild" name="wantchild" id="wantchild">
							<option value="{$UserInfo.wantchild}">{$UserInfo.wantchildname}</option>
							<foreach name="attrconf.wantchild.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">交友目的</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="friendsfor" name="friendsfor" id="friendsfor">
							<option value="{$UserInfo.friendsfor}">{$UserInfo.friendsforname}</option>
							<foreach name="attrconf.friendsfor.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
					<label class="col-sm-3 control-label">婚前同居</label>
					<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="cohabitation" name="cohabitation" id="cohabitation">
						<option value="{$UserInfo.cohabitation}">{$UserInfo.cohabitationname}</option>
						<foreach name="attrconf.cohabitation.option" item="vo" >
							<option value="{$key}">{$vo}</option>
						</foreach>
					</select>
				</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">期望約會的地方</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="cohabitation" name="dateplace" id="dateplace">
							<option value="{$UserInfo.dateplace}">{$UserInfo.dateplacename}</option>
							<foreach name="attrconf.dateplace.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">戀愛次數</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="cohabitation" name="lovetimes" id="lovetimes">
							<option value="{$UserInfo.lovetimes}">{$UserInfo.lovetimesname}</option>
							<foreach name="attrconf.lovetimes.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">是否有房</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="cohabitation" name="house" id="house">
							<option value="{$UserInfo.house}">{$UserInfo.housename}</option>
							<foreach name="attrconf.house.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">是否有車</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="car" name="car" id="car">
							<option value="{$UserInfo.car}">{$UserInfo.carname}</option>
							<foreach name="attrconf.car.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">是否接受异地恋</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="exoticlove" name="exoticlove" id="exoticlove">
							<option value="{$UserInfo.exoticlove}">{$UserInfo.exoticlovename}</option>
							<foreach name="attrconf.exoticlove.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">婚前性行为</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="sexual" name="sexual" id="sexual">
							<option value="{$UserInfo.sexual}">{$UserInfo.sexualname}</option>
							<foreach name="attrconf.sexual.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">愿意同父母居住</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="livewithparents" name="livewithparents" id="livewithparents">
							<option value="{$UserInfo.livewithparents}">{$UserInfo.livewithparentsname}</option>
							<foreach name="attrconf.livewithparents.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">性格類型</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="cohabitation" name="charactertype" id="charactertype">
							<option value="{$UserInfo.charactertype}">{$UserInfo.charactertypename}</option>
							<foreach name="attrconf.charactertype.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<!--<div class="form-group">
						<label class="col-sm-3 control-label">个性标签</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="livewithparents" name="personalitylabel" id="personalitylabel">
							<option value="{$UserInfo.personalitylabel}">{$UserInfo.personalitylabelname}</option>
							<foreach name="attrconf.personalitylabel.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">喜欢的类型</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="liketype" name="liketype" id="liketype">
							<option value="{$UserInfo.liketype}">{$UserInfo.liketypename}</option>
							<foreach name="attrconf.liketype.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">魅力部位</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="glamour" name="glamour" id="glamour">
							<option value="{$UserInfo.glamour}">{$UserInfo.glamourname}</option>
							<foreach name="attrconf.glamour.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">興趣愛好</label>
						<select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="hobby" name="hobby" id="hobby">
							<option value="{$UserInfo.hobby}">{$UserInfo.hobbyname}</option>
							<foreach name="attrconf.hobby.option" item="vo" >
								<option value="{$key}">{$vo}</option>
							</foreach>
						</select>
					</div>-->

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="input-normal">相册</label>
                        <div class="col-sm-6">
                            <volist name="UserInfo.photos" id="vo">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="width:15em;">
                                        <img src="{$vo.url}" alt="...">
                                        <div class="caption">
                                            <p><a href="javascript:void(0);" onclick="return diy_confirm('{$vo.id}')"  class="btn btn-primary"
                                                  role="button">删除</a></p>
											<p><a href="javascript:void(0);" onclick="return set_photo('{$vo.id}','{$UserInfo['uid']}')"  class="btn btn-primary"
												  role="button">设为头像</a></p>

                                        </div>
                                    </div>
                                </div>

                            </volist>
                        </div>
                    </div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-sm btn-success"  style="margin-left: 500px" onclick="window.location.href='delcaijiuser?uid={$UserInfo['uid']}&page={$page}'"><i class="fa fa-dot-circle-o"></i>删除该用户</button>
					<button type="submit" class="btn btn-sm btn-success"  ><i class="fa fa-dot-circle-o"></i>修改</button>
				</div>
			</form>
            <form action="/Adms/User/caijiuserlist.html" method="post" class="form-horizontal ">
                <div class="panel-footer">
                    <input type="hidden" id="b" name="uid" class="form-control"
                           value="{$UserInfo['uid']}">
					<input type="hidden" id="a" name="page" class="form-control"
						   value="{$page}">
                    <button type="button" class="btn btn-sm btn-success" style="margin-left: 500px" onclick="window.location.href='caijiuserlist.html?Page={$page}'"><i class="fa fa-dot-circle-o"></i>返回</button>
                    <button type="submit" class="btn btn-sm btn-success" onclick="window.location.href=''"><i class="fa fa-dot-circle-o"></i>下一个</button>
                </div>
            </form>


		</div>
	</div>








	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=27ad0293a63320315a8a62438fd6c29a"></script>
	<script type="text/javascript">
        var obj = document. getElementsByName("locationkey");


		for( var k = 0, length = obj.length; k < length; k++){

		   // var longitude=113;
           // var latitude=34.6957;
            var longitude=obj[k].accessKey;
           var latitude=obj[k].align;
            var map = new AMap.Map('container'+obj[k].title, {
                resizeEnable: true,
                zoom:11,//级别
                center: [longitude, latitude],//中心点坐标
                viewMode:'3D'//使用3D视图
            });
            var marker = new AMap.Marker({
                position: map.getCenter(),
                draggable: true,
                cursor: 'move'
            });
            marker.setMap(map);


		}

	</script>
	<script type="text/javascript">
        function is_suiliao(uid,type){
            var data = {'uid':uid,'type':type};
            var url = "/Adms/user/issuiliao";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg(result.message,{
                        time: 300
                    });
                }
                if(result.status =='0') {
                    layer.msg(result.message,{
                        time: 300
                    });
                }
                location.reload();
            },'JSON');

        }
	function diy_confirm(id){
        var data = {'id':id};
        var url = "/Adms/user/deleteImg";
        $.post(url,data,function(result){
        if(result.status =='1') {
            layer.msg('已删除图片',{
                time: 300
            });
        }
	location.reload();
	},'JSON');

	}
        function set_photo(id,uid){
            var data = {'id':id,'uid':uid};
            var url = "/Adms/user/setphoto";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已设置为头像',{
                        time: 300
                    });
                }
                location.reload();
            },'JSON');

        }

    //单选驳回
    function check2(id,uid){
        var data = {'status':3,'id':id,'uid':uid};
        var url = "/Adms/User/judge";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg('已驳回',{
                    time: 300
                });
                $("#tr-"+id).remove();
            }
        },'JSON');
    }
	</script>
</block>