<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
						<select name="gender" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
			              <option value="">全部性别</option>
			              		<volist name="status.user.gender" id="dvo" key="gk">      	
							    <option value="{$gk}" <if condition='$get.gender eq $gk'>selected="selected"</if>>{$dvo}</option>
							  </volist>
			            </select>

								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">UID</th>
                                            <th class="table-title">昵称</th>
                                            <th class="table-type">性别</th>
                                            <th class="table-author am-hide-sm-only">会员/类型</th>
                                            <th class="table-date am-hide-sm-only">注册时间</th>
                                            <th class="table-date am-hide-sm-only">平台</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList.listSearch" id="vo">
                                        <tr>
                                            <td>{$vo.uid}</td>
                                            <td><a href="userinfo.html?uid={$vo.uid}">{$vo.nickname}</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                                                <a href="caijiuserinfo.html?uid={$vo.uid}&page={$page}">修改</a>


                                            </td>
                                            <td>
                                            {$status["user"]["gender"][$vo[gender]]}
                                            </td>
                                            <td class="am-hide-sm-only">
                                            {$status['user']['vipgrade'][$vo['vipgrade']]}/{$status['user']['user_type'][$vo['user_type']]}
                                            </td>
                                            <td class="am-hide-sm-only">{$vo.regtime|date="Y-m-d H:i",###}</td>
                                            <td class="am-hide-sm-only">{$vo.product}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a href="caijiuserinfo.html?uid={$vo.uid}&pagea={$page}" class="userinfo" id="userinfo"  title="{$vo.uid}">修改</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>