<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="get" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
							<if condition='$error eq 1'>
							<div class="alert alert-warning alert-dismissible fade in" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">×</span></button>
							 {$msg}
							</div>
							 </if>

					<!-- step 1 -->
					<div class="panel-footer">
							已采集{$ok}条。
		                    <div class="progress progress-striped">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {$baifenbi}%">
									<span class="sr-only">{$baifenbi}% Complete (warning)</span>
							  </div>
							</div>
		                </div>	
				
						</div>
						
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			<if condition='$error neq 1'>
		<script language="JavaScript">
				function myrefresh()
				{
				       window.location.href="{$url}";
				}
				setTimeout(myrefresh(),2000); //指定1秒刷新一次
				</script>	
			</if>	
			
</block>