<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
							 <select name="user_type" class="btn-sm">
							 <if condition='$get.user_type neq ""'>
								<option value ="{$get.user_type}">
								<if condition='$get.user_type eq 2'>
									采集用户
								<elseif condition='$get.user_type eq 3' />
									陪聊用户
								<elseif condition='$get.user_type eq 4' />
									管理员
								<elseif condition='$get.user_type eq 5' />
									在线客服
								<elseif condition='$get.user_type eq 6' />
									屏蔽的用户
								<elseif condition='$get.user_type eq 7' />
									未审核用户
								<else />
									普通注册用户
								</if>
								</option>
							 
							 </if>
								<option value ="">全部用户</option>
								  <option value ="2">采集用户</option>
								  <option value ="3">陪聊用户</option>
								<!--  <option value="4">管理员</option> -->
								 <option value="5">在线客服</option>
								  <option value="1">普通注册用户</option>
								   <option value="6">屏蔽的用户</option>
								   <option value="7">未审核用户</option>
								</select>
							<select name="gender" class="btn-sm">
							<if condition='$get.gender neq ""'>
								<option value ="{$get.gender}">
								<if condition='$get.gender eq 1'>
									女用户
								<else />
									男用户
								</if>
								</option>
							
							 
							 </if>
							 <option value ="">全部用户</option>
									<option value ="">全部用户</option>
								  <option value ="1">女用户</option>
								  <option value ="0">男用户</option>
								</select>
							 
							 注册时间： 从<input class="input-sm" onClick="WdatePicker()" type="text" name="dateStart" value="{$get.dateStart}" />
							到 <input class="input-sm" onClick="WdatePicker()" type="text" name="dateEnd" value="{$get.dateEnd}" />
								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>UID</th>
                                      <th>昵称</th>
									  <th>相册</th>
                                      <th>性别</th>
									  <th>会员</th>
									  <th>注册时间</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList.listSearch" id="vo">
								<tr>  
									<td><img src="{$vo.image.imageUrl}" width="30em" alt="ico" class="img-circle">{$vo.id}</td>
                                    <td>{$vo.nickName}</td>
									<td><a class="label label-info" href="javascript:$.dialog({height:500,width:'70%',id: 'testID2',title:'{$vo.nickName}({$vo.id})-用户信息',content: 'url:'+'/Adms/User/UserInfo?uid={$vo.id}&type=photo'});">{$vo.photo_num}张</a></td>
                                    <td><if condition='$vo.gender eq 1'>女<else />男</if></td>
									<td>{$vo.dayNum}</td>
									<td>{$vo.regtime}</td>									
									<td>

				<a class="label label-danger" href="javascript:if(confirm('确实要删除{$vo.id}吗?'))location='/Adms/User/DelUser?uid={$vo.id}'">删除用户</a>

									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}						  
       <a class="label label-danger" href="javascript:if(confirm('确实要删除吗?此功能慎用'))location='/Adms/User/DelAllUser?{$getsurl}'">删除全部用户</a>
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			
</block>