<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" name="myform" enctype="multipart/form-data">
								<div class="form-group">
								  <label class="control-label" for="date01">uid(用户UID)</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="uid" class="form-control focused" id="focusedInput" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " type="text" value="">
									</div>	
								  </div>
								</div>
								
								<div class="form-group">
								  <label class="control-label" for="date01">Count(充值金币数量或天数或者魅力值)</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="count" class="form-control focused" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " type="text" value="">
									</div>	
								  </div>
								</div>
								
								<div class="form-group">
								  <label class="control-label" for="date01">类型</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input type="radio" onchange="myFunction()" name="type" value="1" />充值金币
										<input type="radio" onchange="myFunction()" name="type" value="2" checked="checked" />充值VipTime
										<input type="radio" onchange="myFunction()" name="type" value="3"  />充值魅力值
									</div>	
								  </div>
								</div>

								<div id="number">

								</div>



								<div class="form-group">
									<!--<input type="submit" class="btn btn-primary" value="保存" />-->
									<input name="submit" type="button" class="btn btn-primary" value="保存"onClick="return check()" />
									<a href="userlist.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->
			</div>
	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
		function check(){
            if (myform.count.value==""){
                dialog.error("请输入充值数量！");
                myform.count.focus();return false;
            }
            if (myform.uid.value==""){
                dialog.error("请输入会员UID！");
                myform.uid.focus();return false;
            }
            var uid = $('input[name="uid"]').val();
            var count = $('input[name="count"]').val();
            var type = $("input[name='type']:checked").val();
            var type1 = $("input[name='type1']:checked").val();
            var url = "/Adms/User/recharge";
            var data = {'uid':uid,'count':count,'type':type,'type1':type1};
            // 执行异步请求  $.post
            $.post(url,data,function(result){
                if(result.status == 1) {
                    myform.uid.value="";
                    myform.count.value="";
                    return dialog.toconfirm(result.message);
                }
                if(result.status == 2) {
                    myform.uid.value="";
                    myform.count.value="";
                    return dialog.error(result.message);
                }
                if(result.status == 3) {
                    myform.uid.value="";
                    myform.count.value="";
                    return dialog.error(result.message);
                }

            },'JSON');
		}

        var radios = document.getElementsByName("type");
        var tag = false;
        var val;
        for(radio in radios) {
            if(radios[radio].checked) {
                tag = true;
                val = radios[radio].value;
                break;
            }
        }
        if(tag & val==2) {
            $number=document.getElementById('number');
            $number.innerHTML='<div class="form-group">\n' +
                '\t\t\t\t\t\t\t\t\t<label class="control-label" for="date01">会员</label>\n' +
                '\t\t\t\t\t\t\t\t\t<div class="controls">\n' +
                '\t\t\t\t\t\t\t\t\t\t<div class="input-group date col-sm-4">\n' +
                '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="1"checked="checked"  />一级会员\n' +
                '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="2"  />二级会员\n' +
                '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="3" />三级会员\n' +
                '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="4" />四级会员\n' +
                '\t\t\t\t\t\t\t\t\t\t</div>\n' +
                '\t\t\t\t\t\t\t\t\t</div>\n' +
                '\t\t\t\t\t\t\t\t</div>'
        }else{
            $number=document.getElementById('number');
            $number.innerHTML='';
        }


        function myFunction(){
            var radios = document.getElementsByName("type");
            var tag = false;
            var val;
            for(radio in radios) {
                if(radios[radio].checked) {
                    tag = true;
                    val = radios[radio].value;
                    break;
                }
            }
            if(tag & val==2) {
              $number=document.getElementById('number');
              $number.innerHTML='<div class="form-group">\n' +
                  '\t\t\t\t\t\t\t\t\t<label class="control-label" for="date01">会员</label>\n' +
                  '\t\t\t\t\t\t\t\t\t<div class="controls">\n' +
                  '\t\t\t\t\t\t\t\t\t\t<div class="input-group date col-sm-4">\n' +
                  '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="1"checked="checked"  />一级会员\n' +
                  '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="2"  />二级会员\n' +
                  '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="3" />三级会员\n' +
                  '\t\t\t\t\t\t\t\t\t\t\t<input type="radio" name="type1" value="4" />四级会员\n' +
                  '\t\t\t\t\t\t\t\t\t\t</div>\n' +
                  '\t\t\t\t\t\t\t\t\t</div>\n' +
                  '\t\t\t\t\t\t\t\t</div>'
            }else{
                $number=document.getElementById('number');
                $number.innerHTML='';
			}
		}


    </script>		
</block>