<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th class="table-id">ID</th>
                                            <th class="table-title">用户名</th>
                                            <th class="table-type">密码</th>
                                            <th class="table-type">平台号</th>
                                            <th class="table-type">总魅力值</th>
                                            <th class="table-type">可提取魅力值</th>
                                            <th class="table-type">类型</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList" id="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.name}</td>
                                            <td class="am-hide-sm-only">{$vo.password}</td>
                                            <td class="am-hide-sm-only">{$vo.productids}</td>
                                            <td class="am-hide-sm-only">{$vo.allmoney}</td>
                                            <td class="am-hide-sm-only">{$vo.leftmoney}</td>
                                            <td class="am-hide-sm-only">{$vo.type}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a href="add_three_user.html?id={$vo.id}"
                                                           class="userinfo"
                                                           title="{$vo.id}">修改</a> ||
                                                        <a href="delthreeuser.html?id={$vo.id}" class="userinfo" title="{$vo.uid}">删除</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>