﻿﻿﻿﻿<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">


	<div> <a class="btn btn-primary" href="{$url}">返回</a> </div>

<div class="panel panel-default">
<ul class="nav nav-tabs">
  <li role="presentation" <if condition='$Type eq "base"'>class="active"</if> ><a href="/Adms/User/userinfo.html?uid={$_GET.uid}">基本信息</a></li>
  <li role="presentation" <if condition='$Type eq "photo"'>class="active"</if>><a href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=photo">相册</a></li>
  <li role="presentation" <if condition='$Type eq "msglist"'>class="active"</if>><a href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=msglist">聊天记录</a></li>
	<li role="presentation" <if condition='$Type eq "sayhello"'>class="active"</if>><a
		href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=sayhello">打招呼记录</a></li>

	<li role="presentation" <if condition='$Type eq "dynamic"'>class="active"</if>><a
		href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=dynamic">动态记录</a></li>
	<li role="presentation" <if condition='$Type eq "modifyUserInfo"'>class="active"</if>><a
		href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=modifyUserInfo">修改个人资料</a></li>
    <li role="presentation" <if condition='$Type eq "shareuid"'>class="active"</if>><a
        href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=shareuid">所分享的人</a></li>
	<if condition='$UserInfo.user_type eq 3'>
	<li role="presentation" <if condition='$Type eq "online"'>class="active"</if>><a
		href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=online">在线信息</a></li>
	<li role="presentation" <if condition='$Type eq "oncallback"'>class="active"</if>><a
		href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=oncallback">消息回复率</a></li>
	</if>
</ul>
  <div class="panel-body">

	<ul class="list-group" <if condition='$Type neq "base"'>style="display:none"</if>>
		<li class="list-group-item">头像:<img src="{$UserInfo.head.url}" width="50em" alt="ico" class="img-rounded">
			<a href="javascript:void(0);" onclick="return diy_confirm({$UserInfo.head.id}) ">删除</a></li>




	  <li class="list-group-item">
	  UID:{$UserInfo.uid}&nbsp;
	  昵称：{$UserInfo.nickname}&nbsp;
	  <if condition='$UserInfo.gender eq 1'>男<else />女</if>
	  &nbsp;{$UserInfo.product}
	  </li>
	  <li class="list-group-item">
	  注册时间:{$UserInfo.regtime|date='Y-m-d H:i:s',###}<br />
	   账号:{$UserInfo.uid}<br />
	    密码:{$UserInfo.password}
	  </li>
	  <li class="list-group-item">
		  phoneid:<a href="userlist.html?kerword={$UserInfo.phoneid}">{$UserInfo.phoneid}</a>&nbsp;<br />
		  系统版本号:{$UserInfo.systemversion}&nbsp;<br />
		  手机版本号：{$UserInfo.version}&nbsp;<br />
		  产品号：{$UserInfo.product}&nbsp;
	  </li>
	  <li class="list-group-item">
	  地区:{$UserInfo.area_name}&nbsp;
	  </li>
	  <li class="list-group-item">包月到期时间为:{$UserInfo.viptime|date="Y-m-d H:i:s",###}&nbsp;金币:{$UserInfo.gold}
		  总魅力值：{$money.totalmoney}可提取魅力值: {$money.leftmoney} 奖励魅力值: {$money.awardmoney}</li>
	  <li class="list-group-item">最后登录时间:{$UserInfo.logintime|date="Y-m-d H:i:s",###}</li>
	  <li class="list-group-item">在线状态:{$onlineState}
		  <!--<if condition='$onlineState eq 1'>
			  Online
			  <elseif condition='$onlineState eq 2'/>
			  Pushonline
			  <else/>
			  Offonline
	  </if>-->
	  </li>
	   <li class="list-group-item">国家:{$UserInfo.country}&nbsp;语言：{$UserInfo.language}</li>

	  <li class="list-group-item">被谁分享：<a href="userinfo.html?uid={$UserInfo.beshareuid}">{$UserInfo.beshareuid}</a></li>
		  <volist name="extinfo" id="v">								
			<li class="list-group-item">{$v.name}：{$v.value}</li>
		 </volist>
	  <if condition='$UserInfo.user_type eq 3'>
	  <if condition='$UserInfo.issuiliao eq 0'>
		  <li class="list-group-item"><a href="javascript:void(0);" onclick="return is_suiliao({$UserInfo.uid},1)">
			  开启随聊</a></li>
		  <else />
		  <li class="list-group-item"><a href="javascript:void(0);" onclick="return is_suiliao({$UserInfo.uid},0)">
			  关闭随聊</a></li>
	  </if>
	  </if>
		  <li class="list-group-item"><a href="/Adms/user/userinfo.html?uid={$_GET.uid}&clearcache=1">清空缓存</a></li>

	<if condition='$UserInfo.user_type eq 6'>
		<li class="list-group-item"><a href="/Adms/user/userinfo.html?uid={$_GET.uid}&setusertype=1">取消屏蔽</a></li>
	<else />
	
		<li class="list-group-item"><a href="/Adms/user/userinfo.html?uid={$_GET.uid}&setusertype=6">禁止发信</a></li>
	</if>
	  <if condition='$UserInfo.user_type eq 8'>
		  <li class="list-group-item"><a href="/Adms/user/userinfo.html?uid={$_GET.uid}&setusertype=1&phoneid={$UserInfo.phoneid}">取消封号</a></li>
		  <else />

		  <li class="list-group-item"><a href="/Adms/user/userinfo.html?uid={$_GET.uid}&setusertype=8&phoneid={$UserInfo.phoneid}">封号</a></li>
	  </if>

	</ul>
		<!--修改个人资料-->
	  <div class="list-group" <if condition='$Type neq "modifyUserInfo"'>style="display:none"</if>>
	  <div class="col-lg-12">
		  <div class="panel panel-default">

			  <form action="{$action}" method="post" class="form-horizontal ">
				  <div class="panel-heading">
					  <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
				  </div>
				  <div class="panel-body">
					  <if condition='$error eq 1'>
						  <div class="alert alert-warning alert-dismissible fade in" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								  <span aria-hidden="true">×</span></button>
							  {$msg}
						  </div>
					  </if>

					  <div class="form-group">
						  <label class="col-sm-3 control-label" for="input-normal">昵称</label>
						  <div class="col-sm-6">
							  <input type="text" id="translateid" name="nickname" class="form-control"
									 value="{$UserInfo.nickname}">
							  <input type="hidden" id="" name="uid" class="form-control"
									 value="{$UserInfo['uid']}">
							  <input type="hidden" id="" name="jump" class="form-control"
									 value="userlist.html">
						  </div>
					  </div>

					  <div class="form-group">
					  <label class="col-sm-3 control-label">密码</label>
					  <div class="col-sm-6">
						  <input type="text" id="" name="password" class="form-control"
								 value="{$UserInfo.password}"
								 >
					  </div>
				  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">内心独白</label>
						  <div class="col-sm-6">
							  <input type="text" id="mood" name="mood" class="form-control"
									 value="{$UserInfo.mood}"
							  >
						  </div>
					  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">年龄</label>
							  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="age" name="age" id="age">
								  <option value="{$UserInfo.age}">{$UserInfo.agename}</option>
								  <foreach name="attrconf.age.option" item="vo" >
									  <option value="{$key}">{$vo}</option>
								  </foreach>

							  </select>

					  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">身高</label>
						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="height" name="height" id="height">
							  <option value="{$UserInfo.height}">{$UserInfo.heightname}</option>
							  <foreach name="attrconf.height.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>

					  <div class="form-group">
						  <label class="col-sm-3 control-label">体重</label>
						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="weight" name="weight" id="weight">
							  <option value="{$UserInfo.weight}">{$UserInfo.weightname}</option>
							  <foreach name="attrconf.weight.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>

					  <div class="form-group">
						  <label class="col-sm-3 control-label">收入</label>
						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="income" name="income" id="income">
							  <if condition='$UserInfo.income eq 0'>
								  <option value="{$UserInfo.income}">保密</option>
								  <else />
								  <option value="{$UserInfo.income}">{$UserInfo.incomename}</option>
							  </if>

							  <foreach name="attrconf.income.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">婚姻状况</label>

						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="marriage" name="marriage" id="marriage">
							  <if condition='$UserInfo.marriage eq 0'>
								  <option value="{$UserInfo.marriage}">保密</option>
								  <else />
								  <option value="{$UserInfo.marriage}">{$UserInfo.marriagename}</option>
							  </if>
							  <foreach name="attrconf.marriage.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">教育背景</label>
						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="education" name="education" id="education">
							  <if condition='$UserInfo.education eq 0'>
								  <option value="{$UserInfo.education}">保密</option>
								  <else />
								  <option value="{$UserInfo.education}">{$UserInfo.educationname}</option>
							  </if>
							  <foreach name="attrconf.education.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>
					  <div class="form-group">
						  <label class="col-sm-3 control-label">工作</label>
						  <select style=" margin-left: 15px; width:80px;
height:30px;
border:1px solid rgba(221,221,221,1);
border-radius:5px;" node-type="work" name="work" id="work">
							  <if condition='$UserInfo.work eq 0'>
								  <option value="{$UserInfo.work}">保密</option>
								  <else />
								  <option value="{$UserInfo.work}">{$UserInfo.workname}</option>
							  </if>
							  <foreach name="attrconf.work.option" item="vo" >
								  <option value="{$key}">{$vo}</option>
							  </foreach>
						  </select>
					  </div>







				  </div>
				  <div class="panel-footer">
					  <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 更改</button>
				  </div>
			  </form>
		  </div>
	  </div>

	  </div>

<div class="row" <if condition='$Type neq "photo"'>style="display:none"</if>>
<volist name="UserInfo.photos" id="vo">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="width:15em;">
      <img src="{$vo.url}" alt="...">
      <div class="caption">
		  <p><a href="javascript:void(0);" onclick="return diy_confirm({$vo.id})"  class="btn btn-primary"
				role="button">删除</a></p>

      </div>
    </div>
  </div>
 
  </volist>


</div>

	
<div class="row"<if condition='$Type neq "msglist"'>style="display:none"</if>>
<tbody>
<volist name="msglist" id="vo">

						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default" style="float:left;">
							<div class="panel-body" >
							<div class="fmain" style="margin:10px; border:0px;padding:3px; PADDING:0px; width:300px; height:480px; LINE-HEIGHT: 20px; OVERFLOW: auto; ">

							<div style="float:left"><img src="{$vo.head}" width=50 height=50/></div>
								<div style="float:left;margin-left:10px;width:290px">
								<div style="color:#009900; font-size:1.2em;"><a href="userinfo.html?uid={$vo.uid}">{$vo.nickname}---{$vo.uid}</a></div>
									<div style="color:#009900;float: right;margin-right: 10px; font-size:1.2em;"><a href="javascript:void(0);" onclick="return getcharbox('{$_GET.uid}','{$vo.uid}')" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">查看聊天记录</a></div>

										<div id="charbox-{$vo.uid}" style="margin-top: 30px"></div>
										<!--<volist name="vo.msg" id="vo1">

												<if condition='$vo1.type eq "text"'>
													<div style=" margin-left:10px;">
														<div style=" margin:10px; color:#009900 ; font-size:1.2em;">
															{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d
															H:i:s',###}
															<br/>
															{$vo1.content}
														</div>

													</div>
													<elseif condition='$vo1.type eq "hello" '/>
														<div style=" margin-left:10px;">
															<div style=" margin:10px; color:#009900 ; font-size:1.2em;">
																{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d
																H:i:s',###}
																<br/>
																{$vo1.content}
															</div>

														</div>



													<elseif condition='$vo1.type eq "video" '/>
													<div style=" margin:0px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<video preload="metadata" src="{$vo1.contentbody}"  controls="controls" width="150" height="150">
															your browser does not support the video tag
														</video>
													</div>

													<elseif condition='$vo1.type eq "voice"'/>
													<div style=" margin:0px; ">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<audio src="{$vo1.contentbody}" controls="controls">
															Your browser does not support the audio element.
														</audio>
													</div>

													<elseif condition='$vo1.type eq gift '/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<img  src="http://10408.oss-cn-hongkong.aliyuncs.com/data{$vo1.gifturl}" width="50" >
														<br>giftname:{$vo1.gifttitle}
														<br>giftcount:{$vo1.contentint}
														<br>类型:赠送礼物

													</div>
													<elseif condition='$vo1.type eq askgift '/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<img  src="http://10408.oss-cn-hongkong.aliyuncs.com/data{$vo1.gifturl}" width="50" >
														<br>giftname:{$vo1.gifttitle}
														<br>giftcount:{$vo1.contentint}
														<br>类型:索要礼物

													</div>

													<elseif condition='$vo1.type eq askVip'/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														类型:
														<if condition='$vo1.contentbody eq 1'>
															索要黄金会员
															<elseif condition='$vo1.contentbody eq 2'/>
															索要铂金会员
															<elseif condition='$vo1.contentbody eq 3'/>
															索要钻石会员
														</if>
														<br>Vip天数:{$vo1.contentint}
													</div>

													<elseif condition='$vo1.type eq Vip'/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														类型:
														<if condition='$vo1.contentbody eq 1'>
															赠送黄金会员
															<elseif condition='$vo1.contentbody eq 2'/>
															赠送铂金会员
															<elseif condition='$vo1.contentbody eq 3'/>
															赠送钻石会员
														</if>
														<br>Vip天数:{$vo1.contentint}
													</div>


													<elseif condition='$vo1.type eq image '/>
													<div style=" margin:10px;"  >
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<a href="{$vo1.contentbody}" data-lightbox="image-165593" data-title="165593">
															<img  src="{$vo1.contentbody}" width="50"  >
														</a>

													</div>
													<elseif condition='$vo1.type eq location '/>
													<div style=" margin:10px;" id="key" name="locationkey"
														 title="{$vo1.id}" align="{$vo1.contentbody}"
														 accessKey="{$vo1.contentint}">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<div id="container{$vo1.id}" style="width: 300px;height:180px;" name="container">

														</div>

													</div>

												</if>


									</volist>-->

							</div>

							</div>
							</div>
							</div>


						</div>
</volist>

</tbody>
</div>

	<!--打招呼页面-->
	<div class="row"<if condition='$Type neq "sayhello"'>style="display:none"</if>>
	<tbody>
	<volist name="msglist" id="vo">

		<div class="col-sm-6 col-md-4">
			<div class="panel panel-default" style="float:left;">
				<div class="panel-body" >
					<div class="fmain" style="margin:10px; border:0px;padding:3px; PADDING:0px; width:300px; height:480px; LINE-HEIGHT: 20px; OVERFLOW: auto; ">
						<div style="float:left"><img src="{$vo.head}" width=50 height=50/></div>
						<div style="float:left;margin-left:10px;width:290px">
							<div style="color:#009900; font-size:1.2em;"><a href="userinfo.html?uid={$vo.uid}">{$vo.nickname}-&#45;&#45;{$vo.uid}</a></div>
							<volist name="vo.msg" id="vo1">

								<if condition='$vo1.type eq "hello"'>
									<div style=" margin-left:10px;">
										<div style=" margin:10px; color:#009900 ; font-size:1.2em;">
											{$vo1.nickname}-&#45;&#45;{$vo1.uid}//{$vo1.sendtime|date='m-d
											H:i:s',###}
											<br/>
											{$vo1.content}
										</div>

									</div>

								</if>


							</volist>

						</div>

					</div>
				</div>
			</div>


		</div>
	</volist>

	</tbody>
	</div>

<!--
	动态页
-->
	<div class="row"<if condition='$Type neq "dynamic"'>style="display:none"</if>>
	<tbody>
	<volist name="DataList" id="vo">
		<div class="col-sm-6 col-md-4">
		<div id="tr-{$vo.id}" class="panel panel-default" style="float:left;">
			<div class="panel-body">
				<div class="fmain">
					<div style="float:left"><img src="{$vo.user.head.url}" width=50 height=50/></div>
					<div style="float:left;margin-left:5px;width:200px">

						<div><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.user.nickname}</a></div>
						<div style="margin-top:5px;">{$vo.content}</div>
						<div>{$vo.time|date='Y-m-d',###}</div>
						<if condition='$vo.type eq 1'>

							<elseif condition='$vo.type eq 2'/>

							<volist name="vo.meiti" id="photos">
								<img style="margin:5px;" src="{$photos.url}" width="50" >
							</volist>
							<elseif condition='$vo.type eq 3'/>

							<video preload="metadata" src="{$vo.meiti.url}" width="150"
								   height="150"controls="controls">
								your browser does not support the video tag
							</video>
						</if>
					</div>
					<div class="clear" style="float:right;margin-top:10px;padding:10px;">
						<if condition='$vo.status eq 1'>
							已通过审核
                            <a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">驳回</a>
                            <else  />
							未审核
							<!--<a href="javascript:void(0);" onclick="return check1({$vo.id},{$vo.uid})" class="userinfo" style="font-size:15px;" title="{$vo.uid}">通过</a>-->
						</if>

						<!--<a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">驳回</a>-->
					</div>

				</div>
			</div>
		</div>
		</div>
	</volist>
	</tbody>
	</div>

    <!--
	所分享的用户
-->
    <div class="row"<if condition='$Type neq "shareuid"'>style="display:none"</if>>
    <tbody>

                <div class="panel-body">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>

                            <th>uid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="shareuid" id="vo">
                            <tr id="" >
                                <td>
                                    <label>
                                        <a href="../user/userinfo.html?uid={$vo}">{$vo}</a>
                                    </label>
                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>


                </div>



    </tbody>
    </div>



	<!--
  在线时间
-->
	<div class="row2"<if condition='$Type neq "online"'>style="display:none"</if>>
	<tbody>

	<div class="panel-body">
		<table class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
			<tr>
				<th>在线开始时间</th>
				<th>在线结束时间</th>
				<th>在线时长</th>
			</tr>
			</thead>
			<tbody>
			<volist name="online" id="vo">
				<tr id="" >
					<td>
						{$vo.startime}
					</td>
					<td>
						{$vo.endtime}
					</td>
					<td>
						{$vo.ontime}
					</td>
				</tr>
			</volist>
			</tbody>

		</table>

	</div>



	</tbody>
	</div>


	<!--
在线时间
-->
	<div class="row"<if condition='$Type neq "oncallback"'>style="display:none"</if>>
	<tbody>

	<div class="panel-body">
		<table class="table table-striped table-bordered bootstrap-datatable datatable">
			<thead>
			<tr>

				<th>1条消息回复率</th>
				<th>2条消息回复率</th>
				<th>3条消息回复率</th>
				<th>人数回复率</th>
			</tr>
			</thead>
			<tbody>

				<tr id="" >

					<td>
						{$all_call.call_1}
					</td>
					<td>
						{$all_call.call_2}
					</td>
					<td>
						{$all_call.call_3}
					</td>
					<td>
						{$all_call.prople}
					</td>
				</tr>
			</tbody>

		</table>

	</div>



	</tbody>
	</div>
	</div>
</div>


	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=27ad0293a63320315a8a62438fd6c29a"></script>
	<script type="text/javascript">
        var obj = document. getElementsByName("locationkey");


		for( var k = 0, length = obj.length; k < length; k++){

		   // var longitude=113;
           // var latitude=34.6957;
            var longitude=obj[k].accessKey;
           var latitude=obj[k].align;
            var map = new AMap.Map('container'+obj[k].title, {
                resizeEnable: true,
                zoom:11,//级别
                center: [longitude, latitude],//中心点坐标
                viewMode:'3D'//使用3D视图
            });
            var marker = new AMap.Marker({
                position: map.getCenter(),
                draggable: true,
                cursor: 'move'
            });
            marker.setMap(map);


		}

	</script>
	<script type="text/javascript">
        function is_suiliao(uid,type){
            var data = {'uid':uid,'type':type};
            var url = "/Adms/user/issuiliao";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg(result.message,{
                        time: 300
                    });
                }
                if(result.status =='0') {
                    layer.msg(result.message,{
                        time: 300
                    });
                }
                location.reload();
            },'JSON');

        }
	function diy_confirm(id){
        var data = {'id':id};
        var url = "/Adms/user/deleteImg";
        $.post(url,data,function(result){
        if(result.status =='1') {
            layer.msg('已删除图片',{
                time: 300
            });
        }
	location.reload();
	},'JSON');

	}

    //单选驳回
    function check2(id,uid){
        var data = {'status':3,'id':id,'uid':uid};
        var url = "/Adms/User/judge";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg('已驳回',{
                    time: 300
                });
                $("#tr-"+id).remove();
            }
        },'JSON');
    }

    function getcharbox(uid,touid){
        var data = {'uid':uid,'touid':touid};
        var url = "/Adms/User/putchartobox";
        var datachar = new Array();
        $.post(url,data,function(result){
            if(result.status =='1') {
                 datachar=result.data;

                var contact = document.getElementById('charbox-'+touid);
                contact.innerHTML='';
                for(var p in datachar){
                    var itemp = datachar[p];
                   // alert(itemp);
                    if(itemp===null){
                        continue
					}
                    var onemsg = document.createElement("div");
                    var tableContent = " ";

                    var time=getLocalTime(itemp.message.sendTime);
                    if(itemp.message.msgtype=='text'){
                        tableContent +='<div style=" margin:10px;">';
                        tableContent += '<div style=" margin:10px; color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '<br/>' ;
                        tableContent +=itemp.message.content + '</div></div>';
                    }else if(itemp.message.msgtype=='hello'){
                        tableContent +='<div style=" margin:10px;">';
                        tableContent += '<div style=" margin:10px; color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '<br/>' ;
                        tableContent +=itemp.message.content + '</div></div>';
                    }
                    else if(itemp.message.msgtype=='gift'){
                        tableContent +='<div style="  margin:10px;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>' ;
                        tableContent +='<img  src='+itemp.gifturl +' width="50" > <br>';
                        tableContent +='giftname:'+itemp.gifttitle;
                        tableContent +='<br>类型:赠送礼物</div>';
					}else if(itemp.message.msgtype=='askgift'){
                        tableContent +='<div style="  margin:10px;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>' ;
                        tableContent +='<img  src='+itemp.gifturl +' width="50" > <br>';
                        tableContent +='giftname:'+itemp.gifttitle;
                        tableContent +='<br>类型:索要礼物</div>';
                    }
					else if(itemp.message.msgtype=='image'){
                        tableContent +='<div style="  margin:10px;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>';
                        tableContent +='<img  src='+itemp.message.image.url+' width="50"></div>';
					}else if(itemp.message.msgtype=='video'){
                        tableContent +='<div style="  margin:0 ;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>';
                        tableContent +='<video preload="metadata" src='+itemp.message.video.url +' controls="controls" width="150" height="150">';
                        tableContent +='</video></div>';
                    }else if(itemp.message.msgtype=='voice'){
                        tableContent +='<div style="  margin:0 ;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>';
                        tableContent +='<audio src='+itemp.message.voice.url +' controls="controls">';
                        tableContent +='</audio></div>';
                    }else if(itemp.message.msgtype=='Vip'){
                        tableContent +='<div style="  margin:10px ;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>';
                        tableContent +='类型:<br/>';
                        if(itemp.message.contentbody==1){
                            tableContent +='赠送黄金会员';
						}else if(itemp.message.contentbody==2){
                            tableContent +='赠送铂金会员';
						}else if(itemp.message.contentbody==3){
                            tableContent +='赠送钻石会员<br>';
                        }
                        tableContent +='Vip天数:'+itemp.message.contentint;
                    }else if(itemp.message.msgtype=='askVip'){
                        tableContent +='<div style="  margin:10px ;">';
                        tableContent += '<div style=" color:#009900 ; font-size:1.2em;">';
                        tableContent +=itemp.from+'--';
                        tableContent +=time + '</div><br/>';
                        tableContent +='类型:<br/>';
                        if(itemp.message.contentbody==1){
                            tableContent +='索要黄金会员';
                        }else if(itemp.message.contentbody==2){
                            tableContent +='索要铂金会员';
                        }else if(itemp.message.contentbody==3){
                            tableContent +='索要钻石会员<br>';
                        }
                        tableContent +='Vip天数:'+itemp.message.contentint;
                    }else{
                        tableContent+='';
					}
                    onemsg.innerHTML =tableContent;
                    contact.appendChild(onemsg);
				}



            }
        },'JSON');
	}
        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
        }
	</script>
</block>