﻿<extend name="./Application/Adms/View/public.html" />
<block name="content">

								<div> <a class="btn btn-primary" href="userlist.html">返回</a></div>

<div class="panel panel-default">
<ul class="nav nav-tabs">
  <li role="presentation" <if condition='$Type eq "base"'>class="active"</if> ><a href="/Adms/User/userinfo.html?uid={$_GET.uid}">基本信息</a></li>
  <li role="presentation" <if condition='$Type eq "photo"'>class="active"</if>><a href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=photo">相册</a></li>
  <li role="presentation" <if condition='$Type eq "msglist"'>class="active"</if>><a href="/Adms/User/userinfo.html?uid={$_GET.uid}&type=msglist">聊天记录</a></li>
</ul>
  <div class="panel-body">

	<ul class="list-group" <if condition='$Type neq "base"'>style="display:none"</if>>
		<li class="list-group-item">头像:<img src="{$UserInfo.head.url}" width="50em" alt="ico" class="img-rounded"></li>
	  <li class="list-group-item">
	  UID:{$UserInfo.uid}&nbsp;
	  {$UserInfo.nickName}&nbsp;
	  <if condition='$UserBaseInfo.gender eq 1'>女<else />男</if>
	  &nbsp;{$UserInfo.product}
	  </li>
	  <li class="list-group-item">
	  注册时间:{$UserInfo.regtime|date='Y-m-d',###}<br />
	   账号:{$UserInfo.uid}<br />
	    密码:{$UserInfo.password}
	  </li>
	  <li class="list-group-item">
	  地区:{$UserInfo.area_name}&nbsp;
	  </li>
	  <li class="list-group-item">包月天数:{$UserInfo.dayNum}&nbsp;豆币:{$UserInfo.points}</li>
	  <li class="list-group-item">最后登录时间:{$UserInfo.loginTime}</li>
	  <li class="list-group-item">在线状态:<if condition='$UserBaseInfo.onlineState eq 1'>在线<else />离线</if></li>
	   <li class="list-group-item">国家:{$UserInfo.country}&nbsp;语言：{$UserInfo.language}</li>

		  <volist name="extinfo" id="v">								
			<li class="list-group-item">{$v.name}：{$v.value}</li>
		 </volist>

	<li class="list-group-item"><a href="/Adms/User/userinfo.html?uid={$UserInfo.uid}&clearcache=1">清空缓存</a></li>

	<if condition='$UserBaseInfo.UserType eq 6'>
		<li class="list-group-item"><a href="/Adms/User/UserInfo.html?uid={$UserInfo.uid}&setusertype=1">取消屏蔽</a></li>
	<else />
	
		<li class="list-group-item"><a href="/Adms/User/UserInfo.html?uid={$UserInfo.uid}&setusertype=6">禁止发信</a></li>
	</if>
	</ul>

<div class="row" <if condition='$Type neq "photo"'>style="display:none"</if>>
<volist name="UserInfo.photos" id="vo">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="width:15em;">
      <img src="{$vo.url}" alt="...">
      <div class="caption">
        <p><a href="javascript:diy_confirm('/Adms/User/deleteImg?id={$vo.id}');" class="btn btn-primary" role="button">删除</a></p>
      </div>
    </div>
  </div>
 
  </volist>


</div>

	
<div class="row"<if condition='$Type neq "msglist"'>style="display:none"</if>>

 <!--<table class="table bootstrap-datatable datatable small-font">-->
<tbody>





					<volist name="msglist" id="vo">
						<div class="col-sm-6 col-md-4">
				<if condition='$vo.type eq text'>
					<div style=" margin:30px;">
					<div>{$vo.content}
						<br>类型:{$vo.type}
						<br>聊天对象:{$vo.touid}--{$vo.nickname}
						<br>time：{$vo.sendtime|date='Y-m-d h:i:s',###}</div>

					</div>
					<elseif condition='$vo.type eq "video" '/>
					<div style=" margin:30px;">
					<video preload="metadata" src="{$vo.contentbody}"  controls="controls" width="150" height="150">
						your browser does not support the video tag
					</video>
						<br>类型:{$vo.type}
						<br>聊天对象:{$vo.touid}--{$vo.nickname}
						<br>time：{$vo.sendtime|date='Y-m-d h:i:s',###}
					</div>
					<elseif condition='$vo.type eq "voice"'/>
					<div style=" margin:30px;">
					<audio src="{$vo.contentbody}" controls="controls">
						Your browser does not support the audio element.
					</audio>
						<br>类型:{$vo.type}
						<br>聊天对象:{$vo.touid}--{$vo.nickname}
						<br>time：{$vo.sendtime|date='Y-m-d h:i:s',###}
					</div>
					<elseif condition='$vo.type eq gift '/>
					<div style=" margin:30px;">
					<img  src="http://10408.oss-cn-hongkong.aliyuncs.com/data{$vo.gifturl}" width="50" >
						<br>类型:{$vo.type}
						<br>聊天对象:{$vo.touid}--{$vo.nickname}
						<br>giftname:{$vo.gifttitle}
						<br>giftcount:{$vo.contentint}
						<br>time：{$vo.sendtime|date='Y-m-d h:i:s',###}
					</div>
					<elseif condition='$vo.type eq image '/>
					<div style=" margin:30px;">
					<img  src="{$vo.contentbody}" width="50"  >
						<br>类型:{$vo.type}
						<br>聊天对象:{$vo.touid}--{$vo.nickname}
						<br>time：{$vo.sendtime|date='Y-m-d h:i:s',###}
					</div>
				</if>
						</div>
</volist>




</tbody>
</div>


</div>
</div>
</block>