<extend name="./Application/Adms/View/public.html" />

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
	<body>
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
							<div style="float:left; margin-right: 20px; margin-top: 5px" >
								<!--<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>-->

							</div>
								<form class="form-horizontal" action="{$action}" method="get">
									<select name="type"  class="btn-sm">
										<option value="">全部类型</option>
										<option value="1" <if condition='$type eq 1'>selected="selected"</if>>好评
										</option>
										<option value="2" <if condition='$type eq 2'>selected="selected"</if>>视频认证
										</option>
										<option value="3"  <if condition='$type eq 3'>selected="selected"</if>>语音认证
										</option>
										<option value="4"  <if condition='$type eq 4'>selected="selected"</if>>资料完善度90%
										</option>
										<option value="5"  <if condition='$type eq 5'>selected="selected"</if>>15张不同照片
										</option>
										<option value="6"  <if condition='$type eq 6'>selected="selected"</if>>动态10条以上
										</option>
										<option value="7"  <if condition='$type eq 7'>selected="selected"</if>>好友分享
										</option>

									</select>
			UID关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									 <!-- <th>
										  <input type="checkbox" name="checkedAll" id="checkedAll" style="width:25px;height:25px;" onclick="return checkAll()" />
										  (全选)ID</th>-->
									  <th>ID</th>
									  <th>UID</th>
                                      <th>类型</th>
									  <th>图片</th>
									  <th>是否提交认证并通过</th>
                                      <th>时间</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>
                              <volist name="DataList" id="vo">
								  <tr id="tr-{$vo.id}" >
									  <td>
										  <label>
											  <!--<input type="checkbox" name="checkbox_name"
													 style="width:20px;height:20px;" title="{$vo.uid}"
													 value="{$vo.id}" placeholder="{$vo.url}" >-->
											  {$vo.id}
										  </label>
									  </td>
									  <td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}</a></td>
									<if condition='$vo.type eq 1'>
                                    <td>好评</td>
										<elseif condition="$vo.type eq 2" />
										<td>
											<a href="../verify/video.html?kerword={$vo.uid}">	视频认证</a>
										</td>
										<elseif condition="$vo.type eq 3" />
										<td>
											<a href="../verify/audio.html?kerword={$vo.uid}">	语音认证</a>
										</td>
										<elseif condition="$vo.type eq 4" />
										<td>资料完善度</td>
										<elseif condition="$vo.type eq 5" />
										<td>
											<a href="../User/userinfo.html?uid={$vo.uid}&type=photo">15张不同照片</a>
										</td>
										<elseif condition="$vo.type eq 6" />
										<td>
											<a href="../User/userinfo.html?uid={$vo.uid}&type=dynamic">动态10条以上</a>
										</td>
										<elseif condition="$vo.type eq 7" />
										<td>
											好友分享
										</td>
										<else />
										<td>其他</td>
									</if>
										<td>
											<foreach name="vo.urls" item="voa" >
												<a href="{$voa}" data-lightbox="image-165593" data-title="165593">
													<img src="{$voa}" width="50px" >
												</a>
											</foreach>

                                        </td>
									  <if condition='$vo.type eq 1'>
										  <td></td>
									  </if>
									  <if condition='$vo.type eq 4'>
										  <td></td>
									  </if>
									  <if condition='$vo.type eq 5'>
										  <td></td>
									  </if>
									  <if condition='$vo.type eq 6'>
										  <td></td>
									  </if>
									  <if condition='$vo.type eq 7'>
										  <td></td>
									  </if>
									  <if condition='$vo.type eq 3'>
										  <if condition='$vo.isaudio eq 0'>
											  <td>未提交认证</td>
											  <elseif condition="$vo.isaudio eq 1" />
											  <td>认证通过</td>
											  <elseif condition="$vo.isaudio eq 2" />
											  <td>正在认证审核中</td>
											  <elseif condition="$vo.isaudio eq 3" />
											  <td>未通过认证</td>
											  <else />
											  <td>其他</td>
										  </if>
									  </if>
									  <if condition='$vo.type eq 2'>
										  <if condition='$vo.isvideo eq 0'>
											  <td>未提交认证</td>
											  <elseif condition="$vo.isvideo eq 1" />
											  <td>认证通过</td>
											  <elseif condition="$vo.isvideo eq 2" />
											  <td>正在认证审核中</td>
											  <elseif condition="$vo.isvideo eq 3" />
											  <td>未通过认证</td>
											  <else />
											  <td>其他</td>
										  </if>
									  </if>

									  <td>{$vo.time|date='m-d H:i:s',###}</td>

									<td>
										<a href="javascript:void(0);"
										   onclick="return check1('{$vo.id}','{$vo.uid}','{$vo.type}')"
										   class="userinfo" title="{$vo.uid}">通过</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
										<a href="javascript:void(0);"
										   onclick="return check2('{$vo.id}','{$vo.uid}','{$vo.type}')" class="userinfo"
										   title="{$vo.uid}">驳回</a>

                                    </td>
								</tr>
								</volist>

							  </tbody>
						  </table>
							<!--<div style="float:left; margin-right: 20px; margin-top: 20px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			</div>
			</body>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
            //单选通过
            function check1(id,uid,type){
                var data = {'status':1,'id':id,"uid":uid,'type':type};
                var url = "/Adms/highopinion/judge";
                $.post(url,data,function(result){
                    if(result.status =='1') {
                        layer.msg('已通过',{
                            time: 300
                        });
                        $("#tr-"+id).remove();
                    }
                },'JSON');
            }
            //单选驳回
            function check2(id,uid,type){
                var data = {'status':3,'id':id,"uid":uid,'type':type};
                var url = "/Adms/highopinion/judge";
                $.post(url,data,function(result){
                    if(result.status =='1') {
                        layer.msg('已驳回',{
                            time: 300
                        });
                        $("#tr-"+id).remove();
                    }
                },'JSON');
            }
            //全选通过
           /* function check3(){
                var id=new Array();
                var uid=new Array();
                var obj = document.getElementsByName("checkbox_name");
                for(var i=0; i<obj.length; i ++){
                    if(obj[i].checked){
                        id[i]=obj[i].value;
                        uid[i]=obj[i].title;
                    }
                }
                var data = {'status':1,'id':id,"uid":uid};
                var url = "/Adms/Photo/judge";
                $.post(url,data,function(result){
                    if(result.status =='1') {
                        layer.msg('已通过',{
                            time: 300
                        });
                        for(let i = 0;i <id.length;i++){
                            $("#tr-"+id[i]).remove();
                        }
                    }
                },'JSON');
            }*/
            //全选驳回
          /*  function check4(){
                var id=new Array();
                var uid=new Array();
                var url1=new Array();
                var obj = document.getElementsByName("checkbox_name");
                for(var i=0; i<obj.length; i ++){
                    if(obj[i].checked){
                        id[i]=obj[i].value;
                        uid[i]=obj[i].title;
                        url1[i]=obj[i].placeholder;
                    }
                }
                var data = {'status':3,'id':id,"uid":uid,"url":url1};
                var url = "/Adms/Photo/judge";
                $.post(url,data,function(result){
                    if(result.status =='1') {
                        layer.msg('已驳回',{
                            time: 300
                        });
                        for(let i = 0;i <id.length;i++){
                            $("#tr-"+id[i]).remove();
                        }
                    }
                },'JSON');
            }*/
            //实现全选
          /*  function checkAll() {
                if ($(this).attr("checked") == true) {
                    $("input[name='checkbox_name']").each(function() {
                        if ($(this).attr("checked"))
                        {
                            $(this).attr("checked",false);
                        }else{
                            $(this).attr("checked",true);
                        }
                        // $(this).attr("checked", false);
                    });
                } else {
                    // 取消全选
                    $("input[name='checkbox_name']").each(function() {
                        if ($(this).attr("checked"))
                        {
                            $(this).attr("checked",false);
                        }else{
                            $(this).attr("checked",true);
                        }
                    });
                }
            }*/
     
  
    </script>
</block>
