<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
								<div class="form-group">
								  <label class="control-label" for="date01">名称</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="title" class="form-control focused" id="focusedInput" type="text" value="{$Info.title}">
									</div>	
								  </div>
								</div>

								<div class="form-group">
									<label class="control-label" for="date01">平台号</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="product" class="form-control focused"  type="text" value="{$Info.product}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">PayKey</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<textarea rows="10" cols="20"  name="paykey" class="form-control focused"  type="textarea" value="{$Info.paykey}">{$Info.paykey}</textarea>
									</div>
								</div>
								
								<div class="form-group">
								  <label class="control-label" for="date01">IP</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="host" class="form-control focused" type="text" value="{$Info.host}">
									</div>	
								  </div>
								</div>								
								
								<div class="form-group">
								  <label class="control-label" for="daterange">内网IP</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<span class="input-group-addon">$</span>
										<input name="localhost"  class="form-control" size="16" type="text" value="{$Info.localhost}">
									</div>
								  </div>
								</div>
								

								<div class="form-group">
								  <label class="control-label" for="goodsimg">APP文件</label>
								  <div class="controls">
									<input type="file" name="logo" />
								  </div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">发布的国家</label>
									<div class="controls">
										<div class="input-group date col-sm-10">
										 <volist name="countrylist" id="vo">
											<div class="countrylistdiv"><input type="checkbox" name="countryids[]" value="{$vo.id}" {$vo.checked} /><span>{$vo.name_zh|mb_substr=0,5,'utf-8'}</span></div>
										</volist>	
										</div>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
<style>
.countrylistdiv{float:left;    float: left;
    height: 25px;
    line-height: 25px;
    width: 120px;
    font-size: 14px;}	
		
			
</style>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>