<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="changeproductadd.html">添加</a></div>
							</form>
							
						</div>
							<table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>平台号</th>
									  <th>转换后的平台号</th>
                                      <th>是否开启</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.product}</td>
									<td>{$vo.changeproduct}</td>
									<td>
										<if condition='$vo.isopen eq 0'>
											未开启
											<elseif condition="$vo.isopen eq 1" />
											已开启
										</if>
									</td>								
									<td>

				<a href="changeproductedit.html?id={$vo.id}">修改</a> || <a href="changeproductdel.html?id={$vo.id}">删除</a>
									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
    </script>		
</block>