<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
								<div class="form-group">
								  <label class="control-label" for="date01">平台号</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="product" class="form-control focused" id="focusedInput" type="text" value="{$Info.product}">
									</div>	
								  </div>
								</div>

								<div class="form-group">
									<label class="control-label" for="date01">转换后的平台号</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="changeproduct" class="form-control focused"  type="text" value="{$Info.changeproduct}">
										</div>
									</div>
								</div>

									<div class="form-group">
										<label class="control-label" for="date01">是否开启</label>
										<div class="controls">
											<div class="input-group date col-sm-4">
												<input type="radio" <if condition='$Info.isopen eq 1'>
												checked="true"
											</if>  name="isopen" value="1"  />开启
												<input type="radio"<if condition='$Info.isopen eq 0'>
												checked="true"
											</if> name="isopen" value="0" />关闭
											</div>
										</div>
									</div>

								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="changeproductlist.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
<style>
.countrylistdiv{float:left;    float: left;
    height: 25px;
    line-height: 25px;
    width: 120px;
    font-size: 14px;}	
		
			
</style>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">

    </script>		
</block>