<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                </div>
                <div class="panel-body">
                    <notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
                    <form role="form" action="/Adms/products/drawadd" method="POST" enctype="multipart/form-data">
                        <notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>

                        <div class="form-group">
                            <label class="control-label" for="date01">名称</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="name" class="form-control focused" id="" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date01">面值（美元）</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="money_r" class="form-control focused" id="" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date01">魅力值</label>
                            <div class="controls">
                                <div class="input-group date col-sm-4">
                                    <input name="money" class="form-control focused" id="" type="text" value="">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="goodsimg">图片</label>
                            <div class="controls">

                               <input type="file" name="logo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="保存" />
                            <input type="reset" class="btn btn-danger" value="取消" />
                            <a href="applist.html" class="btn btn-warning" >返回</a>
                        </div>
                    </form>

                </div>
            </div>
        </div><!--/col-->

    </div>
    <style>
        .countrylistdiv{float:left;    float: left;
            height: 25px;
            line-height: 25px;
            width: 120px;
            font-size: 14px;}


    </style>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
</block>