<extend name="./Application/Adms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
                    <div style="float:right;"> <a class="btn btn-primary" href="drawgiftrule.html">添加</a></div>
                </div>

                <div class="panel-body">
                    <div class="form-group search">
                    </div>
                    <table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th width="100px;">名称</th>
                            <th width="100px;">面值</th>
                            <th width="100px;">所需魅力值</th>
                            <th width="50px;">图片</th>
                            <th width="75px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.money_r}</td>
                                <td>{$vo.money}</td>
                                <td><img src="{$vo.img}" style="width: 20%;height: 20%"></td>
                                <td>
                                    <a href="/Adms/products/drawgiftruledel?id={$vo.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    {$Pages}
                </div>
            </div>
        </div><!--/col-->

    </div>

    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>


    <script type="text/javascript">
        //删除apk
        // function delApk(apkname){
        //     var data = {'apkname':apkname};
        //     var url = "/Adms/uploadapk/delApk";
        //     $.post(url,data,function(result){
        //         if(result.status =='1') {
        //             layer.msg(result.message,{
        //                 time: 200
        //             });
        //         }
        //         if(result.status =='0') {
        //             layer.msg(result.message,{
        //                 time: 200
        //             });
        //         }
        //         location.reload();
        //     },'JSON');
        //
        // }

    </script>
</block>
