<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
							</form>
							
						</div>
							<table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
                                      <th>名称</th>
									 
									  <th>product</th>
									  <th>平台</th>
									    <th>APP版本</th>
									  <th>PayKey</th>
									  <th>是否加入随机目录中</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.title}</td>
									
                                    
									<td>{$vo.product}</td>
									<td>{$vo.pingtai}</td>	
									<td>
									<if condition='$vo.version eq 0'>
										未上传App文件
										<else />
										{$vo.version}
									</if>
										</td>
									<td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
										{$vo.paykey}
									</td>
									<td>
										<if condition='$vo.type eq 0'>
											未加入
											<a href="javascript:void(0);" onclick="return is_add({$vo.id},1)">
												加入</a>
											<elseif condition="$vo.type eq 1" />
											已加入
											<a href="javascript:void(0);" onclick="return is_add({$vo.id},0)">
												取消</a>
										</if>
									</td>								
									<td>

				<a href="edit.html?id={$vo.id}">修改</a> || <a href="del.html?id={$vo.id}">删除</a>||<a href="javascript:void(0);" onclick="return delApk({$vo.product})">
										删除apk</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    function is_add(id,type){
        var data = {'id':id,'type':type};
        var url = "/Adms/products/isadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    //删除apk
    function delApk(product){
        var data = {'product':product};
        var url = "/Adms/products/delApk";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }

    </script>		
</block>