<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>paypal开关管理</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
							<div style="float:right;"> <a class="btn btn-primary" href="paypalswitchadd.html">添加</a></div>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
                                      <th>ID</th>
									  <th>product</th>
									    <th>小于该版本开启</th>
									    <th>包名（APPID）</th>
									    <th>显示原生谷歌支付版本号</th>
									  <th>网页支付是否开启</th>
									  <th>内部网页链接是否开启</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.id}</td>
									<td>{$vo.product}</td>
									<td>{$vo.version}</td>
									<td>{$vo.packname}</td>
									<td>{$vo.version_list}</td>
									<td>
										<if condition='$vo.isopenout eq 0'>
											关闭
											<a href="javascript:void(0);" onclick="return paypalswitchoutadd({$vo.id},1)">
												开启</a>
											<elseif condition="$vo.isopenout eq 1" />
											已开启
											<a href="javascript:void(0);" onclick="return paypalswitchoutadd({$vo.id},0)">
											关闭</a>
										</if>
									</td>

									<td>
										<if condition='$vo.isopenin eq 0'>
											关闭
											<a href="javascript:void(0);" onclick="return paypalswitchinadd({$vo.id},1)">
												开启</a>
											<elseif condition="$vo.isopenin eq 1" />
											已开启
											<a href="javascript:void(0);" onclick="return paypalswitchinadd({$vo.id},0)">
												关闭</a>
										</if>
									</td>


									<td>
				<a href="paypalswitchdit.html?id={$vo.id}">修改</a>
									</td>
								</tr>
								</volist>
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    function paypalswitchoutadd(id,isopenout){
        var data = {'id':id,'isopenout':isopenout};
        var url = "/Adms/products/paypalswitchoutadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    function paypalswitchinadd(id,isopenin){
        var data = {'id':id,'isopenin':isopenin};
        var url = "/Adms/products/paypalswitchinadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    </script>		
</block>