<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
								<div class="form-group">
								<label class="control-label" for="date01">平台号</label>
								<div class="controls">
									<div class="input-group date col-sm-4">
										<input name="product" class="form-control focused"  type="text" value="{$Info.product}">
									</div>
								</div>
							</div>
								<div class="form-group">
									<label class="control-label" for="date01">提示语</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="promptword" class="form-control focused"  type="text" value="{$Info.promptword}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">小于该版本号</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="version" class="form-control focused"  type="text" value="{$Info.version}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class=" control-label">是否开启更新</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.isopen eq 1'>
													checked="true"
												</if>
												id="inline-radio1" name="isopen"
												value="1"> 启用
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.isopen eq 0'>
													checked="true"
												</if>
												id="inline-radio2" name="isopen" value="0"> 关闭
											</label>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label class=" control-label">选择更新方式</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.method eq 1'>
													checked="true"
												</if>
												id="inline-radio1" name="method"
												value="1"> 选择更新
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.method eq 2'>
													checked="true"
												</if>
												id="inline-radio2" name="method" value="2"> 强制更新
											</label>
										</div>
									</div>

								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="version_update.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
<style>
.countrylistdiv{float:left;    float: left;
    height: 25px;
    line-height: 25px;
    width: 120px;
    font-size: 14px;}	
		
			
</style>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>