<extend name="./Application/Adms/View/public.html" />
<block name="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <form action="{$action}" method="post" class="form-horizontal ">
                    <div class="panel-heading">
                        <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                    </div>
                    <div class="panel-body">
                        <if condition='$error eq 1'>
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                {$msg}
                            </div>
                        </if>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择平台：</label>

                            <div class="col-sm-6">
                                <label>
                                    <select id="product_type" name="product_type" class="btn-sm">
                                        <volist name="getproduct" id="vo">
                                        <option value ="{$vo.id}">{$vo.id}</option>
                                        </volist>
                                    </select>
                                </label>
                            </div>


                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择页面：</label>

                            <div class="col-sm-6">
                                <label>
                                    <select id="page" name="page" class="btn-sm">

                                            <option value ="1">推荐页面</option>
                                            <option value ="2">附近的人</option>

                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户类型：</label>

                            <div class="col-sm-6">
                                <label>
                                    <select id="usertype" name="usertype" class="btn-sm">

                                        <option value ="1">普通男VIP</option>
                                        <option value ="2">普通男非VIP</option>
                                        <option value ="3">普通男非VIP意向</option>
                                        <option value ="4">普通女VIP</option>
                                        <option value ="5">普通女非VIP</option>
                                        <option value ="6">普通女非VIP意向</option>
                                        <option value ="7">推广男</option>
                                        <option value ="8">推广女</option>

                                    </select>
                                </label>
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                    </div>
                        <h3> --------------------------------------------以下是返回数据设置-----------------------------------</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">平台号</label>
                            <div class="col-sm-6">
                                <div class="input-group date col-sm-10">
                                    <volist name="getproduct" id="vo">
                                        <div class="col-sm-6">
                                        <div class="countrylistdiv">
                                            <label class="radio-inline" for="inline-radio1">
                                                <input class="productids" type="checkbox" name="productids[]"
                                                       value="{$vo.id} " {$vo.checked}/>
                                                <span>{$vo.id}</span></div>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><h5>用户类型：</h5></label></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">普通用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="user_type_1" class=""
                                           placeholder="" value="">%
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">优质认证用户(原老推广用户和普通推广用户)：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="user_type_3_5" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>


                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">老平台用户（原采集用户）：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="user_type_2" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><h5>VIP选项：</h5></label></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">普通用户VIP：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="uservip" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">普通用户非VIP：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="useroffvip" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><h5>意向用户：</h5></label></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">online非意向用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="useronline" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">pushonline意向用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="userpushline" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">offline意向用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="useroffline" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">online意向用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="online" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">pushonline非意向用户：</label>

                            <div class="col-sm-6">
                                <label>
                                    <input style="width:80px;" type="text" id="" name="pushonline" class=""
                                           placeholder=""  value="">%
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
                    </div>
            </form>
        </div><!--/col-->

    </div>
        <script>
            // $(function(){
            //     $(".productids").click(function(){
            //
            //         var change = $(this).is(':checked');
            //         if(change){
            //             $(this).next().after("普通用户<input style=\"width:80px;\" type=\"text\" id=\"cash_pump\" name=\"money_as_cash\" class=\"form-control\"\n" +
            //                 "                                       placeholder=\"\" οnkeyup=\"value=value.replace(/[\u4e00-\u9fa5]/ig,'')\" value=\"\">\n");
            //         }
            //         //alert(change)
            //     })
            // })
        </script>
</block>