<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">

						<div class="form-group search">

						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>


									  <th>平台</th>
									  <th>页面</th>
									  <th>用户类型</th>
									  <th>返回平台</th>
									  <th>返回用户类型</th>
									  <th>VIP</th>
									  <th>意向用户</th>
									  <th>创建时间</th>
									  <th>操作</th>

									<!--  <th>操作</th>-->

								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								  <tr>

									  <td>{$vo.list.product_type}</td>
									  <td>{$vo.list.page}</td>
									  <td>{$vo.list.usertype}</td>
									  <td>{$vo.pro}</td>
									  <td>普通用户{$vo.list.user_type_1}%,优质认证用户{$vo.list.user_type_3_5}%</td>
									  <td>VIP{$vo.list.uservip}%,非VIP{$vo.list.useroffvip}%</td>
									  <td>online非意向{$vo.list.useronline}%,pushonline意向{$vo.list.userpushline}%,offline意向{$vo.list.useroffline}%,online意向{$vo.list.online}%,pushonline非意向{$vo.list.pushonline}%</td>
									  <td>{$vo.ctime|date="Y-m-d H:i",###}</td>
									  <td><a href="success.html?id={$vo.id}&md5={$vo.condition_md5}" class="userinfo" title="{$vo.id}"><?php echo $vo['is_success']==1?'启用中':'禁用中';?></a> || <a href="del.html?id={$vo.id}" class="userinfo" title="{$vo.id}">删除</a></td>
								</tr>
								</volist>	
							  </tbody>

						  </table>
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">
	</script>
</block>