<extend name="./Application/Vodadms/View/public.html" />
<block name="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <form action="{$action}" method="post" class="form-horizontal " name="register">
                    <input type="hidden" name="id" class="form-control" value="{$vodcommset['id']}" >

                    <div class="panel-heading">
                        <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                    </div>
                    <div class="panel-body">
                        <if condition='$error eq 1'>
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                {$msg}
                            </div>
                        </if>
                        <h4>
                            男性
                        </h4>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">注册多少分钟内</label>
                            <div class="col-sm-6">
                                <input type="text" id="input-normal" name="fenzhong" class="form-control" placeholder="" value="{$vodcommset['fenzhong']}" >
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">新用户限制条数</label>
                            <div class="col-sm-6">
                                <input type="text" id="tormb" name="total" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['total']}"/>
                            </div>
                        </div>
                        <h4>
                            女性
                        </h4>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">注册多少分钟内</label>
                            <div class="col-sm-6">
                                <input type="text" id="input-d" name="fenzhong_2" class="form-control" placeholder="" value="{$vodcommset['fenzhong_2']}" >
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">新用户限制条数</label>
                            <div class="col-sm-6">
                                <input type="text" id="tormbs" name="total_2" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['total_2']}"/>
                            </div>
                        </div>

                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-success" id="btn-sumit"><i class="fa fa-dot-circle-o"></i> 点击保存设置</button>
                        <!--<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>-->
                    </div>
                </form>
            </div>
        </div><!--/col-->

    </div>


</block>
