/*reset css*/
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dt,dd,table,tr,td,input{
    margin: 0;
    padding: 0;
}

/*清除掉标签的默认内外边距*/

/* body,html{
    height: 100%;
} */

/*让body和html获得高，解决不能写height：100%的问题*/

body{
    font-family:arial,helvetica,tahoma,"Microsoft Yahei","微软雅黑",sans-serif;
    font-size: 14px;
}

/*微软雅黑的中英文名字都要写*/

img{
    display: block;
    border: none;
}

/*清除掉图片之间的缝隙*/

ul,li{
    list-style: none;
}

/*清除掉UL LI的圆点*/

em,i{
    font-style: normal;
}

/*清除掉em和I标签的默认倾斜*/

.clearfix:after{
    display: block;
    content: " ";
    height: 0;
    visibility: hidden;
    clear:both;
}

/*清除浮动带来的高度塌陷的问题*/

.fl{
    float: left;
}

.fr{
    float: right;
}

.w1200{
    width: 1200px;
    margin:0 auto;
}