/*start*/
body{
	background-color:#FFF1E1;
    color:#666;
}
img{
    margin:0 auto;
}
.cbg{
	/* background-color: #fff; */
	width:92%;
	padding: 1.25rem;
    margin:0 auto; 
    /* margin-top:1.25rem; */
}
.cbg h4{
    font-weight: bold;
    font-size: 2.25rem; 
    color: #FF8400;
    text-align: center;
    padding:1.875rem 0;
}
.cbg h6{
    font-weight:normal;
    font-size: 1.5rem; 
    color:#333;
    margin-bottom: 1.875rem;
}
.cbg p{
	font-size:1.5rem; 
	line-height: 4rem;
	margin-bottom:1.25rem;
    text-align: justify;
    text-justify: inter-ideograph;
    /* text-indent: 2em; */
    
	}
/*end*/