<extend name="./Application/Vodadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="input-normal">设置昵称</label>
								<div class="col-sm-6">
									<input type="text" id="translateid" name="nickname" class="form-control" placeholder="">
								</div>
							</div>
				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">设置年龄</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="age" class="form-control" placeholder="">
				                    </div>
				                </div>

							<div class="form-group">
								<label class="col-sm-3 control-label">设置密码</label>
								<div class="col-sm-6">
									<input type="text" id="" name="password" class="form-control"
										   placeholder="如果为空则默认密码为123456">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">是否有底薪</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="inline-radio1" name="is_salary"
											   value="1"> 有
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="inline-radio2" name="is_salary" value="2"> 无
									</label>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">是否有全职</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="job_type" name="job_type"
											   value="1"> 全职
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="job_type2" name="job_type" value="2"> 兼职
									</label>

								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-3 control-label">设置提现抽成</label>
								<div class="col-sm-6 form-group" style="width:100px;">
									<input style="width:80px;" type="text" id="gold_pump" name="gold_pump" class="form-control"
										   placeholder="50" οnkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')">

								</div>

							</div>
							<div style="margin-top: -56px"><h5>%</h5></div>
-
							<div class="form-group" >
								<label class="col-sm-3 control-label">设置语音（视频）抽成比例</label>
								<div class="col-sm-6 form-group" style="width:100px;">
									<input style="width:80px;" type="text" id="talk_gold_pump" name="talk_gold_pump" class="form-control"
										   placeholder="50" οnkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')">

								</div>

							</div>
							<div style="margin-top: -56px"><h5>%</h5></div>




						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>