<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
							<!--<div style="float:left; margin-right: 20px; margin-top: 5px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
									<!--<select name="is_tixian"  class="btn-sm">
										<option value="">全部类型</option>
										<option value="1" <if condition='$status eq 1'>selected="selected"</if>>未审核
										</option>
										<option value="2" <if condition='$status eq 2'>selected="selected"</if>>已审核
										</option>
										<option value="3"  <if condition='$status eq 3'>selected="selected"</if>>已驳回
										</option>

									</select>-->
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>
										 <!-- <input type="checkbox" name="checkedAll" id="checkedAll" style="width:25px;height:25px;" onclick="return checkAll()" />-->
										  ID</th>
                                      <th>男性用户UID</th>
									  <th>女性用户UID</th>
									  <th>男性消耗金币数</th>
									  <th>通话抽成比例</th>
									  <th>通话类型</th>
									  <th>通话1/分钟消耗金币</th>
									  <th>通话时长</th>
									  <th>女生获得金币数</th>
									  <th>通话开始时间</th>
									  <th>通话结束时间</th>
									<!--  <th>操作</th>-->

								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="ListData" id="vo">
								  <tr id="tr-{$vo.id}" >
									  <td>
										  <label>
											 <!-- <input type="checkbox" name="checkbox_name" style="width:20px;height:20px;" title="{$vo.danamicid}" value="{$vo.id}" >-->
											  {$vo.id}
										  </label>
									  </td>
									  <td>{$vo.boy_uid}</td>
									  <td>{$vo.girl_uid}</td>
									  <td>{$vo.boy_un_gold}</td>
									  <td>{$vo.gold_pump}%</td>

									<if condition='$vo.type eq 1'>
										<td>视频通话</td>
									<elseif condition='$vo.type eq 2'/>
									<td>语音通话</td>

									<else />
											<td>其他</td>
									</if>
									<td>{$vo.gold_conf}</td>
									  <td>{$vo.time}</td>
									  <td>{$vo.girl_in_gold}</td>

									 
									<td>{$vo.ontime|date="Y-m-d H:i",###}</td>
									<td>{$vo.offtime|date="Y-m-d H:i",###}</td>


										<!--<td>
										<if condition='$actionName eq meilizhijiludel'>
										<a href="zhaohuid.html?id={$vo.id}">找回</a>
									<elseif condition='$actionName eq meilizhijilu'/>
									<a href="delmeilizhi.html?id={$vo.id}">删除</a>
									<else />
											
									</if>
											
									</td>-->
								</tr>
								</volist>	
							  </tbody>

						  </table>
							<!--<div style="float:left; margin-right: 20px; margin-top: 20px" >
								<th>&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()" class="userinfo" title="">通过</a>&nbsp;&nbsp;||&nbsp;&nbsp;
									<a href="javascript:void(0);" style="font-size:15px;" onclick="return check4()" class="userinfo" title="">驳回</a>
								</th>

							</div>-->
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">
	</script>
</block>