<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">

			            
			           <!-- <select name="user_type" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
			              <option value="">全部用户类型</option>
			              		<volist name="status.user.user_type" id="dvo" key="gk">      	
							    <option value="{$gk}" <if condition='$get.user_type eq $gk'>selected="selected"</if>>{$dvo}</option>
							  </volist>
			            </select>-->

                              <!--   产品号：<input class="input-sm" type="text" name="product" value="" />-->
							 
							 注册时间： 从<input class="input-sm" onClick="WdatePicker()" type="text" name="dateStart" value="{$get.dateStart}" />
							到 <input class="input-sm" onClick="WdatePicker()" type="text" name="dateEnd" value="{$get.dateEnd}" />
								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">UID</th>
                                            <th class="table-title">昵称</th>
                                            <th class="table-type">性别</th>
                                            <th class="table-author am-hide-sm-only">会员</th>
                                            <th class="table-author am-hide-sm-only">所属公司（团队）</th>
                                            <th class="table-date am-hide-sm-only">工作类型</th>
                                            <th class="table-date am-hide-sm-only">是否有底薪</th>
                                            <th class="table-date am-hide-sm-only">注册时间</th>
                                            <th class="table-date am-hide-sm-only">语音通话时长</th>
                                            <th class="table-date am-hide-sm-only">视频通话时长</th>
                                            <th class="table-date am-hide-sm-only">通话收益抽成配置</th>
                                            <th class="table-date am-hide-sm-only">聊天总收入</th>
                                            <th class="table-date am-hide-sm-only">提现抽成配置</th>
                                            <th class="table-date am-hide-sm-only">账户总魅力值</th>
                                            <th class="table-date am-hide-sm-only">可提现魅力值</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList.listSearch" id="vo">
                                        <tr>
                                            <td>{$vo.uid}</td>
                                            <td><a href="userinfo.html?uid={$vo.uid}">{$vo.nickname}</a></td>
                                            <td>
                                            {$status["user"]["gender"][$vo[gender]]}
                                            </td>
                                            <td class="am-hide-sm-only"><!--/{$status['user']['user_type'][$vo['is_signing']]}-->
                                            {$status['user']['vipgrade'][$vo['vipgrade']]}
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$vo['platform']}
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$status["job"][$vo['job_type']]}
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$status["salary"][$vo['is_salary']]}
                                            </td>
                                            <td class="am-hide-sm-only">{$vo.regtime|date="Y-m-d H:i",###}</td>
                                            <td class="am-hide-sm-only">
                                                {$vo.talk_time}分钟
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$vo.video_time}分钟
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$vo.talk_gold_pump}%
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$vo.talk_income}
                                            </td>
                                            <td class="am-hide-sm-only">
                                                {$vo.gold_pump}%
                                            </td>
                                            <td class="am-hide-sm-only">
                                                    {$vo.money.totalmoney}
                                              </td>
                                            <td class="am-hide-sm-only">{$vo.money.leftmoney}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a href="talkrecord.html?uid={$vo.uid}" class="userinfo"
                                                           id="userinfo"  title="{$vo.uid}">查看明细</a>


                                                       <!-- <a href="deluser.html?uid={$vo.uid}" class="userinfo" title="{$vo.uid}">删除</a>-->
                                                        <!--<a href="javascript:void(0);" onclick="jump('{$vo.uid}')" class="userinfo" title="{$vo.uid}">删除</a>-->

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>