<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<input name="id" type="hidden" value="{$Info.id}">
								<input name="tmpimg" type="hidden" value="{$Info.url}">
								<div class="form-group">
								  <label class="control-label" for="date01">名称</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="title" class="form-control focused" id="focusedInput" type="text" value="{$Info.title}">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">商品标识</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="gifttype" class="form-control focused" type="text" value="{$Info.gifttype}">
										</div>
									</div>
								</div>

								<div class="form-group">
								  <label class="control-label" for="date01">名称标识</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="propname" class="form-control focused" type="text" value="{$Info.propname}">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">汇率</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="prob" class="form-control focused" type="text" value="{$Info.prob}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">转盘价格</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="money" class="form-control focused" type="text" value="{$Info.money}">
										</div>
									</div>
								</div>


								<div class="form-group">
								  <label class="control-label" for="goodsimg">商品图片</label>
								  <div class="controls">
								  <a href="{$msgurl}{$Info.img}" data-lightbox="image-165593" data-title="165593">
									 <img src="{$msgurl}{$Info.img}" width="50em" >
									</a>
								 
								  </div>
									<input id="img" type="file" name="img" />
								</div>
								
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/turntable/lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>