<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
								<div class="form-group">
								  <label class="control-label" for="date01">消息</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="text" id="text" class="form-control focused"  type="text"
											   value="">
									</div>	
								  </div>
								</div>
							<div class="form-group">
								<label class="control-label" for="date01">uids</label>
								<div class="controls">
									<div class="input-group date col-sm-4">
										<input name="text" placeholder="多个uid之间使用'|'符号分隔开" id="uids"
											   class="form-control focused"
											   type="text"
											   value="" >
									</div>
								</div>
							</div>
								<div class="form-group">
									<a  type="button" href="javascript:void(0);" onclick="return send_msg()">
										发送</a>
								</div>

						</div>
					</div>
				</div><!--/col-->

			</div>
<style>
.countrylistdiv{float:left;    float: left;
    height: 25px;
    line-height: 25px;
    width: 120px;
    font-size: 14px;}	
		
			
</style>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function send_msg(){
            var uids= document.getElementById('uids').value;
            var text= 	document.getElementById('text').value;
            var data = {'uids':uids,'text':text};
            var url = "/Adms/sendmsg/sendmsg";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg(result.message,{
                        time: 800
                    });
                }
                window.location.reload();
            },'JSON');

        }
    </script>		
</block>