<extend name="./Application/Vodadms/View/public.html" />
<block name="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <form action="{$action}" method="post" class="form-horizontal " name="register">
                    <input type="hidden" name="id" class="form-control" value="{$vodcommset['id']}" >

                    <div class="panel-heading">
                        <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                    </div>
                    <div class="panel-body">
                        <if condition='$error eq 1'>
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                {$msg}
                            </div>
                        </if>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">上传短视频获得会员天数设置</label>
                            <div class="col-sm-6">
                                <input type="text" id="input-normal" name="give_vip" class="form-control" placeholder="" value="{$vodcommset['give_vip']}" >
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">(1RMB)人民币 ：魅力值</label>
                            <div class="col-sm-6">
                                <input type="text" id="tormb" name="to_rmb" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['to_rmb']}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">（1TWD）新台币 ：魅力值</label>
                            <div class="col-sm-6">
                                <input type="text" id="totwd" name="to_twd" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['to_twd']}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">(1HKD)港币 ：魅力值</label>
                            <div class="col-sm-6">
                                <input type="text" id="password_two" name="to_hkd" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['to_hkd']}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">(1USD)美元：魅力值</label>
                            <div class="col-sm-6">
                                <input type="text" id="password_two1" name="to_usd" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" value="{$vodcommset['to_usd']}"/>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-3 control-label">魅力值转换金币百分比</label>
                            <div class="col-sm-6 form-group" style="width:100px;">
                                <input style="width:80px;" type="text" id="gold_pump" name="money_as_gold" class="form-control"
                                       placeholder="" οnkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" value="{$vodcommset['money_as_gold']}">

                            </div>

                        </div>
                        <div style="margin-top: -56px"><h5>%</h5></div>

                        <div class="form-group" style="margin-top: 26px" >
                            <label class="col-sm-3 control-label">普通用户提现抽水百分比</label>
                            <div class="col-sm-6 form-group" style="width:100px;">
                                <input style="width:80px;" type="text" id="cash_pump" name="money_as_cash" class="form-control"
                                       placeholder="" οnkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" value="{$vodcommset['money_as_cash']}">

                            </div>

                        </div>
                        <div style="margin-top: -56px"><h5>%</h5></div>
                        <div style="margin-top: 26px;"><label class="col-sm-3 control-label">注册送魅力值结束时间</label><input class="input-sm" onClick="WdatePicker()" type="text" name="endtime" id="endtime" value="{$vodcommset['endtime']|date='Y-m-d',###}" /></div>
                        <div class="form-group" style="margin-top: 26px" >
                            <label class="col-sm-3 control-label">注册女性七天内每天发布短视频</label>
                            <div class="col-sm-6 form-group" style="width:100px;">
                                <input style="width:80px;" type="text" id="vod_gold" name="vod_gold" class="form-control"
                                       placeholder="" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" value="{$vodcommset['vod_gold']}">

                            </div>

                        </div>
                        <div style="margin-top: -56px"><h5>条</h5></div>
                        <div class="form-group" style="margin-top: 26px" >
                            <label class="col-sm-3 control-label">每条可获得</label>
                            <div class="col-sm-6 form-group" style="width:100px;">
                                <input style="width:80px;" type="text" id="vod_give_gold" name="vod_give_gold" class="form-control"
                                       placeholder="" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" value="{$vodcommset['vod_give_gold']}">

                            </div>

                        </div>
                        <div style="margin-top: -56px"><h5>魅力值</h5></div>
                    </div>

                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-success" id="btn-sumit"><i class="fa fa-dot-circle-o"></i> 点击保存设置</button>
                        <!--<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>-->
                    </div>
                </form>
            </div>
        </div><!--/col-->

    </div>


</block>
