<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">

			            
			           <!-- <select name="user_type" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
			              <option value="">全部用户类型</option>
			              		<volist name="status.user.user_type" id="dvo" key="gk">      	
							    <option value="{$gk}" <if condition='$get.user_type eq $gk'>selected="selected"</if>>{$dvo}</option>
							  </volist>
			            </select>-->

                              <!--   产品号：<input class="input-sm" type="text" name="product" value="" />-->
							 
							 日期：<input class="input-sm" onClick="WdatePicker()" type="text" name="dateStart" value="{$get.dateStart}" />
								用户id： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
						 <div class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">UID</th>
                                            <th class="table-title">在线时长统计</th>
                                            <th class="table-type">主动发起视频主动挂断（A发起视频通话，聊了一段时间后A主动挂断了这次通话）</th>
                                            <th class="table-author am-hide-sm-only">主动发起语音主动挂断（A发起语音通话，聊了一段时间后A主动挂断了这次通话）</th>
                                            <th class="table-author am-hide-sm-only">被动接收视频主动挂断（A被呼叫，接通了这次视频通话，聊了一段时间后A主动挂断了这次通话）</th>
                                            <th class="table-date am-hide-sm-only">被动接受语音主动挂断（A被呼叫，接通了这次语音通话，聊了一段时间后A主动挂断了这次通话）</th>
                                            <th class="table-date am-hide-sm-only">主动发起对方未接听（A呼叫B，B一直未接听）</th>
                                            <th class="table-date am-hide-sm-only">被动发起对方未接听（B呼叫A，A一直未接听）</th>
                                            <th class="table-date am-hide-sm-only">主动发起对方拒绝未接听（A呼叫B，B拒绝了这次通话）</th>
                                            <th class="table-date am-hide-sm-only">被动发起拒绝未接听（B呼叫A，A拒绝了这次通话）</th>
                                            <th class="table-date am-hide-sm-only">当天视频接通总次数</th>
                                            <th class="table-date am-hide-sm-only">当天语音接通总次数</th>
                                            <th class="table-date am-hide-sm-only">时间</th>
                                            <th class="table-set">详情</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList.list" id="vo">
                                        <tr>
                                            <td><?php if(!isset($_GET['dateStart'])){?>
                                                <a href="http://191202.api.gtdating.com/chat/getmydata?uid=<?php echo $vo['uid'];?>"><?php echo $vo['uid'];?></a>
                                                <?php }else{echo $vo['uid'];}?>
                                            </td>

                                            <td>{$vo.time_f}分钟</td>
                                            <td>{$vo.typeonenum}</td>
                                            <td>{$vo.typetwonum}</td>
                                            <td>{$vo.typethreenum}</td>
                                            <td>{$vo.typefournum}</td>
                                            <td>{$vo.typefivenum}</td>
                                            <td>{$vo.typesixnum}</td>
                                            <td>{$vo.typesevennum}</td>
                                            <td>{$vo.typeightnum}</td>
                                            <td>{$vo.videonum}</td>
                                            <td>{$vo.voicenum}</td>
                                            <td>{$vo.ontime}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a href="showusertime.html?uid={$vo.uid}&dateStart={$vo.ontime}" class="userinfo"
                                                           id="userinfo"  title="{$vo.uid}">查看详情</a>



                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>

</block>