<extend name="./Application/Vodadms/View/public.html" />
<block name="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <form action="{$action}" method="post" class="form-horizontal " name="register">
                    <input type="hidden" name="id" class="form-control" value="{$vodcommset['id']}" >

                    <div class="panel-heading">
                        <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
                    </div>
                    <div class="panel-body">
                        <if condition='$error eq 1'>
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                {$msg}
                            </div>
                        </if>
                        <div class="form-group">
                        <label><h4>多个内置评价用 | 分隔 例：对方不说话|对面有杂音</h4></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">1星☆</label>
                            <div class="col-sm-6">
                                <input type="text" id="" name="grade1" class="form-control" placeholder="" value="{$vodcommset['systemscore']['grade1']}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">2星☆☆</label>
                            <div class="col-sm-6">
                                <input type="text" id="" name="grade2" class="form-control" placeholder="" value="{$vodcommset['systemscore']['grade2']}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">3星☆☆☆</label>
                            <div class="col-sm-6">
                                <input type="text" id="" name="grade3" class="form-control" placeholder="" value="{$vodcommset['systemscore']['grade3']}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">4星☆☆☆☆</label>
                            <div class="col-sm-6">
                                <input type="text" id="" name="grade4" class="form-control" placeholder="" value="{$vodcommset['systemscore']['grade4']}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-normal">5星☆☆☆☆☆</label>
                            <div class="col-sm-6">
                                <input type="text" id="" name="grade5" class="form-control" placeholder="" value="{$vodcommset['systemscore']['grade5']}" >
                            </div>
                        </div>




                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-success" id="btn-sumit"><i class="fa fa-dot-circle-o"></i> 点击保存设置</button>
                        <!--<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>-->
                    </div>
                </form>
            </div>
        </div><!--/col-->

    </div>


</block>
