@charset "utf-8";
/*清楚默认样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0; padding:0;word-break: break-word; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
table{border-collapse:collapse; border-spacing:0; }
fieldset,img{border:0; }
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal; }
ol,ul{list-style:none; }
h1,h2,h3,h4,h5,h6{font-weight:normal; }
input,textarea,select{font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;font-weight:normal;border-radius:0;-webkit-appearance: none;word-break: break-all;outline:none}
textarea,select{outline: none;}
a,a:link,a:visited,a:active,a:focus{text-decoration: none !important;}
html,body{font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif;min-height:100%;}
body{background:#F7F7F7;overflow: scroll; -webkit-overflow-scrolling: touch;}
img{display: block;border:none;}
button{ border:0;}
em{font-style:normal;}
.bs{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
select{direction: rtl;}
input::-webkit-input-placeholder{color:#cacaca;}
input::-moz-placeholder{/* Mozilla Firefox 19+ */color:#cacaca;}
input:-moz-placeholder{/* Mozilla Firefox 4 to 18 */color:#cacaca;}
input:-ms-input-placeholder{/* Internet Explorer 10-11 */ color:#cacaca;}
/*首页样式*/
header{width:100%;height:2.717rem;position:fixed;top:0;left:0;z-index:66;background:#FA7436;color:#fff;text-align:center;line-height:2.717rem;font-size:1.019rem;}
header a{width:2.717rem;display:block;height:2.717rem;font-size:0.906rem;color:#fff;position:fixed;right:0.5rem;top:0;}

header a.backico{background:url(../images/backico.png) no-repeat center;left:0;top:0;background-size:1.019rem;text-indent:-999em;}

.productbox{width:100%;overflow:hidden;padding:0 0 0 3.962rem;position:relative;}
.productbox:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height: 2.717rem;}
.productbox .catleibibox{position:fixed;top:2.717rem;left:0;width:3.9rem;}
.productbox .catleibibox a{float:left;width:3.9rem;height:2.264rem;line-height:2.264rem;text-align:center;color:#666;font-size:0.906rem;cursor:pointer;}
.productbox .catleibibox a.select{background:#fff;color:#333;font-size:0.906rem;} 
.productbox .listbox{width:100%;padding:0.1rem 0.2rem;background:#fff;overflow:hidden;}
.productbox .listbox ul{width:100%;overflow:hidden;}
.productbox .listbox ul li{width:50%;float:left;overflow:hidden;padding:0.5rem 0.3rem 0.2rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.productbox .listbox ul li a{display:block;width:100%;overflow:hidden;background:#F7F7F7;}
.productbox .listbox ul li a img{width:100%;height:auto;}
.productbox .listbox ul li a h4{width:85%;padding:0.6rem 7.5% 0.3rem;font-size:0.679rem;color:#333;}
.productbox .listbox ul li a p{width:85%;padding:0.1rem 7.5% 0.6rem;font-size:0.906rem;color:#FA7436;font-weight:bolder;}

.chargebox1{width:100%;overflow:hidden;padding:0.755rem;background:#fff;}
.chargebox1:before{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height: 2.717rem;}
.chargebox1 .hylxbox{width:100%;overflow:hidden;position:relative;padding:0 0 0 7.358rem;background:#F7F7F7;border-radius:0.189rem;}
.chargebox1 .hylxbox .textmsg{height:5.875rem;width:84%;padding:0.6rem 8%;}
.chargebox1 .hylxbox img{width:7.358rem;height:auto;position:absolute;left:0;top:0;}
.chargebox1 .hylxbox .textmsg h4{width:100%;font-size:0.792rem;color:#666;}
.chargebox1 .hylxbox .textmsg p{width:100%;font-size:0.906rem;color:#FA7436;font-weight:bolder;padding:0.5rem 0 0 0;}

.chargenum{width:100%;overflow:hidden;}
.titlesp{width: 100%;font-size: 0.792rem;color: #333;padding: 1.111rem 0 0.7rem;}
.chargenum p{width:100%;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding-right:3.774rem;position:relative;margin-bottom:0.3rem;}
.chargenum p input{width:100%;height:1.65rem;border:1px solid rgba(180,180,180,1);border-radius:0.189rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 0.377rem;font-size:0.792rem;}
.chargenum p button.redst{border:1px solid rgba(250,116,54,1);color:#FA7436;}
.chargenum p button{position:absolute;right:0;top:0;height:1.65rem;border:1px solid rgba(180,180,180,1);border-radius:0.189rem;color:#999;width:2.981rem;background:#fff;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

.chargenum .searchend{width:100%;overflow:hidden;padding:0 3.774rem 0 2.752rem;position:relative;height:2.377rem;line-height:2.377rem;}
.chargenum .searchend .headbox{width:2.377rem;height:2.377rem;border-radius:100%;overflow:hidden;position: absolute;left:0;top:0;}
.chargenum .searchend .headbox img{border-radius: 100%;width:100%;height:100%;}
.chargenum .searchend button{position: absolute;right:0;top:0;width:3.4rem;height:1.65rem;line-height:1.7rem;border:1px solid rgba(250,116,54,1);
border-radius:0.189rem;color:#FA7436;background:#fff;font-size:0.679rem;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

.chargenum .searchend .idmsg{width:100%;line-height:2.377rem;}
.chargenum .searchend .idmsg span{float:left;line-height:2.377rem;font-size:0.679rem;color:#666;margin-right:0.5rem;}
.chargenum .searchend .idmsg span .girlico{margin-left:0.4rem;background: url(../images/girlico.png)no-repeat center;background-size: 100% auto;display:inline-block;width:0.7rem;height:0.7rem;}
.chargenum .searchend .idmsg span .boyico{margin-left:0.4rem;background: url(../images/boyico.png)no-repeat center;background-size: 100% auto;display:inline-block;width:0.7rem;height:0.7rem;}
.chargenum .searchend .idmsg span:first-child{font-size:0.792rem;color:#333;}

.paycatbox{width:100%;overflow:hidden;padding:0 0.755rem;background:#fff;margin-top:0.189rem;}
.paycatbox ul{width:100%;overflow:hidden;}
.paycatbox ul li{float:left;width:100%;overflow:hidden;padding:0.741rem 0;border-bottom:1px solid #eee;}
.paycatbox ul li span{float:left;width:5.556rem;height:2.5rem;}
.paycatbox ul li em{float:left;height:2.5rem;line-height:2.5rem;margin-left:0.6rem;color:#FA7436;font-size:0.792rem;}
.paycatbox ul li span img{width:100%;height:auto;}
.paycatbox ul li input{width:3.0rem;height:2.5rem;float:right;background:url(../images/checkico.png)no-repeat center;background-size:1.185rem;}
.paycatbox ul li input.checked{background:url(../images/checkedico.png)no-repeat center;background-size:1.185rem auto;}
.paycatbox ul li:last-child{border-bottom:none;}

.shadressbox{width:100%;overflow:hidden;padding:0 0.755rem 0.1rem;background:#fff;margin-top:0.189rem;}

.paybtn{width:100%;background:#fff;overflow:hidden;margin-top:0.189rem;}
.paybtn button{display: block;width: 12.963rem;height: 2.222rem;background: #FA7436;border-radius: 0.185rem;line-height: 1.6rem;text-align: center;font-size:0.906rem;color: #fff;margin: 1.3rem auto 1.9rem;border:none;}
.shadressbox .eachmsg{width:100%;overflow:hidden;padding:0.3rem 0 0.3rem 4.5rem;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-bottom:1px solid #ddd;height:2.3rem;}
.shadressbox .eachmsg span{float:left;}
.shadressbox .eachmsg span:first-child{width:4.0rem;height:2.2rem;line-height:2.2rem;text-align:left;position:absolute;left:0;top:0;font-size:0.792rem;color:#666;}
.shadressbox .eachmsg span:last-child{width:100%;height:1.6rem;}
.shadressbox .eachmsg span:last-child input{width:100%;height:1.6rem;border:none;font-size:0.792rem;padding:0;margin-bottom:0;}
.shadressbox .eachmsg .adressdq{width:100%;border:none;text-align:left;background:url(../images/downico.png)no-repeat center right;background-size:0.85rem auto;padding:0;height:1.6rem;}
.shadressbox .eachmsg:last-child{border-bottom:none;}


.maskbox{width:100%;height:100%;position:fixed;background:#000;opacity: 0.4;z-index:99;}

.chargeend{width:84%;position:fixed;left:8%;top:50%;height:10.0rem;margin-top:-5.0rem;background:#fff;border-radius:0.189rem;z-index:100;}
.sucbox{width:100%;margin:auto;padding:1.3rem 0;}
.sucbox img{width:4.528rem;height:auto;margin:auto;}
.sucbox h4{width:100%;font-size:0.792rem;color:#666;text-align:center;padding:0.9rem 0 0.3rem;}
.sucbox p{width:100%;font-size:0.792rem;color:#999;text-align:center;}
.failbox{width:100%;margin:auto;padding:1.7rem 0;}
.failbox img{width:4.528rem;height:auto;margin:auto;}
.failbox h4{width:100%;font-size:0.792rem;color:#666;text-align:center;padding:1.2rem 0 0.3rem;}
