<extend name="./Application/Adms/View/public.html"/>

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="__PUBLIC__/website/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/website/font-awesome/css/font-awesome.min.css" media="all"/>

    <form class="layui-form" id="admin">

        <div class="layui-form-item">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-inline">
                <select name="pid" lay-filter="aihao">
                    <option value="0">作为顶级分类</option>
                    <volist name="cates" id="vo">
                    <option value="{$vo.id}"<notempty name="cate.pid"><eq name="cate.pid" value="$vo.id" >selected
                        =""
                            </eq><else /> <notempty name="pid"><eq name="pid" value="$vo.id">selected=""
                        </eq></notempty></notempty>>{$vo.str}{$vo.name}
                    </option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                       type="text" <notempty name="cate.name">value="{$cate.name}"</notempty>>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input name="tag" autocomplete="off" placeholder="标签之间用,隔开" class="layui-input" type="text" <notempty
                    name="cate.tag">value="{$cate.tag}"</notempty>>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block" style="max-width:600px;">
                <textarea placeholder="请输入内容" class="layui-textarea" name="description"><notempty
                        name="cate.description">{$cate.description}</notempty></textarea>
            </div>
        </div>

        <notempty name="cate">
        <input type="hidden" name="id" value="{$cate.id}">
        </notempty>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>


    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/website/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            var url = "/adms/webtab/msgedit";
            var data = $('#admin').serialize();
            $(window).on('load', function () {
                form.on('submit(admin)', function (data) {
                    data = $('#admin').serialize();
                    $.post(url, data, function (result) {
                        if (result.code == 1) {
                            layer.alert(result.msg, function (index) {
                                location.href = result.url;
                            })
                        } else {
                            layer.msg(result.msg);
                        }
                    }, 'JSON');
                    return false;
                });
            });
        });
    </script>
</block>
