<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<link href="__PUBLIC__/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
							<form role="form" action="{$action}" method="POST">	
								<div class="form-group">
								  <label class="control-label" for="date01">QQ号</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
									<if condition='$type eq "EditPeiUser"'>
									<input name="pid" type="hidden" value="{$PeiInfo.pid}" />
										<input value="{$PeiInfo.pid}" class="form-control focused" type="text" placeholder="Disabled" disabled="" >
									<else />
									<input name="pid" value="{$PeiInfo.pid}" class="form-control focused" type="text" >
									</if>
									</div>	
								  </div>
								</div>
								
								
								
								<div class="form-group">
								  <label class="control-label" for="daterange">昵称</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<input name="uname" value="{$PeiInfo.uname}" class="form-control" size="16" type="text">
									</div>
								  </div>
								</div>
								
								<div class="form-group">
								  <label class="control-label" for="daterange">密码</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<input name="password" value="{$PeiInfo.password}" class="form-control" size="16" type="text">
									</div>
								  </div>
								</div>

				
								
								<div class="form-group">
								  <label class="control-label" for="textarea2">收款信息</label>
								  <div class="controls">
									<textarea name="payinfo" value="{$PeiInfo.payinfo}" id="limit" class="form-control" rows="6" style="width:100%">{$PeiInfo.payinfo}</textarea>
								  </div>
								</div>
								
							<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/PeiUser/Peilist" class="btn btn-warning" >返回</a>
								</div>	
							
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
<script src="__PUBLIC__/assets/plugins/dropzone/js/dropzone.min.js"></script>
<script src="__PUBLIC__/assets/js/pages/form-dropzone.js"></script>	
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>