<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>排名</th>
                                      <th>昵称</th>
                                      <th>总收入</th>
									  <th>本期收入（未提）</th>
									  <th>今天收入</th>
									  <th>用户列表</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="PeiList" id="vo" key="k">
								<tr>
									<td>{$k}</td>
                                    <td>{$vo.uname}({$vo.pid})</td>
                                    <td>{$vo.all_money}</td>
									<td>{$vo.weiti_money}</td>
									<td>{$vo.today_money}</td>
								
									<td>

									<a target="_blank" href="javascript:$.dialog({id: 'testID2',title:'{$vo.uname}({$vo.pid})',content: 'url:'+'/Adms/PeiUser/Peiuserlist?pid={$vo.pid}'});">查看</a>
									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			
</block>