<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="/Adms/PeiUser/AddPeiUser.html">添加陪聊</a></div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
                                      <th>昵称</th>
									  <th>密码</th>
                                      <th>收款信息</th>
									  <th>最后登录时间</th>
									   
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="PeiList" id="vo">
								<tr>  
									<td>{$vo.pid}</td>
                                    <td>{$vo.uname}</td>
									<td>{$vo.password}</td>
									<td>{$vo.payinfo}</td>
									<td>{$vo.logintime|date="Y-m-d H:i",###}</td>									
									<td>

				<a href="/Adms/PeiUser/EditPeiUser.html?pid={$vo.pid}">修改</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>   
													  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>	
    <script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
	});
    </script>		
</block>