<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
							
							<select name="gender" class="btn-sm">
							<if condition='$get.gender neq ""'>
								<option value ="{$get.gender}">
								<if condition='$get.gender eq 1'>
									女用户
								<else />
									男用户
								</if>
								</option>
							
							 
							 </if>
							 <option value ="">全部用户</option>
									<option value ="">全部用户</option>
								  <option value ="1">女用户</option>
								  <option value ="0">男用户</option>
								</select>
							 
							 注册时间： 从<input class="input-sm" onClick="WdatePicker()" type="text" name="dateStart" value="{$get.dateStart}" />
							到 <input class="input-sm" onClick="WdatePicker()" type="text" name="dateEnd" value="{$get.dateEnd}" />
								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>UID</th>
                                      <th>昵称</th>
									  <th>相册</th>
                                      <th>性别</th>
									  <th>关联陪聊</th>
									    <th>平台</th>
									  <th>操作</th>
									 
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList.listSearch" id="vo">
								<tr>  
									<td>
									<a href="{$vo.image.imageUrl}" data-lightbox="image-{$vo.id}" data-title="{$vo.id}">
									<img src="{$vo.image.imageUrl}" width="30em" alt="{$vo.id}" class="img-circle">
									</a>
									{$vo.id}</td>
                                    <td>{$vo.nickName}</td>
									<td><a href="javascript:$.dialog({id: 'testID2',title:'{$vo.nickName}({$vo.id})-用户信息',content: 'url:'+'/Adms/User/UserInfo?uid={$vo.id}&type=photo'});">{$vo.photo_num}张</a></td>
                                    <td><if condition='$vo.gender eq 1'>女<else />男</if></td>
									<td>
									
									{$vo.Peiid}
									
									</td>	
									<td>{$vo.product}</td>									
									<td>

				<a href="javascript:$.dialog({id: 'testID2',title:'{$vo.nickName}({$vo.id})-用户信息',content: 'url:'+'/Adms/User/UserInfo?uid={$vo.id}'});">查看</a>
				<a href="/Adms/PeiUser/setproduct.html?uid={$vo.id}&product={$vo.product}" >切换平台</a>
									</td>
									
									
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>			
</block>