<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
							 关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
						 <table class="table bootstrap-datatable datatable small-font">
		 	<thead>
			<tr>
			<th>充值用户</th>
			<th>老推广人员</th>
            <th>说明</th>
			<th>时间</th>
             <th>金额</th>
			 <th>订单号</th>
			 <th>操作</th>
			 </tr>
			</thead>  
		<tbody>
		  <volist name="DataList.list" id="v">
		<tr>
		<td>
		{$v.ToUserInfo.nickName}({$v.to_uid})</td>
		<td>{$v.UserInfo.nickName}({$v.pid})</td>
		<td>
		<if condition='$v.type eq 1'>
			包月充值
		<elseif condition='$v.type eq 2' />
				用户为您充值
		<elseif condition='$v.type eq 3' />
					
		<elseif condition='$v.type eq 4' />
				礼物
				<if condition='$v.translateid'>
				<a class="example-image-link" href="http://newtaiwan.oss-cn-hongkong.aliyuncs.com/gift/gift{$v.translateid}.png" data-lightbox="example-{$v.id}">
				<img width="20em" src="http://newtaiwan.oss-cn-hongkong.aliyuncs.com/gift/gift{$v.translateid}.png" /></a>
				</if>
				{$v.days}个
		</if>
		</td>
		<td>{$v.paytime|date="Y-m-d H:i",###}</td>
		<td>{$v.money}</td>
		<td>{$v.translateid}</td>
		<td><a href="javascript:if(confirm('确实要删除吗?'))location='/Adms/PeiUser/zhaohuid?id={$v.id}'">还原</a></td>
		</tr>										

		</volist>
		</tbody>
		</table>
		{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>			
</block>