/*start*/
body{
	background-color:#fdcfd1;
    color:#805E5E;
}
.cbg{
	background-color: #fff;
	width:92%;
	padding: 1.25rem;
    margin:0 auto; 
    
    margin-top:1.25rem;
}
.cbg h4{
    font-weight: bold;
    font-size: 2.25rem; 
    text-align: center;
    padding:1.875rem 0;
}
.cbg h6{
    font-weight:bold;
    font-size: 1.5rem; 
   
    margin-bottom: 1.875rem;
}
.cbg p{
	font-size:1.5rem; 
	line-height: 4rem;
	margin-bottom:1.25rem;
    text-align: justify;
    text-justify: inter-ideograph;
    /* text-indent: 2em; */
    
	}
/*end*/