<extend name="./Application/Usersadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>

				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">年龄</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="age" class="form-control" placeholder="">
				                    </div>
				                </div>
							<div class="form-group">
								<label class="col-sm-3 control-label">性别</label>
								<div class="col-sm-6">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="inline-radio1" name="gender"
											   value="1"> 男
									</label>
									<label class="radio-inline" for="inline-radio2">
										<input type="radio" id="inline-radio2" name="gender" value="2"> 女
									</label>

								</div>
							</div>



				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">昵称</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="translateid" name="nickname" class="form-control" placeholder="">
				                    </div>
				                </div>

							<div class="form-group">
								<label class="col-sm-3 control-label">密码</label>
								<div class="col-sm-6">
									<input type="text" id="" name="password" class="form-control"
										   placeholder="如果为空则默认密码为123456">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">平台号</label>
								<div class="col-sm-6">
									<volist name="product" id="vo">
									<label class="radio-inline" for="inline-radio1">
										<input type="radio" checked="true" id="inline-radio1" name="product"
											   value="{$vo}"> <span>{$vo}</span>
									</label>
									</volist>


								</div>
							</div>

						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>