﻿<extend name="./Application/Usersadms/View/public.html" />
<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">


	<div> <a class="btn btn-primary" href="{$url}">返回</a> </div>

<div class="panel panel-default">
<ul class="nav nav-tabs">
  <li role="presentation" <if condition='$Type eq "base"'>class="active"</if> ><a
		href="/Usersadms/user/userinfo.html?uid={$_GET.uid}">基本信息</a></li>
  <li role="presentation" <if condition='$Type eq "photo"'>class="active"</if>><a
		href="/Usersadms/user/userinfo.html?uid={$_GET.uid}&type=photo">相册</a></li>
  <li role="presentation" <if condition='$Type eq "msglist"'>class="active"</if>><a
		href="/Usersadms/user/userinfo.html?uid={$_GET.uid}&type=msglist">聊天记录</a></li>
	<li role="presentation" <if condition='$Type eq "dynamic"'>class="active"</if>><a
		href="/Usersadms/user/userinfo.html?uid={$_GET.uid}&type=dynamic">动态记录</a></li>
</ul>
  <div class="panel-body">

	<ul class="list-group" <if condition='$Type neq "base"'>style="display:none"</if>>
		<li class="list-group-item">头像:<img src="{$UserInfo.head.url}" width="50em" alt="ico" class="img-rounded">
			<a href="javascript:void(0);" onclick="return diy_confirm({$UserInfo.head.id}) ">删除</a></li>




	  <li class="list-group-item">
	  UID:{$UserInfo.uid}&nbsp;
	  {$UserInfo.nickName}&nbsp;
	  <if condition='$UserInfo.gender eq 1'>男<else />女</if>
	  &nbsp;{$UserInfo.product}
	  </li>
	  <li class="list-group-item">
	  注册时间:{$UserInfo.regtime|date='Y-m-d H:i:s',###}<br />
	   账号:{$UserInfo.uid}<br />
	    密码:{$UserInfo.password}
	  </li>
	  <li class="list-group-item">
		  phoneid:{$UserInfo.phoneid}&nbsp;<br />
		  系统版本号:{$UserInfo.systemversion}&nbsp;<br />
		  手机版本号：{$UserInfo.version}&nbsp;<br />
		  产品号：{$UserInfo.product}&nbsp;
	  </li>
	  <li class="list-group-item">
	  地区:{$UserInfo.area_name}&nbsp;
	  </li>
	  <li class="list-group-item">包月到期时间为:{$UserInfo.viptime|date="Y-m-d",###}&nbsp;金币:{$UserInfo.gold}
		  总魅力值：{$money.totalmoney}可提取魅力值: {$money.leftmoney}</li>
	  <li class="list-group-item">最后登录时间:{$UserInfo.logintime|date="Y-m-d H:i:s",###}</li>
	  <li class="list-group-item">在线状态:{$onlineState}</li>
	   <li class="list-group-item">国家:{$UserInfo.country}&nbsp;语言：{$UserInfo.language}</li>

<li class="list-group-item">推荐人：{$UserInfo.puid}</li>


		  <volist name="extinfo" id="v">								
			<li class="list-group-item">{$v.name}：{$v.value}</li>
		 </volist>

	<li class="list-group-item"><a href="/Usersadms/user/userinfo.html?uid={$UserInfo.uid}&clearcache=1">清空缓存</a></li>

	<if condition='$UserInfo.user_type eq 6'>
		<li class="list-group-item"><a href="/Usersadms/user/userinfo.html?uid={$UserInfo.uid}&setusertype=1">取消屏蔽</a></li>
	<else />
	
		<li class="list-group-item"><a href="/Usersadms/user/userinfo.html?uid={$UserInfo.uid}&setusertype=6">禁止发信</a></li>
	</if>
	</ul>

<div class="row" <if condition='$Type neq "photo"'>style="display:none"</if>>
<volist name="UserInfo.photos" id="vo">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="width:15em;">
      <img src="{$vo.url}" alt="...">
      <div class="caption">
		  <p><a href="javascript:void(0);" onclick="return diy_confirm({$vo.id})"  class="btn btn-primary"
				role="button">删除</a></p>

      </div>
    </div>
  </div>
 
  </volist>


</div>

	
<div class="row"<if condition='$Type neq "msglist"'>style="display:none"</if>>
<tbody>
<volist name="msglist" id="vo">

						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default" style="float:left;">
							<div class="panel-body" >
							<div class="fmain" style="margin:10px; border:0px;padding:3px; PADDING:0px; width:300px; height:480px; LINE-HEIGHT: 20px; OVERFLOW: auto; ">

							<div style="float:left"><img src="{$vo.head}" width=50 height=50/></div>
								<div style="float:left;margin-left:10px;width:290px">
								<div style="color:#009900; font-size:1.2em;"><a href="userinfo.html?uid={$vo.uid}">{$vo.nickname}---{$vo.uid}</a></div>


										<volist name="vo.msg" id="vo1">

												<if condition='$vo1.type eq text'>
													<div style=" margin-left:10px;">
														<div style=" margin:10px; color:#009900 ; font-size:1.2em;">
															{$vo1.nickname}---{$vo1.uid}//{$vo1.sendtime|date='m-d
															H:i:s',###}
															<br/>
															{$vo1.content}
														</div>

													</div>

													<elseif condition='$vo1.type eq "video" '/>
													<div style=" margin:0px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<video preload="metadata" src="{$vo1.contentbody}"  controls="controls" width="150" height="150">
															your browser does not support the video tag
														</video>
													</div>

													<elseif condition='$vo1.type eq "voice"'/>
													<div style=" margin:0px; ">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<audio src="{$vo1.contentbody}" controls="controls">
															Your browser does not support the audio element.
														</audio>
													</div>

													<elseif condition='$vo1.type eq gift '/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<img  src="http://10408.oss-cn-hongkong.aliyuncs.com/data{$vo1.gifturl}" width="50" >
														<br>giftname:{$vo1.gifttitle}
														<br>giftcount:{$vo1.contentint}
														<br>类型:赠送礼物

													</div>
													<elseif condition='$vo1.type eq askgift '/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<img  src="http://10408.oss-cn-hongkong.aliyuncs.com/data{$vo1.gifturl}" width="50" >
														<br>giftname:{$vo1.gifttitle}
														<br>giftcount:{$vo1.contentint}
														<br>类型:索要礼物

													</div>

													<elseif condition='$vo1.type eq askVip'/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														类型:
														<if condition='$vo1.contentbody eq 1'>
															索要黄金会员
															<elseif condition='$vo1.contentbody eq 2'/>
															索要铂金会员
															<elseif condition='$vo1.contentbody eq 3'/>
															索要钻石会员
														</if>
														<br>Vip天数:{$vo1.contentint}
													</div>

													<elseif condition='$vo1.type eq Vip'/>
													<div style=" margin:10px;">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo1.sendtime|date='m-d h:i:s',###}</div>
														<br>
														类型:
														<if condition='$vo1.contentbody eq 1'>
															赠送黄金会员
															<elseif condition='$vo1.contentbody eq 2'/>
															赠送铂金会员
															<elseif condition='$vo1.contentbody eq 3'/>
															赠送钻石会员
														</if>
														<br>Vip天数:{$vo1.contentint}
													</div>


													<elseif condition='$vo1.type eq image '/>
													<div style=" margin:10px;"  >
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<a href="{$vo1.contentbody}" data-lightbox="image-165593" data-title="165593">
															<img  src="{$vo1.contentbody}" width="50"  >
														</a>

													</div>
													<elseif condition='$vo1.type eq location '/>
													<div style=" margin:10px;" id="key" name="locationkey"
														 title="{$vo1.id}" align="{$vo1.contentbody}"
														 accessKey="{$vo1.contentint}">
														<div style="color:#009900 ; font-size:1.2em;">{$vo1.nickname}---{$vo1.uid}//{$vo.sendtime|date='m-d h:i:s',###}</div>
														<br>
														<div id="container{$vo1.id}" style="width: 300px;height:180px;" name="container">

														</div>

													</div>

												</if>


									</volist>

							</div>

							</div>
							</div>
							</div>


						</div>
</volist>

</tbody>
</div>

<!--
	动态页
-->
	<div class="row"<if condition='$Type neq "dynamic"'>style="display:none"</if>>
	<tbody>
	<volist name="DataList" id="vo">
		<div class="col-sm-6 col-md-4">
		<div id="tr-{$vo.id}" class="panel panel-default" style="float:left;">
			<div class="panel-body">
				<div class="fmain">
					<div style="float:left"><img src="{$vo.user.head.url}" width=50 height=50/></div>
					<div style="float:left;margin-left:5px;width:200px">

						<div><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.user.nickname}</a></div>
						<div style="margin-top:5px;">{$vo.content}</div>
						<div>{$vo.time|date='Y-m-d',###}</div>
						<if condition='$vo.type eq 1'>

							<elseif condition='$vo.type eq 2'/>

							<volist name="vo.meiti" id="photos">
								<img style="margin:5px;" src="{$photos.url}" width="50" >
							</volist>
							<elseif condition='$vo.type eq 3'/>

							<video preload="metadata" src="{$vo.meiti.url}" width="150"
								   height="150"controls="controls">
								your browser does not support the video tag
							</video>
						</if>
					</div>
					<div class="clear" style="float:right;margin-top:10px;padding:10px;">
						<if condition='$vo.status eq 1'>
							已通过审核
                            <a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">驳回</a>
                            <else  />
							未审核
							<!--<a href="javascript:void(0);" onclick="return check1({$vo.id},{$vo.uid})" class="userinfo" style="font-size:15px;" title="{$vo.uid}">通过</a>-->
						</if>

						<!--<a href="javascript:void(0);" onclick="return check2({$vo.id},{$vo.uid})" class="userinfo"  style="font-size:15px;" title="{$vo.uid}">驳回</a>-->
					</div>

				</div>
			</div>
		</div>
		</div>
	</volist>
	</tbody>
	</div>

</div>
</div>


	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=27ad0293a63320315a8a62438fd6c29a"></script>
	<script type="text/javascript">
        var obj = document. getElementsByName("locationkey");


		for( var k = 0, length = obj.length; k < length; k++){

		   // var longitude=113;
           // var latitude=34.6957;
            var longitude=obj[k].accessKey;
           var latitude=obj[k].align;
            var map = new AMap.Map('container'+obj[k].title, {
                resizeEnable: true,
                zoom:11,//级别
                center: [longitude, latitude],//中心点坐标
                viewMode:'3D'//使用3D视图
            });
            var marker = new AMap.Marker({
                position: map.getCenter(),
                draggable: true,
                cursor: 'move'
            });
            marker.setMap(map);


		}

	</script>
	<script type="text/javascript">
	function diy_confirm(id){
        var data = {'id':id};
        var url = "/Usersadms/user/deleteImg";
        $.post(url,data,function(result){
        if(result.status =='1') {
            layer.msg('已删除图片',{
                time: 300
            });
        }
	location.reload();
	},'JSON');

	}

    //单选驳回
    function check2(id,uid){
        var data = {'status':3,'id':id,'uid':uid};
        var url = "/Usersadms/user/judge";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg('已驳回',{
                    time: 300
                });
                $("#tr-"+id).remove();
            }
        },'JSON');
    }
	</script>
</block>