
	 <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 这里是页面内容区 -->
            <div class="content native-scroll">
            	
            	
              <div class="content-block-title">每月20日可兑换本月积分，积分月底清空</div>
				  <div class="card demo-card-header-pic">
				    <div valign="bottom" class="card-header color-white no-border no-padding">
				      <!--  <img class='card-cover' src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" alt="">
				   -->
				   <p style="padding:1rem;word-wrap:break-word;width: 100%;">
				   
					    </p>
				    </div>
				    <div class="card-footer">
				      <a href="javascript:backIndex();" class="link external">返回</a>
				    </div>
				  </div>
 			
                 
            </div>
        </div>

        
    </div>
    
