<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
	<div class="row">
		<div id="content" class="col-sm-12 full">
			<div class="row">
				<div class="login-box">
					<form class="form-horizontal login" action="{:U('adms/Checkauthtxmy/Login')}" method="post">
						<fieldset class="col-sm-12">
							<div class="form-group">
								<div class="controls row">
									<div class="input-group col-sm-12">
										<input name="username" type="text" class="form-control" id="username" placeholder="账号"/>

									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="controls row">
									<div class="input-group col-sm-12">
										<input type="password"  name="password" class="form-control" id="password" placeholder="密码"/>

									</div>
								</div>
							</div>

							<div class="row">

								<button type="submit" class="btn btn-lg btn-primary col-xs-12">进入</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div><!--/row-->

		</div>

	</div><!--/row-->
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    function is_add(id,type){
        var data = {'id':id,'type':type};
        var url = "/Adms/products/isadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    //删除apk
    function delApk(product){
        var data = {'product':product};
        var url = "/Adms/products/delApk";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }

    </script>		
</block>