<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="id"><input type="hidden" name="id" value="{$id}" /></notempty>
								<!-- <div class="form-group">
								  <div class="input-group   col-sm-4">
								  <span class="input-group-addon">语言</span>
								  <select name="user_type" class="btn-sm">
									<option value ="0">选择语言</option>
									   <volist name="langCode" key="key" id="vo">
									   <option value ="{$key}">{$vo}</option>
									   </volist>	
									</select>
									</div>
								</div>
								 -->
								<div class="form-group">
								  <div class="input-group   col-sm-4">
								  <span class="input-group-addon">采集配置文件</span>
								  
								  <input type="file" name="caijiconfig" />
									</div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->
					
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>