<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
						<select name="gender" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
			              <option value="">全部性别</option>
			              		<volist name="status.user.gender" id="dvo" key="gk">      	
							    <option value="{$gk}" <if condition='$get.gender eq $gk'>selected="selected"</if>>{$dvo}</option>
							  </volist>
			            </select>

										
							 
							
								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">ID</th>
                                            <th class="table-title">昵称</th>
                                            <th class="table-type">性别</th>
                                            <th class="table-author am-hide-sm-only">头像</th>
                                            <th class="table-date am-hide-sm-only">相册</th>
                                            <th class="table-set">操作</th>
                                            <th class="table-set">删除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList.listSearch" id="vo">
                                        <tr id="tr-{$vo.uid}">
                                            <td>{$vo.uid}</td>
                                            <td><a href="#">{$vo.nickname}</a></td>
                                            <td>
                                            {$status["user"]["gender"][$vo[gender]]}
                                            </td>
                                            <td class="am-hide-sm-only">
                                            <img src="{$vo['head']['url']}" width="100" height="100"/>
                                            </td>
                                            <td class="am-hide-sm-only">
											<volist name="vo.photos" id="vosub">
												<img src="{$vosub.url}" width="100" height="100"/>
											</volist>
											</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
<a href="javascript:void(0);" uid="{$vo.uid}" class="ruku btn btn-sm btn-info">入库</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
&nbsp;&nbsp;<a href="javascript:void(0);" uid="{$vo.uid}" class="shanchu btn btn-sm btn-info">删除</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>
							
							{$Pages}

						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
        	  $(".ruku").click(function(){
        		  var uid = $(this).attr("uid");
        	    	//alert(uid);
        	    	 $("#tr-"+uid).remove();
        	    	$.post("/Adms/caiji/ruku.html",
        	        	    {
        	        	      uid:uid
        	        	    },
        	        	    function(data,status){
        	        	      //alert("数据：" + data + "\n状态：" + status);
        	        	     
        	        	    });
        	  });
        	  $(".shanchu").click(function(){
        		  var uid = $(this).attr("uid");
        	    	//alert(uid);
        	    	$.post("/Adms/caiji/shanchu.html",
        	        	    {
        	        	      uid:uid
        	        	    },
        	        	    function(data,status){
        	        	      //alert("数据：" + data + "\n状态：" + status);
        	        	      $("#tr-"+uid).remove();
        	        	    });
        	  });
        	});
    </script>

</block>