<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">

						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">ID</th>
                                            <th class="table-title">发送方id</th>
                                            <th class="table-type">接收方id</th>
                                            <th class="table-author am-hide-sm-only">手机型号</th>
                                            <th class="table-date am-hide-sm-only">运用版本号</th>
                                            <th class="table-date am-hide-sm-only">手机系统版本</th>
                                            <th class="table-date am-hide-sm-only">发送内容</th>

                                          <!--  <th class="table-set">操作</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList" id="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>
                                                {$vo.sender}
                                            </td>

                                            <td>
                                                {$vo.receiver}
                                            </td>
                                            <td>{$vo.phonetype}</a></td>
                                            <td>{$vo.version}</a></td>
                                                <td>systemversion</td>

                                            <td>{$vo.content}</a></td>
                                          <!--<td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a href="editprice.html?id={$vo.id}" class="userinfo"
                                                           id="userinfo"  title="{$vo.id}">修改</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                                                        <a href="delprice.html?id={$vo.id}" class="userinfo" title="{$vo.id}">删除</a>


                                                    </div>
                                                </div>
                                            </td>-->
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>

                         </form>
                            {$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>