<extend name="./Application/Vodadms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
					
					<form action="{$action}" method="post" class="form-horizontal ">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
			            </div>
			            <div class="panel-body">
	<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>

				                <div class="form-group">
				                    <label class="col-sm-3 control-label" for="input-normal">公司名称</label>
				                    <div class="col-sm-6">
				                        <input type="text" id="input-normal" name="name" class="form-control" placeholder="">
				                    </div>
				                </div>
							<div class="form-group">
								<label class="col-sm-3 control-label">设置账号</label>
								<div class="col-sm-6"><input type="text" id="input-account" name="account" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="" />
								</div>
							</div>





							<div class="form-group">
								<label class="col-sm-3 control-label">设置密码</label>
								<div class="col-sm-6">
									<input type="text" id="password" name="password" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')"
										   placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">再次确认密码</label>
								<div class="col-sm-6">
									<input type="text" id="password_two" name="password_two" class="form-control" onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" placeholder="请再次输入密码" />
								</div>
							</div>

							<div class="form-group" >
								<label class="col-sm-3 control-label">设置抽水</label>
								<div class="col-sm-6 form-group" style="width:100px;">
									<input style="width:80px;" type="text" id="gold_pump" name="gold_pump" class="form-control"
												   placeholder="50" οnkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')">

								</div>

							</div>
							<div style="margin-top: -56px"><h5>%</h5></div>

						</div>
						<div class="panel-footer">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
		                </div>	
							</form>						
			        </div>
				</div><!--/col-->
			
			</div>
			
			
</block>