<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="import.html">导入策略</a></div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Code</th>
                                      <th>语言</th>
									  <th>内容</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList.list" id="vo">
								<tr>  
									<td>{$vo.msgkey}</td>
                                    <td>{$vo.lang}</td>
									<td>{$vo.value}</td>									
									<td>
										<a href="Edit.html?code={$vo.msgkey}">修改</a>
									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>   
									{$Pages}				  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
	
</block>