<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<div class="progress progress-striped active">
								<div class="progress-bar progress-bar-success" role="progressbar"
									 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
									 style="width: {$yiwancheng}%;">
									<span class="sr-only">{$yiwancheng}% 完成</span>
								</div>
							</div>
								<div class="form-group">
									
									<a href="import.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
   {$javascript}
</block>