<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						
						<div class="panel-body" style="min-height:100px;padding:20px;">
							<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
						<form class="form-horizontal" action="{$action}" method="get">
							 订单号： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						

						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			<script type="text/javascript">
			$(document).ready(function(){
			  $(".mulu").click(function(){
				//alert($(this)[0].tagName);
					$(this).next('.wenjianlist').toggle();
				
			  });
			});
			</script>
</block>