<head>
  <meta charset="utf-8">

</head>
<body>
<form action="api.php" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_FyV4B5vJrllBNGdFDJ09H15K"
    data-amount="401"
    data-name="play.google"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="usd">
  </script>
</form>
  <script>
 
  </script>
</body>