<head>
  <meta charset="utf-8">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase1</button>

<script>
var paycurrency="twd";
var payamount=59900;
var paydescription="30天VIP";
var handler = StripeCheckout.configure({
  key: 'pk_test_FyV4B5vJrllBNGdFDJ09H15K',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  type: 'googlepay',
  token: function(token) {
  //var Obj = JSON.parse(token);
  var stripeToken = token.id;//token
  var stripeEmail = token.email;
  var stripetype = token.type;//card信用卡
  var stripelivemode = token.livemode;//true是正式模式false调试模式
  var stripecurrency = paycurrency;//币种
  var stripeamount = payamount;//金额
  var stripdescription = paydescription;//description
  //$.post("api.php",{stripeToken:stripeToken,stripecurrency:stripecurrency,stripeamount:stripeamount,stripdescription:stripdescription,stripelivemode:stripelivemode},function(result){
    //alert(result);
  //});
  // Send the token to your server to charge it!
  fetch('api.php', {
    method: 'POST',
    body: JSON.stringify({stripeToken:stripeToken,stripecurrency:stripecurrency,stripeamount:stripeamount,stripdescription:stripdescription,stripelivemode:stripelivemode}),
    headers: {'content-type': 'application/json'},
  })
  .then(function(response) {
 // writeObj(response);
    if (response.ok==true) {
      // Report to the browser that the payment was successful, prompting
      // it to close the browser payment interface.
      alert('success');
    } else {
      // Report to the browser that the payment failed, prompting it to
      // re-show the payment interface, or show an error message and close
      // the payment interface.
      alert('fail');
    }
  });
  //stripeToken
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'play.google',
    description: paydescription,
    currency: paycurrency,
    amount: payamount
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {

  handler.close();
});

function writeObj(obj){ 
    var description = ""; 
    for(var i in obj){   
        var property=obj[i];   
        description+=i+" = "+property+"\n";  
    }   
    alert(description); 
} 
</script>
</body>