@charset "utf-8";
*:focus {
  outline: none;
}
body {
  background-color: #fafbf6;
}
.content {
  min-height: 500px;
  padding: 20px;
  overflow: hidden;
}
.content .title {
  margin-bottom: 42px;
}
.content .title h2 {
  margin-bottom: 10px;
  font-size: 25px;
}
.content .title span {
  color: #777372;
}
.content .subNav {
  font-size: 16px;
}
.content .subNav li {
  margin-bottom: 14px;
}
.content .subNav li .active {
  border-color: #e3556b;
}
.content .subNav li span {
  transition: all 1s;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 0 8px;
  cursor: pointer;
}
.content .subNav li span:hover {
  border: 2px solid #e3556b;
}
.content .cot-text {
  margin-top: 100px;
  position: relative;
  display: none;
}
.content .cot-text.active {
  display: block;
}
.content .cot-text .subCot {
  padding: 0 20px 40px 40px;
}
.content .cot-text .subCot .dy-text {
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin-bottom: 40px;
}
.content .cot-text .subCot .dy-text h2 {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}
.content .cot-text .subCot .dy-text h2 span {
  float: left;
}
.content .cot-text .subCot .dy-text h2 label {
  float: right;
  font-size: 12px;
  color: #666;
  font-weight: normal;
}
.content .cot-text .subCot .dy-text p {
  line-height: 20px;
  padding: 5px 0;
  color: #666;
}
.content .cot-text .subCot .dy-text .more {
  text-align: right;
}
.content .cot-text .subCot .dy-text .more a {
  color: #000;
}
.content .cot-text .subCot .dy-text .more a i {
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../images/li.png") no-repeat;
}
.content .cot-text .subCot .day {
  width: 120px;
  text-align: right;
  float: right;
}
.content .cot-text .subCot .day h2 {
  font-size: 50px;
  border-bottom: 3px solid #ce2c38;
}
.content .cot-text .subCot .day p {
  padding: 2px 0;
}
.content .cot-text .subCot .btn-more {
  width: 140px;
  margin-left: 30%;
  cursor: pointer;
}
.content .cot-text .subCot .btn-more h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.content .cot-text .subCot .btn-more i {
  display: inline-block;
  width: 36px;
  height: 9px;
  background: url("../images/btn-more.png") no-repeat center;
}

.content .cot-text h3 {
  font-size: 16px;
  font-weight: bold;
}
.content .cot-text .line {
  padding: 20px 0;
}
.content .cot-text .line p {
  padding: 5px 0;
  color: #3f3e3c;
  line-height: 24px;
}
.content .cot-text .line p a {
  line-height: 30px;
}
.dy-pic {
  margin-bottom: 20px;
}
.dy-pic .pic {
  height: 272px;
  width: 100%;
  background: url("../images/dy-pic-bg.jpg") no-repeat;
  position: relative;
  overflow: hidden;
}
.dy-pic .pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.dy-pic .text {
  padding: 5px;
  color: #666;
  height: 86px;
  overflow: hidden;
  background-color: #dededc;
}
.dy-pic .text p {
  line-height: 24px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dy-pic .text img {
  height: 20px;
  margin-bottom: -4px;
}
.bg-line {
  height: 100px;
  background: url("../images/head-pic.jpg") no-repeat center bottom;
  background-size: cover;
}
.bg-line .bg-b {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#game .content {
  width: 1170px;
}
#game .title {
  margin-bottom: 20px;
}
#game .title .text {
  line-height: 24px;
  margin-top: 20px;
}
#game .choose {
  margin-bottom: 48px;
}
#game .choose li {
  float: left;
  font-weight: bold;
  margin-right: 80px;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
}
#game .choose li.active {
  border-bottom: 4px solid #d65d70;
}
#game .cot-text {
  margin-top: 70px;
}
#game .cot-text .pic1 {
  background: url("../images/banner.png") no-repeat 0 0;
}
#game .cot-text .pic1 img {
  position: absolute;
  top: 0;
  left: 200px;
  width: 435px;
  height: 358px;
}
#game .cot-text .pic1 .down {
  position: absolute;
  right: 323px;
  bottom: 50px;
}
#game .cot-text .pic1 .down a {
  display: inline-block;
  width: 100px;
  height: 32px;
  background: #ce2c38;
  margin-left: 10px;
  text-indent: -99999px;
}
#game .cot-text .pic1 .down .Android {
  background: url("../images/btn_android.png") no-repeat 0 0;
}
#game .cot-text .pic1 .down .Android:hover {
  background: url("../images/btn_android_hover.png");
}
#game .cot-text .pic1 .down .iphone {
  background: url("../images/btn_ios.png") no-repeat 0 0;
}
#game .cot-text .pic1 .down .iphone:hover {
  background: url("../images/btn_ios_hover.png");
}
#game .cot-text .pic2 {
  background: url("../images/banner2.jpg") no-repeat 0 0;
}
#game .cot-text .pic {
  position: relative;
  width: 100%;
  height: 350px;
  margin-bottom: 40px;
}
#game .cot-text .pic .banner_con {
  position: absolute;
  right: 228px;
  bottom: 28px;
  width: 200px;
  height: 48px;
  display: inline-block;
  background: url("../images/bbwar_download_btn.png") no-repeat 0 0;
  text-indent: -9999px;
  cursor: pointer;
}
#game .cot-text .pic .banner_con:hover {
  background: url("../images/bbwar_download_active_btn.png") no-repeat 0 0;
  background-size: cover;
}
#game .cot-text .pc_place {
  text-align: center;
  zoom: 1;
  height: 260px;
  margin: 24px auto 0;
}
#game .cot-text .pc_place label.ios_mob {
  background: url("../images/iphone.png") no-repeat 0 0;
  padding-top: 164px;
  text-align: left;
  padding-left: 50px;
  width: 310px;
  height: 240px;
}
#game .cot-text .pc_place label.ios_mob p {
  color: #fff;
  font-size: 14px;
}
#game .cot-text .pc_place label.ios_mob p b {
  font-weight: normal;
  color: #F7C58A;
}
#game .cot-text .pc_place label.pc_mob {
  background: url("../images/pc.png") no-repeat 0 0;
  padding-top: 164px;
  text-align: left;
  padding-left: 50px;
  margin-left: 100px;
  width: 310px;
  height: 240px;
  top: -30px;
}
#game .cot-text .pc_place label.pc_mob p {
  color: #754C24;
  font-size: 14px;
}
#game .cot-text .game_detail h3 {
  text-indent: 10px;
  font-size: 16px;
  color: #666;
}
#game .cot-text .game_detail .four_part {
  margin-top: 30px;
}
#game .cot-text .game_detail .four_part div {
  width: 49%;
  float: left;
  height: 164px;
}
#game .cot-text .game_detail .four_part div label {
  float: left;
  width: 64px;
  height: 64px;
  display: inline-block;
  text-indent: -99999px;
}
#game .cot-text .game_detail .four_part div span {
  float: left;
  width: 360px;
  font-size: 14px;
  margin-left: 16px;
  color: #808080;
}
#game .cot-text .game_detail .four_part div h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
#game .cot-text .game_detail .four_part div p {
  line-height: 24px;
}
#game .cot-text .game_detail .four_part .game_ui label {
  background: url("../images/green-circle.png") no-repeat 0 0;
}
#game .cot-text .game_detail .four_part .play_method label {
  background: url("../images/red-circle.png") no-repeat 0 0;
}
#game .cot-text .game_detail .four_part .lightspot label {
  background: url("../images/purple-circle.png") no-repeat 0 0;
}
#game .cot-text .game_detail .four_part .small_tips label {
  background: url("../images/orange-circle.png") no-repeat 0 0;
}
#game .cot-text .contents {
  width: 1160px;
  height: 790px;
  background: url("../images/contect_bg.png") no-repeat;
  margin: 0 auto;
}
#game .cot-text .contents .methods {
  text-align: center;
  padding: 38px 0 32px;
}
#game .cot-text .contents .methods label {
  display: inline-block;
  width: 245px;
  height: 277px;
  margin: 0 20px;
  padding-top: 190px;
}
#game .cot-text .contents .methods label.gointo {
  background: url("../images/pic-one.png") no-repeat 0 0;
}
#game .cot-text .contents .methods label.goout {
  background: url("../images/pic-two.png") no-repeat 0 0;
}
#game .cot-text .contents .fourways {
  width: 860px;
  margin: 0 auto;
}
#game .cot-text .contents .fourways h3 {
  margin-bottom: 30px;
  text-indent: 10px;
  font-size: 16px;
  color: #666;
}
#game .cot-text .contents .fourways .four_part div {
  width: 50%;
  float: left;
  height: 144px;
  display: inline;
}
#game .cot-text .contents .fourways .four_part label {
  width: 90px;
  height: 91px;
  display: inline-block;
  text-indent: -99999px;
  float: left;
}
#game .cot-text .contents .fourways .four_part span {
  float: left;
  width: 300px;
  font-size: 14px;
  margin-left: 16px;
  color: #808080;
}
#game .cot-text .contents .fourways .four_part span h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
#game .cot-text .contents .fourways .four_part span p {
  line-height: 24px;
}
#game .cot-text .contents .fourways .four_part .game_ui label {
  background: url("../images/game_ui.png") no-repeat 0 0;
}
#game .cot-text .contents .fourways .four_part .play_method label {
  background: url("../images/play_method.png") no-repeat 0 0;
}
#game .cot-text .contents .fourways .four_part .lightspot label {
  background: url("../images/spotlight.png") no-repeat 0 0;
}
#game .cot-text .contents .fourways .four_part .small_tips label {
  background: url("../images/small_tips.png") no-repeat 0 0;
}
#join .tx {
  padding-right: 100px;
}
#join .tx p {
  line-height: 24px;
}
#join .tx .pad {
  border-bottom: 3px solid #d65d70;
  padding-bottom: 10px;
}
#join .tx .pad .first {
  text-align: right;
  color: #999;
  font-size: 13px;
  line-height: 1.8;
}
#join .cot-text {
  margin-top: 0;
}
#join .cot-text .subCot2 {
  padding: 40px 100px 20px 0;
}
#join .cot-text .subCot2 .line {
  border-bottom: 3px solid #ddd;
  margin-bottom: 20px;
}
#join .cot-text .subCot2 .line p span {
  display: inline-block;
  width: 80px;
  margin-top: 10px;
}
#campus .tx {
  padding-right: 100px;
  margin-top: 20px;
}
#campus .tx p {
  line-height: 24px;
}
#campus .tx .pad {
  overflow: hidden;
  border-bottom: 3px solid #d65d70;
  padding-bottom: 10px;
}
#campus .tx .pad .fl {
  padding-top: 40px;
}
#campus .cot-text {
  margin-top: 0;
}
#campus .cot-text .subCot2 {
  padding: 40px 100px 20px 0;
}
#campus .cot-text .subCot2 .line {
  margin-bottom: 20px;
}
#campus .cot-text .subCot2 .line .box {
  width: 100%;
}
#campus .cot-text .subCot2 .line .box td {
  line-height: 30px;
}
#campus .cot-text .subCot2 .line p span {
  display: inline-block;
  width: 80px;
  margin-top: 10px;
}
#campus .cot-text .subCot2 .line-x {
  padding: 0;
  margin-bottom: 20px;
}
#campus .cot-text .subCot2 .line-x p {
  line-height: 24px;
}

#campus .slide{
  position: relative;
  width: 600px;
  height: 298px;
  overflow: hidden;
  margin-bottom: 10px;
}
#campus .slide .figure li{
}
#campus .slide .figure li.active{
}
#campus .slide .control{
  position: absolute;
  bottom:15px;
  width: 100px;
  left:50%;
  margin-left: -50px;

}
#campus .slide .control li{
  width: 10px;
  height: 10px;
  background: #fff;
  float: left;
  border-radius: 50%;
  margin-right: 5px;
}
#campus .slide .control li.active{
  background: #e83552;
}

#help .cot-text .subCot h2 {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
  cursor: pointer;
}
#help .cot-text .subCot h2 i {
  position: absolute;
  top: 18px;
  right: -13px;
  display: none;
  width: 28px;
  height: 26px;
  background: url("../images/que.png") no-repeat;
}
#help .cot-text .subCot span {
  font-weight: bold;
}
#help .cot-text .subCot .px {
  display: none;
  border-top: 2px solid #e3556b;
  padding: 10px 0 24px;
  box-sizing: content-box;
}
#help .cot-text .subCot .px p {
  line-height: 30px;
  color: #ce2c38;
}
#help .cot-text .subCot .px .pxBox {
  width: 100%;
  text-align: center;
  line-height: 28px;
  margin-top: 10px;
}
#help .cot-text .subCot .px .pxBox th {
  text-align: center;
}
#help .cot-text .subCot .px .pxBox td {
  border: 1px solid #ddd;
}
#pay .payWay .clr {
  clear: both;
}
#pay .payWay .item {
  margin-bottom: 14px;
}
#pay .payWay .item .idname {
  font-size: 15px;
  font-weight: bold;
  margin-right: 16px;
  float: left;
  height: 34px;
  line-height: 34px;
}
#pay .payWay .item input {
  border: 1px solid #ddd;
  padding: 4px 8px;
  height: 32px;
  margin-bottom: 8px;
}
#pay .payWay .item .get {
  background: url("../images/get-bg.jpg") no-repeat 0 -36px;
  display: inline-block;
  height: 36px;
  width: 80px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #666;
}
#pay .payWay .item .get:hover {
  color: #ef555e;
  background: url("../images/get-bg.jpg") no-repeat 0 1px;
}
#pay .payWay .item .get.active {
  background: url("../images/get-bg.jpg") no-repeat 0 1px;
  color: #ef555e;
}
#pay .payWay .item .btn-group {
  margin-top: -5px;
  border-radius: 0;
}
#pay .payWay .item .btn-group button {
  padding: 5px 12px;
}
#pay .payWay .item .bank_ways {
  display: inline-block;
  height: 33px;
  color: #666;
  padding-left: 4px;
  border: 1px solid #ddd;
  font-weight: bold;
  cursor: pointer;
}
#pay .payWay .item .money {
  color: #ef555e;
  font-weight: bold;
  line-height: 36px;
}
#pay .payWay .choose {
  float: left;
  margin-top: -8px;
  margin-bottom: 10px;
  display: inline-block;
}
#pay .payWay .choose .tips {
  margin-left: 70px;
}
#pay .payWay .choose label {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-top: 12px;
  zoom: 1;
}
#pay .payWay .choose label span {
  font-weight: normal;
  color: #000;
}
#pay .payWay .choose label strong {
  color: #d9687a;
  font-weight: normal;
}
#pay .payWay .choose label b {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: url("../images/radio.jpg") no-repeat 1px -2px;
  margin: 4px 5px 0 0;
  text-indent: -999px;
  overflow: hidden;
}
#pay .payWay .choose label b.do {
  background: url("../images/radio.jpg") no-repeat 1px -40px;
}
#pay .payNext {
  /*margin: 30px 60px 60px;*/
}
#pay .payNext button {
  width: 200px;
  background-color: #e3556b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px;
}
#pay .payNext input {
  width: 200px;
  background-color: #e3556b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px;
}
#dy-content .insidePage .tit h1 {
  font-size: 24px;
  font-weight: normal;
  color: #3d3d3d;
  margin-bottom: 10px;
}
#dy-content .insidePage .tit span {
  color: #5b5a59;
  font-size: 16px;
}
#dy-content .insidePage .version {
  margin-top: 24px;
}
#dy-content .insidePage .version p {
  font-size: 14px;
  text-indent: 2em;
  color: #3d3d3d;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 0;
}
#dy-content .insidePage .version .pic {
  text-align: center;
}
#pay-result .subCot {
  text-align: center;
}
#pay-result .subCot h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
#pay-result .subCot p {
  color: #666;
}
#pay-result .subCot p img {
  width: 200px;
  margin: 30px auto;
}
#pay-result .subCot p button {
  width: 240px;
  margin-top: 30px;
  background-color: #e3556b;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 1200px) {
  #photoList .dy-pic .pic {
    height: 216px;
  }
}
@media (max-width: 992px) {
  #photoList .dy-pic .pic {
    height: 155px;
  }
}
@media (max-width: 500px) {
  #pay .payNext input {
	  padding:10px 4px;
  }
}
