@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
table,
th,
td,
form,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}
html,
body,
img,
iframe {
  border: 0;
}
li {
  list-style: none;
}
textarea {
  overflow: auto;
  resize: none;
}
body,
textarea,
input,
button,
select {
  font: 14px "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  color: #333;
  outline: 0;
}
img {
  max-width: 100%;
}
body {

}
.fl {
  float: left;
}
.fr {
  float: right;
}
.head {
  background: url("../images/head-pic.jpg") no-repeat;
  background-size: cover;
  height: 140px;
  width:100%;
}
.head .wrap-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#head .navbar {
  border: 0 none;
  background-color: transparent;
}
#head .navbar ul.nav {
  display: table;
  float: none;
  margin: 0 auto;
}
#head .navbar ul.nav li {
  padding: 18px 20px 0;
}
#head .navbar ul.nav li a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 12px;
  padding: 10px 0;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
#head .navbar ul.nav li a:hover {
  border-bottom: 1px solid #fff;
}
#head .navbar ul.nav li a.active {
  border-bottom: 1px solid #fff;
}
#foot .floor {
  background-color: #4d4948;
}
#foot .floor .container {
  padding: 30px 0 40px;
}
#foot .floor h2 {
  font-size: 14px;
  color: #fff;
  padding-left: 425px;
  margin-bottom: 10px;
}
#foot .floor .col-xs-7 .pic {
  float: right;
  width: 120px;
  border-radius: 4px;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
#foot .floor .col-xs-7 .pic .list {
  display: none;
  position: absolute;
  top: 1px;
  right: 119px;
  z-index: 8;
  width: 160px;
}
#foot .floor .col-xs-7 .pic .list ul li {
  border-radius: 4px 0 0 4px;
  background-color: #ff8584;
  margin-bottom: 8px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
#foot .floor .col-xs-7 .pic .list ul li a {
  color: #fff;
  text-decoration: none;
}
#foot .floor .col-xs-2 {
  padding: 0;
  height: 100%;
}
#foot .floor .col-xs-2 .code {
  position: relative;
  width: 140px;
  border-left: 1px solid #fff;
  padding-left: 20px;
}
#foot .floor .col-xs-2 .code .t-d-code {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -38px;
  left: -226px;
  z-index: 100;
  display: none;
}
#foot .floor .col-xs-2 .friend {
  width: 140px;
  margin-top: 34px;
}
#foot .floor .col-xs-2 figure img {
  width: 100%;
}
#foot .floor2 {
  font-size: 12px;
  color: #000;
  padding-bottom: 40px;
}
#foot .floor2 .col-xs-6 {
  padding: 0;
}
#foot .floor2 .tip-right {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
#foot .floor2 .tip-right span {
  font-size: 16px;
  display: inline-block;
  height: 38px;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 10px;
}
#foot .floor2 .tip-right a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../images/listIcon.png") no-repeat;
}
#foot .floor2 .list {
  margin-top: 20px;
  margin-bottom: 15px;
}
#foot .floor2 .list a {
  color: #000;
  padding: 0 8px;
  line-height: 10px;
}
#foot .floor2 .list a:hover {
  color: #ce2c38;
}
#foot .floor2 .list span {
  color: #ce2c38;
}
#foot .floor2 p {
  text-align: center;
  line-height: 26px;
}
#foot .scroll-top {
  background: url("../images/scrolltop.png") no-repeat;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#foot .scroll-top.active {
  transition: all 0.6s linear;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 1200px) {
  #foot .friend {
    display: none;
  }
}
@media (max-width: 768px) {
  #head .navbar ul.nav {
    display: block;
  }
}
