<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="id"><input name="id" type="hidden" value="{$id}" /></notempty>
								<div class="form-group">
								  <label class="control-label" for="date01">平台号（为空即所有平台）</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="product" class="form-control focused" id="focusedInput" type="text" value="{$Info.product}">
									</div>	
								  </div>
								</div>

								<div class="form-group">
									<label class="control-label" for="date01">小于该版本号(为空即为所有版本)</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="version" class="form-control focused"  type="text" value="{$Info.version}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">小于该vip等级（为空即为所有vip等级)</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="vipgrade" class="form-control focused"  type="text" value="{$Info.version}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">性别</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input type="radio"
											<if condition='$Info.gender eq 0'>
												checked="true"
											</if>
												   name="gender" value="0"  />所有用户
											<input type="radio" <if condition='$Info.gender eq 1'>
											checked="true"
										</if> name="gender" value="1" />男用户
											<input type="radio" <if condition='$Info.gender eq 2'>
											checked="true"
										</if> name="gender" value="2" />女用户
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">用户类型</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input type="radio" <if condition='$Info.user_type eq 1'>
											checked="true"
										</if> name="user_type" value="1"  />普通用户
											<input type="radio" <if condition='$Info.user_type eq 3'>
											checked="true"
										</if> name="user_type" value="3" />陪聊用户
											<input type="radio" <if condition='$Info.user_type eq 0'>
											checked="true"
										</if> name="user_type" value="0" />所有用户
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">通知时间</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input type="radio" <if condition='$Info.informtime eq 1'>
											checked="true"
										</if> name="informtime" value="1"  />注册时通知
											<input type="radio"  <if condition='$Info.informtime eq 2'>
											checked="true"
										</if> name="informtime" value="2" />登陆时通知
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label" for="date01">延长时间发送（秒）</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="overtime" class="form-control focused" type="text" value="{$Info.overtime}">
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label" for="date01">发送内容</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<textarea rows="10" cols="20"  name="content" class="form-control focused"  type="textarea" value="{$Info.content}">{$Info.content}</textarea>
									</div>
								</div>
								</div>

									<div class="form-group">
										<label class="control-label" for="date01">是否开启通知</label>
										<div class="controls">
											<div class="input-group date col-sm-4">
												<input type="radio" <if condition='$Info.isopen eq 1'>
												checked="true"
											</if>  name="isopen" value="1"  />开启
												<input type="radio"<if condition='$Info.isopen eq 0'>
												checked="true"
											</if> name="isopen" value="0" />关闭
											</div>
										</div>
									</div>

								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
<style>
.countrylistdiv{float:left;    float: left;
    height: 25px;
    line-height: 25px;
    width: 120px;
    font-size: 14px;}	
		
			
</style>
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>