<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a></div>
							</form>
							
						</div>
							<table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>product</th>
									  <th>小于该版本号</th>
                                      <th>小于VIP等级</th>
									  <th>性别</th>
									    <th>用户类型</th>
									  <th>通知时间</th>
									  <th>延长时常（秒）</th>
									  <th>通知内容</th>
									  <th>是否开启通知</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.product}</td>
									<td>{$vo.version}</td>
                                    <td>{$vo.vipgrade}</td>
									<if condition='$vo.gender eq 0'>
										<td>所有</td>
									<elseif condition='$vo.gender eq 1' />
										<td>男用户</td>
									<else />
										<td>女用户</td>
								</if>
									<if condition='$vo.user_type eq 1'>
										<td>普通用户</td>
										<elseif condition='$vo.user_type eq 3' />
										<td>陪聊用户</td>
										<else />
										<td>所有用户</td>
									</if>
									<if condition='$vo.informtime eq 1'>
										<td>注册时通知</td>
										<elseif condition='$vo.informtime eq 2' />
										<td>登陆时通知</td>
									</if>
									<td>{$vo.overtime}</td>
									<td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{$vo.content}</td>
									<td>
										<if condition='$vo.isopen eq 0'>
											未开启

											<elseif condition="$vo.isopen eq 1" />
											已开启

										</if>
									</td>								
									<td>

				<a href="edit.html?id={$vo.id}">修改</a> || <a href="del.html?id={$vo.id}">删除</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    function is_add(id,type){
        var data = {'id':id,'type':type};
        var url = "/Adms/products/isadd";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    //删除apk
    function delApk(product){
        var data = {'product':product};
        var url = "/Adms/products/delApk";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }

    </script>		
</block>