<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<!-- <div style="float:right;"> <a class="btn btn-primary" href="add.html">添加</a> -->
							</div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
									  <!-- <th>是否上架</th> -->
									  <th>url</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.id}</td>
									<!-- <td>{$vo.isuppershelf}</td> -->
									<td>{$vo.url}</td>
									<td>
										<label class="switch switch-primary">
											<if condition='$vo.isuppershelf eq 1'>
										      <input type="checkbox" class="switch-input" checked="1"   title="{$vo.id}" alt="{$vo.isuppershelf}">
											<else />  
											 <input type="checkbox" class="switch-input"   title="{$vo.id}" alt="{$vo.isuppershelf}">
											</if>
										      <span class="switch-label" data-on="上架" data-off="下架"></span>
										      <span class="switch-handle"></span>
									</label>
									</td>
									
									
									<!-- <td> -->
										<!-- <a href="edit.html?id={$vo.id}">修改</a>  -->
										<!-- || 
										<a href="del.html?id={$vo.id}">删除</a> -->

									<!-- </td> -->
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var id = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Paymentmethod/updatess",{id:id,isuppershelf:gstatus},function(result){
				if(result.isuppershelf==1&&result.gstatus==1){
                    dialog.toconfirm("已启用！");
				}
                if(result.isuppershelf==1&&result.gstatus==0){
                    dialog.toconfirm("已禁用！");
                }

                if(result.isuppershelf==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    </script>		
</block>
