<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						
	<div class="panel-body" style="min-height:100px;padding:20px;">
							<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg},也可能是网络原因，点击 <a href="javascript:location.reload()">刷新</a>重试,5s后自动刷新。
    </div>
	 </if>
	 <div class="form-group search">
						<form class="form-horizontal" action="{$action}" method="get">
							 应用宝appid： <input  class="input-sm" type="text" name="appid" value="{$get.appid}" />
							 
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<if condition='$yicaiji'>
							已采集:{$yicaiji}条，<a href="/Adms/Sys/Caijipinglun.html"> 结束采集，查看已采集列表 </a>
							</if>
							
							</form>
						</div>
						<if condition='$comments neq 0'>
<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>内容</th>
									  <th>评分</th>
								  </tr>
							  </thead>   
							  							  <tbody>		
							  <volist name="comments" id="vo">
								<tr>  

                                    <td>{$vo.content}</td>
									<td>{$vo.score}</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}
<else />
<H1>已采集列表</H1>
						<volist name="files" id="vo">
							<if condition='$vo.list eq 0'>
								<div class="wenjian">
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
								<a  target="_blank" href="viewpinglun?name={$vo.name}">{$vo.name}</a>
								
																				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<a  target="_blank" href="viewpinglun?name={$vo.name}">查看</a>||
<a target="_blank" href="downpinglun?name={$vo.name}">下载</a>			||<a href="Caijipinglun?delname={$vo.name}">删除</a>					
							</div>	
							<else />
								<div class="mulu">
								<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;{$vo.name}   
								</div>
								<div class="wenjianlist">
									<volist name="vo.list" id="vo1">
										<if condition='$vo1.list eq 0'>
											
											<div class="wenjian">
												&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
												<a target="_blank" href="viewpinglun?name={$vo.name}">{$vo1.name}</a>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<a target="_blank" href="downpinglun?name={$vo.name}">下载</a>
												||
												<a  target="_blank" href="viewpinglun?name={$vo.name}">查看内容</a>
											</div>	
										</if>
									</volist>
								</div>
							</if>
									  
						</volist>		
</if>							
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			<if condition='$myurl'>
		<script language="JavaScript">
				function myrefresh()
				{
				       window.location.href="{$myurl}";
				}
				setTimeout(myrefresh(),1000); //指定1秒刷新一次
				</script>	
				

</if>
	<if condition='$error eq 1'>    
    		<script language="JavaScript">
    		function myrefresh1()
			{
    			location.reload();
			}
    		
				setTimeout(myrefresh1(),50000); //指定1秒刷新一次
				</script>	
	 </if>
</block>