<extend name="./Application/Adms/View/public.html" />
<block name="content">
	<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

				</div>
				<div class="panel-body">
					<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
					<div style="float:left; margin-right: 20px; margin-top: 5px" >
						<th>&nbsp;
							<!--<a href="javascript:void(0);" style="font-size:15px;" onclick="return check3()"
							   class="userinfo" title="">删除缓存</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
							<a href="clearcache.html?name=runtime" style="font-size:15px;"
							   class="" title="">删除运行缓存</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="clearcache.html?name=delcharcord" style="font-size:15px;"
							   class="" title="">删除一周前聊天记录</a>
						</th>

					</div>

					<table class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
						<tr>
							<th>
								<!--<input type="checkbox" name="checkedAll" id="checkedAll" style="width:25px;height:25px;" onclick="return checkAll()" />-->
								<!--(全选)-->ID</th>
							<th>名称</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<volist name="DataList" id="vo">
							<tr id="tr-{$key}">
								<td>
									<label>
										<!--<input type="checkbox" name="checkbox_name"
											   style="width:20px;height:20px;" title="{$vo}"
											   value="{$key}" placeholder="{$vo.url}" >-->
										{$key}
									</label>
								</td>

								<td>{$vo}</td>
								<td>
									<a href="javascript:void(0);" onclick="return check1('{$key}','{$vo}')"
									   class="" title="{$vo}">删除缓存</a>&nbsp;
								</td>

							</tr>
						</volist>
						</tbody>
					</table>
					{$Pages}
				</div>
			</div>
		</div><!--/col-->

	</div>
	<!--	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>-->
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
        //删除缓存
        function check1(id,name){
            var data = {'status':1,"name":name};
            var url = "/Adms/Sys/clearcache";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已删除',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                }
                if(result.status =='2') {
                    layer.msg('删除失败',{
                        time: 300
                    });

                }
            },'JSON');
        }
        //全选删除缓存
       /* function check3(){
            var id=new Array();
            var name=new Array();
            var obj = document.getElementsByName("checkbox_name");
            for(var i=0; i<obj.length; i ++){
                if(obj[i].checked){
                    id[i]=obj[i].value;
                    name[i]=obj[i].title;
                }
            }
            var data = {'status':1,'id':id,"name":name};
            var url = "/Adms/Sys/clearcache";
            $.post(url,data,function(result){
                if(result.status =='1') {

                    layer.msg('已删除',{
                        time: 300
                    });
                    for(let i = 0;i <id.length;i++){
                        $("#tr-"+id[i]).remove();
                    }
                }
                if(result.status =='2') {
                    layer.msg('删除失败',{
                        time: 300
                    });

                }
            },'JSON');
        }*/

        //实现全选
       /* function checkAll() {
            if ($(this).attr("checked") == true) {
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                    // $(this).attr("checked", false);
                });
            } else {
                // 取消全选
                $("input[name='checkbox_name']").each(function() {
                    if ($(this).attr("checked"))
                    {
                        $(this).attr("checked",false);
                    }else{
                        $(this).attr("checked",true);
                    }
                });
            }
        }*/


	</script>
</block>