<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="alert alert-warning alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								{$msg}
							</div>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<input name="id" type="hidden" value="{$Info.id}">


								<div class="form-group">

								  <label class="control-label" for="date01">paykey</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="paykey" class="form-control focused" id="focusedInput" type="text" value="{$Info.paykey}">
									</div>	
								  </div>
								</div>


								<div class="form-group">
									<label class=" control-label">性别</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.gender eq 1'>
													checked="true"
												</if>
												id="inline-radio1" name="gender"
												value="1"> 男
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.gender eq 2'>
													checked="true"
												</if>
												id="inline-radio2" name="gender" value="2"> 女
											</label>
										</div>
									</div>

								</div>


								<div class="form-group">
									<label class=" control-label">类型</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.type eq 1'>
													checked="true"
												</if>
													   id="inline-radio1" name="type"
													   value="1"> 会员
											</label>
											<label class="radio-inline" for="inline-radio2">
											<input type="radio"
												<if condition='$Info.type eq 2'>
													checked="true"
												</if>
												   id="inline-radio2" name="type" value="2"> 钻石
										</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.type eq 5'>
													checked="true"
												</if>
													   id="inline-radio2" name="type" value="5"> 女性用户充值等级1，30天会员
											</label>
											<!--<label class="radio-inline" for="inline-radio2">
												<input type="radio" id="inline-radio2" name="type" value="3"> 通话时长钻石
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio" id="inline-radio2" name="type" value="4"> 通话时长会员
											</label>-->
										</div>
									</div>

								</div>
								<div class="form-group">
									<label class=" control-label">价格类型</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.status eq 1'>
													checked="true"
												</if>
												id="inline-radio1" name="status"
												value="1"> 谷歌支付价格
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.status eq 2'>
													checked="true"
												</if>
												id="inline-radio2" name="status" value="2"> 网页支付价格
											</label>
										</div>
									</div>

								</div>
								<div class="form-group">
								  <label class="control-label" for="date01">天数或金币数</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="days" class="form-control focused" type="text" value="{$Info.days}">
									</div>	
								  </div>
								</div>
								<div class="form-group">
									<label class="control-label" for="date01">排序</label>
									<div class="controls">
										<div class="input-group date col-sm-4">
											<input name="order" class="form-control focused" type="text" value="{$Info.order}">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class=" control-label">等级</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.grade eq 1'>
													   checked="true"
												</if>
													   id="inline-radio1" name="grade"
													   value="1"> 黄金
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio" <if condition='$Info.grade eq 2'>
												checked="true"
											</if> id="inline-radio2" name="grade" value="2"> 铂金
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.grade eq 3'>
													checked="true"
												</if>
												id="inline-radio2" name="grade" value="3"> 钻石
											</label>
										</div>
									</div>

								</div>
								<div class="form-group">
								  <label class="control-label" for="daterange">价钱</label>
								  <div class="controls">
									<div class="input-group col-sm-4">
										<span class="input-group-addon">$</span>
										<input name="price" value="{$Info.price}" id="appendedPrependedInput" class="form-control" size="16" type="text">
									</div>
								  </div>
								</div>
								<div class="form-group">
									<label class=" control-label">平台号</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<foreach name="product" item="vo" >
											<label class="radio-inline" for="inline-radio1">
													<input type="radio"  id="inline-radio1" name="product"
														   value="{$vo.product}" {$vo.checked}> {$vo.title}-{$vo.product}
											</label>
											</foreach>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label class=" control-label">是否启用弹窗显示支付页面</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.isopen eq 1'>
													checked="true"
												</if>
													   id="inline-radio1" name="isopen"
													   value="1"> 启用
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.isopen eq 2'>
													checked="true"
												</if>
													   id="inline-radio2" name="isopen" value="2"> 关闭
											</label>
										</div>
									</div>

								</div>

								<div class="form-group">
									<label class=" control-label">是否启用该价格</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.istrue eq 1'>
													checked="true"
												</if>
													   id="inline-radio1" name="istrue"
													   value="1"> 启用
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.istrue eq 2'>
													checked="true"
												</if>
													   id="inline-radio2" name="istrue" value="2"> 关闭
											</label>
										</div>
									</div>

								</div>


								<div class="form-group">
									<label class=" control-label">是否网页和原生同时显示</label>
									<div class="controls">
										<div class="input-group col-sm-4">
											<label class="radio-inline" for="inline-radio1">
												<input type="radio"
												<if condition='$Info.is_native eq 1'>
													checked="true"
												</if>
												id="inline-radio1" name="is_native"
												value="1"> 原生，网页
											</label>
											<label class="radio-inline" for="inline-radio2">
												<input type="radio"
												<if condition='$Info.is_native eq 2'>
													checked="true"
												</if>
												id="inline-radio2" name="is_native" value="2"> 网页
											</label>
										</div>
									</div>

								</div>

								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="/Adms/Sys/payprice.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>