<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<style>
							.panel-body{padding:20px;}
							.panel-body div{line-height:30px;font-size:14px;}
							.panel-body div span{font-size:16px;color:#FFEE99;}
							.panel-body div.wenjian span{font-size:16px;color:#DDDDDD;}
							.panel-body .mulu{cursor:pointer}
						</style>
						<div class="panel-body">
						<ul class="nav nav-tabs">
						  <li role="presentation"<if condition='$product eq 10008'> class="active"</if>><a href="?product=10008">10008</a></li>
						  <li role="presentation"<if condition='$product eq 10108'> class="active"</if>><a href="?product=10108">10108</a></li>
						  
						</ul>
						<div style="height:20px;"></div>
						<volist name="files" id="vo">
							<if condition='$vo.list eq 0'>
								<div class="wenjian">
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
								<a href="javascript:$.dialog({id: 'testID2',content: 'url:'+'/Adms/Sys/ErrorLogs?type=2&name={$vo.name}&product={$product}'});">{$vo.name}</a>
								
																				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<a href="javascript:$.dialog({id: 'testID2',content: 'url:'+'/Adms/Sys/ErrorLogs?type=2&name={$vo.name}&product={$product}'});">查看内容</a>
												||
												<a href="/Adms/Sys/ErrorLogs?type=3&name={$vo.name}&product={$product}">删除文件</a>
								</div>	
							<else />
								<div class="mulu">
								<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;{$vo.name}   
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Adms/Sys/ErrorLogs?type=3&name={$vo.name}&product={$product}">删除目录</a>
								</div>
								<div class="wenjianlist">
									<volist name="vo.list" id="vo1">
										<if condition='$vo1.list eq 0'>
											
											<div class="wenjian">
												&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
												<a href="javascript:$.dialog({id: 'testID2',content: 'url:'+'/Adms/Sys/ErrorLogs?type=2&name={$vo.name}/{$vo1.name}&product={$product}'});">{$vo1.name}</a>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<a target="_blank" href="/Adms/Sys/ErrorLogs?type=4&name={$vo.name}/{$vo1.name}&product={$product}">下载</a>
												||
												<a href="javascript:$.dialog({id: 'testID2',content: 'url:'+'/Adms/Sys/ErrorLogs?type=2&name={$vo.name}/{$vo1.name}&product={$product}'});">查看内容</a>
												||
												<a href="/Adms/Sys/ErrorLogs?type=3&name={$vo.name}/{$vo1.name}&product={$product}">删除文件</a>
											</div>	
										</if>
									</volist>
								</div>
							</if>
									  
						</volist>
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			<script type="text/javascript">
			$(document).ready(function(){
			  $(".mulu").click(function(){
				//alert($(this)[0].tagName);
					$(this).next('.wenjianlist').toggle();
				
			  });
			});
			</script>
</block>