<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>官网帮助文件</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
							<div style="float:right;"> <a class="btn btn-primary" href="helpadd.html">添加</a></div>
						</div>
							<table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
                                      <th>ID</th>
									  <th>问题</th>
									  <th>答案</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.id}</td>
									<td>{$vo.title}</td>
									<td>
									{$vo.content}</td>
									<td>
										<a href="helpedit.html?id={$vo.id}">修改</a> || <a href="helpdel.html?id={$vo.id}">删除</a></a>

									</td>
								</tr>
								</volist>
							  </tbody>
						  </table>

						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">

    </script>		
</block>