<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>
						</div>
						<div class="panel-body">
							<div style="float:left; margin-right: 20px; margin-top: 5px" >
								<th>&nbsp;
									<a href="log.html?status=1" style="font-size:15px;">清空所有记录</a>
								</th>
								<th>&nbsp;
									<a href="log.html?status=2" style="font-size:15px;">清空一周前记录</a>
								</th>
							</div>
							<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
									UID ||相关审核id关键词：<input  class="input-sm" type="text" name="kerword"
													value="{$get.kerword}" />
									<input class="btn btn-sm btn-info" type="submit" value="查询" />
								</form>

							</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>ID</th>
									  <th>管理员</th>
									  <th>IP</th>
									  <th>发布者uid</th>
									  <th>相关审核id</th>
									  <th>相关审核状态</th>
                                      <th>访问时间</th>
									  <th>访问接口</th>
									  <th>接口名称</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
									<td>{$vo.id}</td>
                                    <td>{$vo.username}</td>
									<td>{$vo.ip}</td>
									<td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}</a></td>
									<td>{$vo.other_id}</td>
									<if condition='$vo.status eq 1'>
										<td>审核通过</td>
										<elseif condition='$vo.status eq 3' />
										<td>审核驳回</td>
									<else/>
										<td></td>
									</if>
									<td>{$vo.create_time|date='m-d h:i:s',###}</td>
									<td>{$vo.name}</td>
									<td>{$vo.auth_rule_title}</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">

    </script>		
</block>