<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>谷歌验证开关管理</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
							<div style="float:right;"> <a class="btn btn-primary" href="orderswitchadd.html">添加</a></div>
						</div>
							<table style="table-layout: fixed;width: 100%;" class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
                                      <th>ID</th>
									  <th>product</th>
									  <th>谷歌验证json</th>
									  <th>谷歌验证是否开启</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								<tr>  
                                    <td>{$vo.id}</td>
									<td>{$vo.product}</td>
									<td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
									{$vo.orderjson}</td>
									<td>
										<if condition='$vo.isopenin eq 0'>
											关闭
											<a href="javascript:void(0);" onclick="return orderswitchaddin({$vo.id},1)">
												开启</a>
											<elseif condition="$vo.isopenin eq 1" />
											已开启
											<a href="javascript:void(0);" onclick="return orderswitchaddin({$vo.id},0)">
											关闭</a>
										</if>
									</td>
									<td>

										<a href="orderswitchedit.html?id={$vo.id}">修改</a> || <a href="orderswitchdel.html?id={$vo.id}">删除</a></a>

									</td>
								</tr>
								</volist>
							  </tbody>
						  </table>
							{$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
	<script src="__PUBLIC__/static/js/dialog.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);

			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(result){
				if(result.status==1&&result.gstatus==1){
                    dialog.toconfirm("已上架！");
				}
                if(result.status==1&&result.gstatus==0){
                    dialog.toconfirm("已下架！");
                }

                if(result.status==2){
                    dialog.error('修改失败！');
                }


				},'JSON');
		});
	});
    function orderswitchaddin(id,isopenin){
        var data = {'id':id,'isopenin':isopenin};
        var url = "/Adms/sys/orderswitchaddin";
        $.post(url,data,function(result){
            if(result.status =='1') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            if(result.status =='0') {
                layer.msg(result.message,{
                    time: 200
                });
            }
            location.reload();
        },'JSON');

    }
    </script>		
</block>