<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="infodata">	

</div>
<div class="row listdata">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
                            <div class="form-group search">
                                <form class="form-horizontal" action="{$action}" method="get">
                                    <select name="recharvalue" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                        <option value="">谷歌支付价格</option>
                                        <option value="1" <if condition='$recharvalue eq 1'>selected
                                        ="selected"</if>>谷歌支付价格</option>
                                        <option value="2" <if condition='$recharvalue eq 2'>selected
                                        ="selected"</if>>网页支付价格</option>
                                    </select>
                                    <select name="gender" data-am-selected="{btnSize: 'sm'}" class="btn-sm">
                                        <option value="">性别</option>
                                        <option value="1" <if condition='$gender eq 1'>selected
                                        ="selected"</if>>男</option>
                                        <option value="2" <if condition='$gender eq 2'>selected
                                        ="selected"</if>>女</option>
                                    </select>




                                    平台号： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
                                    <input class="btn btn-sm btn-info" type="submit" value="查询" />
                                </form>

                            </div>
                            <div style="float:right;"> <a class="btn btn-primary" href="editprice.html">添加</a></div>
						 <form class="am-form">
                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="table-id">ID</th>
                                            <th class="table-id">序号</th>
                                            <th class="table-title">类型</th>
                                            <th class="table-title">性别</th>
                                            <th class="table-type">等级</th>
                                            <th class="table-author am-hide-sm-only">价钱</th>
                                            <th class="table-date am-hide-sm-only">天数或金币数</th>
                                            <th class="table-date am-hide-sm-only">是否启用弹窗显示支付页面</th>
                                            <th class="table-date am-hide-sm-only">是否启用该价格</th>
                                            <th class="table-date am-hide-sm-only">paykey</th>
                                            <th class="table-date am-hide-sm-only">平台号</th>
                                            <th class="table-date am-hide-sm-only">是否网页和原生同时显示</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="DataList" id="vo">
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td class="tableId">{$vo.order_pre}</td>
                                            <td>
                                                <if condition='$vo.type eq 1'>
                                                会员
                                            </if>
                                                <if condition='$vo.type eq 2'>
                                                    钻石
                                                </if>
                                                <if condition='$vo.type eq 5'>
                                                    女性用户VIP1会员
                                                </if>
                                            </td>
                                            <td>
                                                <if condition='$vo.gender eq 1'>
                                                    男
                                                </if>
                                                <if condition='$vo.gender eq 2'>
                                                    女
                                                </if>
                                            </td>
                                            <td>
                                                <if condition='$vo.grade eq 1'>
                                                黄金
                                                </if>
                                                    <if condition='$vo.grade eq 2'>
                                                   铂金
                                                    </if>
                                                        <if condition='$vo.grade eq 3'>
                                                   钻石
                                                        </if>


                                            </td>
                                            <td>{$vo.price}</a></td>
                                            <td>{$vo.days}</a></td>
                                            <if condition='$vo.isopen eq 1'>
                                                <td>已启用</td>
                                                <else />
                                                <td>未启用</td>
                                            </if>
                                            <if condition='$vo.istrue eq 1'>
                                                <td>已启用</td>
                                                <else />
                                                <td>未启用</td>
                                            </if>
                                            <td>{$vo.paykey}</a></td>
                                            <td>{$vo.common}</a></td>
                                            <if condition='$vo.is_native eq 1'>
                                                <td>原生，网页</td>
                                                <else />
                                                <td>网页</td>
                                            </if>
                                          <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">

                                                        <a href="editprice.html?id={$vo.id}" class="userinfo"
                                                           id="userinfo"  title="{$vo.id}">修改</a>&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;
                                                        <a href="delprice.html?id={$vo.id}" class="userinfo" title="{$vo.id}">删除</a>


                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </volist>
                                        
                                    </tbody>
                                </table>

                         </form>
                            {$Pages}
						</div>
					</div>
				</div><!--/col-->
			
			</div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">
        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

               window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

        $(function(){
            $('.tableId').on('dblclick',function(){
                 var oldVal = $(this).html();
                 var oldid = $(this).prev().html();

                 if($(this).children().val()==undefined){
                     var input = '<input style="width: 25px" type="text" class="tempId" id='+oldid+' value='+oldVal+'>';
                     $(this).html('');
                     $(this).append(input);
                 }
            })

            $(document).on('click',function(){
                $(".tempId").each(function(i,j){
                    var paixu = $(this).val();
                    var paixuid = $(this).attr("id");

                    $.ajax({
                        type : "POST",
                        url : "/adms/Sys/payprice_ajax",
                        data:'id='+paixuid+'&paixu='+paixu,
                        success:function(msg){
                            // if(msg==1){
                            //     $(this).style('background-color',"red")
                            // }else{
                            //     $(this).css('color',"green")
                            // }

                            console.log(msg)
                        }
                    })
                })
                //alert(1)
            })
        })

    </script>

</block>