<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">

						
						<div class="panel-body" style="min-height:100px;padding:20px;">
							<pre> 
								{$tip}  11
							</pre>
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			<script type="text/javascript">
			$(document).ready(function(){
			  $(".mulu").click(function(){
				//alert($(this)[0].tagName);
					$(this).next('.wenjianlist').toggle();
				
			  });
			});
			</script>
</block>