<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
			关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							<div style="float:right;"> <a class="btn btn-primary" href="/Adms/Goods/AddGoods.html">添加商品</a></div>
							</form>
							
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>GID</th>
                                      <th>名称</th>
									  <th>描述</th>
                                      <th>状态</th>
									  <th>排序</th>
									  <th>添加时间</th>
									   
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList.list" id="vo">
								<tr>  
									<td>{$vo.gid}</td>
                                    <td>{$vo.title}</td>
									<td>{$vo.content}</td>
                                    <td>
									
										
									
									<label class="switch switch-primary">
											<if condition='$vo.status eq 1'>
										      <input type="checkbox" class="switch-input" checked="1"   title="{$vo.gid}" alt="{$vo.status}">
											<else />  
											 <input type="checkbox" class="switch-input"   title="{$vo.gid}" alt="{$vo.status}">
											</if>
										      <span class="switch-label" data-on="上架" data-off="下架"></span>
										      <span class="switch-handle"></span>
										    </label>
									
									
									
									
									</td>
									<td>{$vo.sort}</td>
									<td>{$vo.addtime}</td>									
									<td>

				<a href="/Adms/Goods/EditGoods.html?gid={$vo.gid}">修改</a> || <a href="/Adms/Goods/delGoods.html?gid={$vo.gid}">删除</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>	
    <script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
	});
    </script>		
</block>