<div class="page">
  <div class="page-content messages-content">
    <div class="messages">
      <!-- 时间戳 -->
      <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
 
      <!-- 发送的消息 (默认为绿色背景，在右边) -->
      <div class="message message-sent">
        <!-- Bubble with text -->
        <div class="message-text">Hello</div>
      </div>
 
      <!-- 另一条发送的消息 -->
      <div class="message message-sent">
        <!-- 文本气泡 -->
        <div class="message-text">How are you?</div>
      </div>
 
      <!-- 接收的信息(默认为灰色背景，在左边) -->
      <div class="message message-with-avatar message-received">
        <!-- Sender name -->
        <div class="message-name">Kate</div>
 
        <!-- 文本气泡 -->
        <div class="message-text">I am fine, thanks</div>
 
        <!-- 发送者头像 -->
        <div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"></div>
      </div>
 
      <!-- 另一个时间戳 -->
      <div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
 
      <!-- Sent message with image -->
      <div class="message message-pic message-sent">
        <!-- Bubble with image -->
        <div class="message-text"><img src="http://lorempixel.com/300/300/"></div>
        <!-- Message label -->
        <div class="message-label">Delivered 2 days ago</div>
      </div>
    </div>
  </div>
</div>   