<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">

						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
									用户id： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
									平台号： <input  class="input-sm" type="text" name="product" value="{$get.product}" />
									<input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>

                                      <th>用户UID</th>
									  <th>点击页面</th>
									  <th>意向充值金额</th>
									  <th>点击次数</th>
									  <th>最后时间</th>
									  <th>平台号</th>

									<!--  <th>操作</th>-->

								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList" id="vo">
								  <tr>
									  <td>{$vo.uid}</td>
									  <td>{$vo.page}</td>
									  <td>{$vo.click_gold}</td>
									  <td>{$vo.count}</td>
									  <td>{$vo.last_time|date="Y-m-d H:i",###}</td>
									  <td>{$vo.product}</td>
								</tr>
								</volist>	
							  </tbody>

						  </table>
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			

	<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
	<script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">
	</script>
</block>