<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
							<notempty name="code"><input type="hidden" name="code" value="{$code}" /></notempty>
								<volist name="TranslateList" id="vo" key="k">
								 <div class="form-group">
								 	<div class="input-group   col-sm-10">
								  	<span class="input-group-addon">{$vo.langname}</span>
								    <textarea name="lang[{$vo.langcode}]" class="form-control col-sm-10" rows="7">{$vo.content}</textarea>
								    </div>
								 </div>
								</volist>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>


</block>