<extend name="./Application/Vodadms/View/public.html" />
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <div class="infodata">

    </div>
    <div class="row listdata">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

                </div>
                <div class="panel-body">

                    <div class="am-form">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>

                                <th class="table-id">ID</th>
                                <th class="table-title">提现团队UID</th>
                                <th class="table-title">提现团队名称</th>
                                <th class="table-date am-hide-sm-only">提现魅力值</th>
                                <th class="table-date am-hide-sm-only">抽水比例百分比</th>
                                <th class="table-date am-hide-sm-only">抽水后所得</th>
                                <th class="table-date am-hide-sm-only">收款用户名</th>
                                <th class="table-date am-hide-sm-only">收款方式</th>
                                <th class="table-date am-hide-sm-only">收款账户</th>
                                <th class="table-date am-hide-sm-only">提现申请日期</th>
                                <th class="table-set">提现状态</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="DataList.list" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td><a href="#">{$vo.draw_uid}</a></td>
                                    <td class="am-hide-sm-only">
                                        {$vo.user_name}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {$vo.comdraw}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {$vo.gold_pump}%
                                    </td>
                                    <td class="am-hide-sm-only">
                                        ¥ {$vo.rmb_money}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {$vo.name}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {$vo.pay_type}
                                    </td>
                                    <td class="am-hide-sm-only">
                                        {$vo.account}
                                    </td>
                                    <td class="am-hide-sm-only">{$vo.ctime|date="Y-m-d H:i",###}</td>
                                    <if condition='$vo.is_success eq 0'>
                                        <td>未处理</td>
                                        <elseif condition='$vo.is_success eq 1'/>
                                        <td>已通过</td>
                                        <elseif condition='$vo.is_success eq 2'/>
                                        <td>已驳回</td>
                                    </if>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <if condition='($vo.is_super eq 2)'>
                                                <if condition='($vo.is_success eq 0)'>
                                                    <a href="javascript:void(0);"
                                                       onclick="return check1({$vo.id},{$vo.draw_uid},{$vo.money})"
                                                       class="userinfo" title="{$vo.uid}">通过</a>&nbsp;&nbsp;&nbsp;<!--||&nbsp;&nbsp;&nbsp;
                                                    <a href="javascript:void(0);"
                                                       onclick="return check2({$vo.id},{$vo.draw_uid},{$vo.money})"
                                                       class="userinfo" title="{$vo.uid}">驳回</a>-->


                                                </if>
                                                </if>


                                                <!-- <a href="deluser.html?uid={$vo.uid}" class="userinfo" title="{$vo.uid}">删除</a>-->
                                                <!--<a href="javascript:void(0);" onclick="jump('{$vo.uid}')" class="userinfo" title="{$vo.uid}">删除</a>-->

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>

                        {$Pages}

                </div>
            </div>
        </div><!--/col-->

    </div>
    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script src="__PUBLIC__/static/js/dialog.js"></script>
    <script type="text/javascript">


        //单选通过
        function check1(id,uid,money){
            var data = {'is_success':1,'id':id,'uid':uid,"money":money};
            var url = "/Vodadms/Draw/toexamine_team";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已通过',{
                        time: 300

                    });
                    $("#tr-"+id).remove();
                    window.location.reload();
                }
            },'JSON');
        }
        //单选驳回
        function check2(id,uid,money){
            var data = {'is_success':2,'id':id,'uid':uid,"money":money};
            var url = "/Vodadms/Draw/toexamine_team";
            $.post(url,data,function(result){
                if(result.status =='1') {
                    layer.msg('已驳回',{
                        time: 300
                    });
                    $("#tr-"+id).remove();
                    window.location.reload();
                }
            },'JSON');
        }



        function jump(v){
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
                ,btn3: function(index, layero){
                }
            }, function(index, layero){

                window.location.href="deluser.html?uid="+v;
                layer.close(index);
            }, function(index){
                //alert('2');//按钮【按钮二】的回调
            });
        }

    </script>

</block>