<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>商城</title>
    <meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no,address=no" />
	<meta name="referrer" content="always">
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="no" />
	<meta content="email=no" name="format-detection" />
	<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/app.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/assets/css/m_global.css" />
	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="shortcut icon" href="__PUBLIC__/assets/images/huangjin.png" type="image/x-icon" />
</head>
<body>
	<header class="bs">商城</header>
	<section class="productbox bs" id="itany">
		<div class="catleibibox" >
			<!-- <li v-for="item in fllist">
		        <a v-on:click="goodsList(item.id)">{{item.name}}</a>
		    </li> -->
			<a href="javascript:;"  v-on:click="goodsList(item.id)" name="a" onclick="ChangeCss(this)" class="select" v-for="item in fllist" >{{item.name}}</a>
			<!-- <a href="zuanshi.html"  >钻石</a>
			<a href="huiyuan.html" class="select">会员</a> -->
			<!-- <a href="sp.html">商品</a> --><!-- http://limida.oss-cn-hongkong.aliyuncs.com -->
		</div>
		<div class="listbox bs">
			<ul>
				<li v-for="item in goodslists">
					<a>
						<a v-bind:href="'charge.html?id='+item.goods_id+'&uid={$_GET['uid']}'"><img :src="item.images" width="100%" height="auto" /></a>
						<a v-bind:href="'charge.html?id='+item.goods_id+'&uid={$_GET['uid']}'"><h4>{{item.goods_name}}</h4></a>
						<a v-bind:href="'charge.html?id='+item.goods_id+'&uid={$_GET['uid']}'"><p>${{item.price}}</p></a>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<link href="favicon.ico" rel="shortcut icon">
	<script type="text/javascript">
		function ChangeCss(obj){
	    	var alist = document.getElementsByTagName('a');
	    	for(var i=0;i<alist.length;i++){
	    		alist[i].style.color="#6a6a6d";
	    	}
	    	obj.style.color="#FA7436";
        }
	</script>

	<script type="text/javascript">
		new Vue({
                el:'#itany',
                data:{
                    fllist:[],
					goodslists:[],

                },
                created(){
			      this.convert();
			      // this.goodsList(dataid);
			    },
			    methods: {
			      convert: function () {
			      	var that = this;
			        $.ajax({
					  url:"/api/Shoppingmall/classification",
					  type:"POST",
					  data:{
					  	platforminfo:3,
					  	test:1
					  },
					  dataType:"json",
					  success: function(data){
				    	if(data['code'] == 200){
				    		that.fllist =data['data'];
				    		that.goodsList(data['data'][0]['id']);
				    	}
					  },
					  error: function(e){
					  	alert('出错了');
					  }
					})
			      },
			      goodsList: function (id) {
				      	var that = this;
				        $.ajax({
						  url:"/api/Shoppingmall/goodslist",
						  type:"POST",
						  data:{
						  	platforminfo:3,
						  	test:1,
						  	id:id
						  },
						  dataType:"json",
						  success: function(data){
					    	if(data['code'] == 200){
					    		that.goodslists =data['data'];
					    	}
						  },
						  error: function(e){
						  	alert('出错了');
						  }
						})
			      }
			    }
            });
	</script>
</body>
</html>
