<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						
						<div class="panel-body" style="min-height:100px;padding:20px;">
							<if condition='$error eq 1'>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">×</span></button>
     {$msg}
    </div>
	 </if>
						<a class="label label-info" href="/Adms/Pay/CheckPay.html?type=2">清空48小时内退款订单</a>
						<a class="label label-info" href="/Adms/Pay/CheckPay.html?type=3">10008订阅验证</a>
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
			<script type="text/javascript">
			$(document).ready(function(){
			  $(".mulu").click(function(){
				//alert($(this)[0].tagName);
					$(this).next('.wenjianlist').toggle();
				
			  });
			});
			</script>
</block>