<extend name="./Application/Adms/View/public.html" />
<block name="content">

<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">
								<form class="form-horizontal" action="{$action}" method="get">
								<select name="ischeck" class="btn-sm">
							 <if condition='$get.ischeck neq ""'>
								<option value ="{$get.ischeck}">
								<if condition='$get.ischeck eq 1'>
									订阅
								<else />
									取消
								</if>
								</option>
							 
							 </if>
								<option value ="">全部</option>
								  <option value ="1">订阅</option>
								  <option value ="0">取消</option>
								</select>
									<select name="isrecharge" class="btn-sm">
										<if condition='$get.isrecharge neq ""'>
											<option value ="{$get.isrecharge}">
												<if condition='$get.isrecharge eq 1'>
													谷歌支付
													<else />
													paypal支付
												</if>
											</option>

										</if>
										<option value ="">全部</option>
										<option value =1>谷歌支付</option>
										<option value =5>paypal支付</option>
									</select>
							时间从<input class="input-sm" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" name="dateStart" value="{$get.dateStart}" />
							到 <input class="input-sm" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" name="dateEnd" value="{$get.dateEnd}" />
								关键词： <input  class="input-sm" type="text" name="kerword" value="{$get.kerword}" />
							 <input class="btn btn-sm btn-info" type="submit" value="查询" />
							</form>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>UID</th>
                                      <th>金额</th>
									  <th>数量/天数</th>
                                      <th>时间</th>
									  <th>订单号</th>
									  <th>平台</th>
									  <th>类型</th>
									  <th>支付类型</th>
									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="DataList.list" id="vo">
								<tr>
									<td><a href="../user/userinfo.html?uid={$vo.uid}">{$vo.uid}</a></td>
                                    <td>{$vo.money}</td>
									<td>{$vo.days}</td>
                                    <td>{$vo.paytime|date="Y-m-d H:i",###}</td>
					<td style="cursor:pointer">
	
					<a href="javascript:alert('{$vo.purchasetoken}');">{$vo.translateid}</a>
					
					</td>
									<td>{$vo.product}</td>
									<td>
								<if condition='$vo.type eq 1'>
									
									<if condition='$vo.isauto eq 1'>
									
										<if condition='$vo.ischeck eq 1'>
											自动续费
										<else />
											取消续费
										</if>
									<else />
									单次包月
									</if>
								<elseif condition='$vo.type eq 2' />
									帮<a href="../user/userinfo.html?uid={$vo.to_uid}">{$vo.to_uid}</a>充值vip
								<elseif condition='$vo.type eq 3' />
									钻石充值
								<else />
                                    帮<a href="../user/userinfo.html?uid={$vo.to_uid}">{$vo.to_uid}</a>充值钻石
								</if>
								</td>

									<td>
										<if condition='$vo.status eq 1'>
											谷歌支付
											<elseif condition="$vo.status eq 2" />
											微信支付
											<elseif condition="$vo.status eq 3" />
											支付宝支付
											<elseif condition="$vo.status eq 4" />
											插入数据库失败
											<elseif condition="$vo.status eq 5" />
											paypal支付
										</if>
									</td>
									<td>
										<a href="javascript:if(confirm('确实要将{$vo.uid}加入黑名单吗?'))location='/Adms/Pay/AddPayblacklist?uid={$vo.uid}'">加入黑名单</a>
										||<a href="javascript:if(confirm('确实要删除{$vo.translateid}吗?'))location='/Adms/Pay/delorder?oid={$vo.id}'">删除</a>
									</td>
								</tr>
								</volist>	
							  </tbody>
						  </table>    
						  {$Pages}       
						</div>
					</div>
				</div><!--/col-->
			
			</div>		
</block>