
/*Registration_Agreement*/
body{
    box-sizing: border-box;
    line-height: 1; 
    background: #f7f7f7;
    height: 100%;
 } 
 

.rebg{
    position: relative;
    background:#fff;
    width:85%;
    height: 100%; 
    margin:3.5rem auto;
    padding:2.5rem 2.5rem 1.875rem 2rem;
}



.rebg h2.title01{
text-align: center;
font-weight:normal;
font-size: 2.5rem;
color:#333;

} 



.rebg  p{
    font-size:1.75rem;
    color: #5e5e5e;
    padding-bottom:2rem;
    line-height:2.625rem;
    text-align: justify;
}
.rebg  p.notice{
    padding-top: 2.5rem;
}
   

.rebg  h3{
    font-size:2rem;
    font-weight:normal;
    color:#333;
    padding:0;
    margin-bottom:1.875rem;
   
}