<extend name="./Application/Adms/View/public.html"/>

<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="__PUBLIC__/website/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/website/font-awesome/css/font-awesome.min.css" media="all"/>

    <form class="layui-form" id="admin">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block" style="max-width:600px;">
                <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"
                       type="text"
                <notempty name="article.title">value="{$article.title}"</notempty>
                >
            </div>
        </div>


        <!-- <div class="layui-form-item">
             <label class="layui-form-label">类型</label>
             <div class="layui-input-block" style="max-width:600px;">
                 <input type="radio" name="state" value="2"  title="原创"
                        {notempty name="$article.state"}value="{$article.state}"{/notempty}>

                 <input type="radio" name="state" value="1" title="转载" {notempty name="$article.state"}value="{$article.state}"{/notempty}>

             </div>
         </div>-->

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block" style="max-width:600px;">
                <textarea placeholder="请输入内容" class="layui-textarea" name="description"><notempty
                        name="article.description">{$article.description}</notempty></textarea>
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block" style="max-width:1000px;">
                <textarea placeholder="请输入内容" class="layui-textarea" name="content" id="container"
                          style="border:0;padding:0"><notempty
                        name="article.content">{$article.content}</notempty></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block" style="max-width:600px;">
                <select name="article_cate_id" lay-filter="aihao">
                    <notempty name="cates">
                        <option>请选择分类</option>
                        <volist name="cates" id="vo">
                            <option value="{$vo.id}"
                            <notempty name="article.article_cate_id"><eq
                                name="article.article_cate_id" value="$vo.id">
                                selected=""</eq>
                            </notempty>>
                            {$vo.str}{$vo.name}</option>
                        </volist>
                    </notempty>
                </select>
            </div>
        </div>


        <notempty name="article">
            <input type="hidden" name="id" value="{$article.id}">
        </notempty>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a href="javascript:history.back(-1);" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>

    </form>


    <script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script src="__PUBLIC__/website/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                $ = layui.jquery,
                form = layui.form;
            var url = "/adms/webmsg/msgedit";
            var data = $('#admin').serialize();
            $(window).on('load', function () {
                form.on('submit(admin)', function (data) {
                    data = $('#admin').serialize();
                    $.post(url, data, function (result) {
                        if (result.code == 1) {
                            layer.alert(result.msg, function (index) {
                                location.href = result.url;
                            })
                        } else {
                            layer.msg(result.msg);
                        }
                    }, 'JSON');
                    return false;
                });
            });
        });
    </script>

    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
     这里写你的初始化内容

    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/website/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/website/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
</block>
