<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-indent red"></i><strong>{$name}</strong></h2>
							
						</div>
						<div class="panel-body">
						<notempty name="tip"><div class="alert alert-danger" role="alert">{$tip}</div></notempty>
							<form role="form" action="{$action}" method="POST" enctype="multipart/form-data">	
								<div class="form-group">
								  <label class="control-label" for="date01">key</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="key" class="form-control focused" id="focusedInput" type="text" value="{$msglist['key']}">
										<input type="hidden" id="" name="id" class="form-control"
											   value="{$msglist['id']}">
									</div>
								  </div>
								</div>
								
								<div class="form-group">
								  <label class="control-label" for="date01">value</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="value" class="form-control focused" type="text" value="{$msglist['value']}">
									</div>	
								  </div>
								</div>								
								<div class="form-group">
								  <label class="control-label" for="date01">name</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="name" class="form-control focused" type="text" value="{$msglist['name']}">
									</div>	
								  </div>
								</div>	
								
								<div class="form-group">
								  <label class="control-label" for="date01">类型</label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input type="radio" name="type" value="1" />注册前 
										<input type="radio" name="type" value="2" checked="checked" />打开后
										<input type="radio" name="type" value="3" />注册后
									</div>	
								  </div>
								</div>	
								<div class="form-group">
								  <label class="control-label" for="date01">允许的用户类型（多个用|隔开）
								   <volist name="usertypestatus" id="vo">
								   		{$i}:{$vo}
								   </volist>
								  
								  </label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<input name="usertype" class="form-control focused" type="text" value="">
									</div>	
								  </div>
								</div>		
							<div class="form-group">
								  <label class="control-label" for="date01">平台
								  
								  </label>
								  <div class="controls">
									<div class="input-group date col-sm-4">
										<select name="product" >
								                    <notempty name="products">
								                        <option value="20000">全部平台</option>
								                        <volist name="products" id="vo">
								                            <option value="{$vo.product}" >{$vo.title}({$vo.product})</option>
								                        </volist>
								                    </notempty>
								                </select>
									</div>	
								  </div>
								</div>	
								
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="保存" />
									<a href="lists.html" class="btn btn-warning" >返回</a>
								</div>	
							</form>   
					
						</div>
					</div>
				</div><!--/col-->

			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	/*
	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Goods/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
		*/
	});
    </script>		
</block>