<extend name="./Application/Adms/View/public.html" />
<block name="content">
<link rel="stylesheet" href="__PUBLIC__/lightbox2/dist/css/lightbox.min.css">
<div class="row">		
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>{$name}</strong></h2>

						</div>
						<div class="panel-body">
						<div class="form-group search">

							<div style="float:right;"> <a class="btn btn-primary" href="lists.html">返回</a></div>
							
							<a href="addattr.html?code={$get.code}" class="btn btn-warning">添加属性</a>
							<a href="addattrmore.html?code={$get.code}" class="btn btn-warning">批量添加属性</a>
						</div>
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>code</th>
                                      <th>名称</th>

									  <th>操作</th>
								  </tr>
							  </thead>   
							  <tbody>		
							  <volist name="ListData" id="vo">
								<tr>  
									<td>{$vo.code}</td>
                                    <td>{$vo.name}</td>
								
									<td>

									<a href="Del_value.html?id={$vo.id}">删除</a>
									<a href="updateattr.html?id={$vo.id}">编辑</a>

									</td>

									
								</tr>
								</volist>	
							  </tbody>
						  </table>   
							{$Pages}						  
       
						</div>
					</div>
				</div><!--/col-->
			
			</div>
			
<script src="__PUBLIC__/lightbox2/dist/js/lightbox.min.js"></script>	
    <script type="text/javascript">
	$(document).ready(function(){

	$(".switch-input").change(function(){
		var gid = $(this).attr("title");
		var gstatus = $(this).attr("alt");
		if(gstatus==1){
			gstatus =0;
		}else{
			gstatus =1;
		}
		$(this).attr("alt",gstatus);
		
		
			$.post("/Adms/Gift/updatestatus",{gid:gid,status:gstatus},function(data,status){
					
				});
		});
	});
    </script>		
</block>