html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Play', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Quicksand', sans-serif;
}	
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
.banner{
/*background: url(../images/banner.jpg) no-repeat 0px 0px;*/
width:100%;display:block;
min-height:700px;
}
.banner1{

background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height:300px;
}
.navbar-default {
background: none;
border: none;
}
.navbar-brand{
font-size:2.5em;
color:#fff !important;
text-decoration:none;
font-family: 'Quicksand', sans-serif;
}
.navbar-brand span{
font-size: 24px;
display: block;
line-height: 2.6em;
padding-left: .2em;
}
.navbar-nav {
float: right;
font-family: 'Quicksand', sans-serif;
}
.navbar-nav > li {
float: left;
margin:0 1em 0 0;
text-align: center;
}
.nav > li > a {
padding: 10px 20px;
}
.navbar-nav > li > a {
padding-top: 40px;
padding-bottom: 40px;
font-size: 16px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff;
background-color: #D9A250;
}
.navbar-default .navbar-nav > li > a {
color: #fff;
}
.navbar-brand {
padding: 30px 0px 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#D9A250;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.banner-info h1{
	text-transform:capitalize;
	font-size:1.5em;
	color:#fff;
	line-height:1.4em;
	margin:0;
	position: relative;
	padding-left: 2em;
}
.banner-info {
    margin: 29em auto 0;
    width: 80%;
    text-align: center;
}
.banner-info h1:before {
    background: url(../images/1.png) no-repeat 0px 0px;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 20px;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom-grid{
	width:70%;
	margin:3em auto 0;
}
.banner-bottom-grid img{
	margin: 0 auto;
	display: table-cell;


}
.banner-bottom-grid p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:1em 0 0;
	text-align:center;
}
/*-- wlcome --*/
.wlcome,.welcome-bottom,.video,.banner-bottom,.typo,.contact,.about,.menu{
	padding:5em 0;
}
.wlcome-grid-left h3,.welcome-bottom h3,.banner-bottom h3,h3.title,.testimonials h3,.why-choose h3,.menu h3{
	font-size:2em;
	color:#D9A250;
	text-align:center;
	text-transform:capitalize;
}
.nihil{
	font-size:20px;
	text-align:center;
	margin:0;
	line-height:1.8em;
	color:#999;
}
.wlcome-grid-left-grid h4{
	font-size:1.3em;
	color:#A3A3A3;
	margin:2em 0 0;
	text-transform:capitalize;
}
.wlcome-grid-left-grid p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:1em 0 0;
}
.wlcome-grid-left-grid:nth-child(3){
	margin:2em 0;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	font-style: normal;
	position:relative;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.facts {
	padding:1.5em;
}
.top1{
	margin-top: 2%;
}
ul.resp-tabs-list {
	list-style: none;
	background:none;
	margin: 0em auto;
}
div#horizontalTab {
  background:#fff;
  }
.resp-tab-item{
	color: #999;
  font-size: 14px;
  cursor: pointer;
  padding:12px 85px;
  display: inline-block;
  margin: 0;
  /* text-align: center; */
  list-style: none;
  float: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: capitalize;
}
.resp-tab-item:hover {
	text-shadow: none;
}
.resp-tab-active{
	background:#999999;
	text-shadow: none;
	color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
	background-color: #F4F4F4;
	border-top:none;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	padding:0em;
	margin:0;
}
/******** //SAP ************/
.tab_list{
	float:left;
}
.tab_list1{
	float:right;
	width:70%;
}
.tab_list1 a,.tab_list1 p{
	text-transform:capitalize;
	font-size:14px;
	color:#D9A250;
	margin:0;
	text-decoration:none;
}
.tab_list1 p{
	color:#999;
}
.tab_list1 p span{
	display:block;
	font-size: 13px;
	margin: 10px 0 0;
}
.facts:nth-child(4) {
  border-bottom: none;
}
/*-- //wlcome --*/
/*-- welcome-bottom --*/
.welcome-bottom{
	background-color: #B3B2B2;
}
.welcome-bottom h3{
	color:#fff;
}
.nih{
	color:#f4f4f4;
}
.welcome-bottom-grd{
	width: 8em;
    height: 8em;
    border: 1px solid #fff;
    border-radius: 85px;
    margin: 0 auto;
}
.welcome-bottom-grd span{
	font-size: 3em;
    color: #fff;
    top: 0.8em;
}
.welcome-bottom-grids {
    margin: 3em 0 0;
	text-align:center;
}
.welcome-bottom-grid p{
	margin:1em 0 2em;
	color:#f4f4f4;
	font-size:14px;
	line-height:1.8em;
}
.more a{
	font-size: 15px;
    padding: 8px 25px;
	background:#fff;
	color:#D9A250;
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
}
/*-- //welcome-bottom --*/
/*-- video --*/
.video-grid-left iframe{
	width:100%;
	min-height:280px;
}
.video-grid-left h3{
	font-size: 1.3em;
    color: #D9A250;
    margin: 0;
    line-height: 1.5em;
    text-transform: capitalize;
}
.video-grid-left p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:1em 0 2em;
}
.m1 a{
	background:#999;
	color:#fff;
}
/*-- //video --*/
/*--footer--*/
.footer {
  padding: 4em 0;
  background-color:#4B4B4B;
}
.ftr {
  margin-top: 0em;
  padding: 0;
}
.get_in_touch h3, .ftr_navi h3 {
	font-size: 1.4em;
	margin:0.5em 0 .5em;
	color: #fff;
}
.ftr_navi.ftr ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ftr_navi ul li {
  display: block;
}
.ftr_navi ul li a {
	display: block;
	padding: 5px 0;
	color: #848484;
    font-size: 14px;
}
.ftr_navi ul li a:hover, .get_in_touch a:hover, .ftr-logo p a:hover {
  text-decoration: none;
  color:#D9A250;
}
.get_in_touch p {
  color: #848484;
  font-size: 14px;
  padding: 5px 0;
}
.get_in_touch a {
  color: #848484;
  font-size: 0.9em;
  text-decoration: none;
}
.ftr-logo a{
	text-decoration: none;
}
.ftr-logo a h3 {
	font-size: 2.2em;
    color: #fff;
    margin: 0.4em 0 0;
}
.ftr-logo a h3 span{
	font-size:15px;
}
.ftr-logo a:hover{
	text-decoration:none;
}
.ftr-logo p {
  margin: 0em;
  color: #848484;
  line-height: 1.8em;
  font-size: 0.95em;
}
.ftr-logo p a {
	color:#fff;
}
.ftr-logo ul{
	padding:1em 0;
}
.ftr-logo ul li{
	display:inline-block;
}
ul li a.facebook {
    background: url(../images/img-sp.png) no-repeat -8px -13px;
    display: block;
    width: 32px;
    height: 32px;
}
ul li a.twitter {
    background: url(../images/img-sp.png) no-repeat -8px -58px;
    display: block;
    width: 32px;
    height: 32px;
}
ul li a.g {
    background: url(../images/img-sp.png) no-repeat -8px -104px;
    display: block;
    width: 32px;
    height: 32px;
}
ul li a.in {
    background: url(../images/img-sp.png) no-repeat -8px -153px;
    display: block;
    width: 32px;
    height: 32px;
}
a.facebook:hover {
    background: url(../images/img-sp.png) no-repeat -79px -13px;
    display: block;
}
ul li a.twitter:hover {
    background: url(../images/img-sp.png) no-repeat -78px -58px;
    display: block;
}
ul li a.g:hover {
    background: url(../images/img-sp.png) no-repeat -78px -104px;
    display: block;
}
ul li a.in:hover {
    background: url(../images/img-sp.png) no-repeat -78px -153px;
    display: block;
}
/*--/footer--*/
/*--Typography--*/
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#D5D5D5;
    font-family: 'Quicksand', sans-serif;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
padding:0;
}
.in-gp-tb{
padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.banner {
		min-height: 405px;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- contact --*/
.contact-bottom iframe{
	width:100%;
	min-height:500px;
	margin:0 0 -5px;
}
.contact{
	padding:6em 0;
	background:url(../images/6.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:620px;
}
.contact-left h3{
	font-size: 1.5em;
	color: #fff;
	margin:0 0 1em;
}
.contact-left p{
	color: #fff;
	font-size: 14px;
	line-height: 1.8em;
	margin:0;
	width: 57%;
}
.contact-left p span{
	display:block;
	font-weight:700;
}
.contact-left ul{
	padding:1em 0 0;
	margin:0;
}
.contact-left ul li{
	list-style-type:none;
	margin:0 0 5px;
	font-size:14px;
	color:#fff;
}
.contact-left ul li a{
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
.contact-left ul li a:hover{
	color:#D9A250;
}
.contact-left input[type="text"],.contact-left input[type="email"],.contact-left textarea{
	background: rgba(255, 255, 255, 0.71);
	border: none;
	color: #424341;
	padding: 15px 10px;
	font-size: 14px;
	outline: none;
}
.contact-left input[type="text"],.contact-left input[type="email"]{
	width: 32.7%;
	float: left;
}
.contact-left input[type="email"]{
	margin:0 5px;
}
.contact-left textarea{
	min-height: 200px;
	resize: none;
	width: 100%;
	margin: .3em 0 1em;
}
.contact-left input[type="submit"]{
	outline: none;
    color: #F8F8F8;
    font-size: 20px;
    padding: 13px 0;
    width: 30%;
    background: #D9A250;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    font-family: 'Quicksand', sans-serif;
}
.contact-left input[type="submit"]:hover{
	background:#B07E33;
}
/*-- //contact --*/
/*-- about --*/
.about-grid h3{
	font-size: 1.7em;
	line-height: 1.5em;
	color:#D9A250;
	margin:0 0 .7em;
}
.about-grid p{
	font-size: 14px;
    color: #999;
    margin: 0;
    padding: 2em;
    line-height: 1.7em;
    box-shadow: 0px 2px 23px -8px #B8B6B6;
}
/*-- why-choose --*/
.why-choose{
	padding:0em 0 5em;
}
.why-choose-grds {
    box-shadow: 0px 2px 23px -8px #B8B6B6;
}
.why-choose-grid-hover{
	padding:15px;
	background:#D1B080;
	text-transform: capitalize;
	text-align: center;
}
.why-choose-grd {
  padding: 0 !important;
}
.why-choose-grid-hover p{
	color:#fff;
	font-size:18px;
	margin:0;
}
.why-choose-grd-right{
	margin:1.5em 0 0;
}
.why-choose-grd-right h4{
	color:#537bc4;
	margin:0;
	font-size:20px;
	text-transform:capitalize;
	line-height: 1.5em;
}
.why-choose-grd-right p{
	color:#999;
	font-size:14px;
	margin:.5em 0 0;
	line-height:1.8em;
}
.why-choose-grids:nth-child(2){
	margin:2em 0;
}
/*-- //why-choose --*/
/*-- testimonials --*/
.testimonials{
	padding:4em 0 6em;
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.testimonials h3{
	color: #fff;
}
p.aut{
	color: #fff;
    font-size: 14px;
    margin: 0.5em auto 2em;
    line-height: 1.8em;
    text-align: center;
    width: 70%;
}
.testimonials-grid-left{
	float: left;
	width: 47%;
	text-align: right;
}
.testimonials-grid-right{
	float:right;
	width: 51%;
	margin:3em 0 0;
}
.testimonials-grid-right p{
	color:#FFFFFF;
	font-size:18px;
	margin:0;
	font-family: 'Quicksand', sans-serif;
}
.testimonials-grid-right p span{
	color:#D0A36C;
    font-size: 2em;
}
/*------------------ Slider Part starts Here----------*/
#slider3,
#slider2,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top:30%;
	left: 2%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 35px;
    width: 21px;
    background: transparent url("../images/7.png") no-repeat -37px -7px;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background:transparent url("../images/7.png") no-repeat -70px -7px;
	right:2%;
}
#slider3-pager a ,#slider2-pager a,#slider4-pager a{
  display: inline-block;
}
#slider3-pager span,#slider2-pager span,#slider4-pager span{
  float: left;
}
#slider3-pager span,#slider2-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider2-pager .rslides_here a,#slider4-pager .rslides_here a{
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider2-pager a,#slider4-pager a{
  padding: 0;
}
#slider3-pager li,#slider4-pager li,#slider2-pager li,{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width:100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left:0%;
  top: 0;
  width:100%;
}
.rslides li{
  position: relative;
  display: block;
  float: none;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top:120.5%;
	z-index: 999;
	left: 48%;
	padding:0;
	margin: 0;
	border-radius: 5px;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/backward.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 11px;
  width: 12px;
  display: inline-block;
  background:#fff;
  border-radius: 100%;
}
.callbacks_here a:after{
	background:#8E7013;
}
/*------------------ Slider Part ends Here----------*/
/*-- //about --*/
/*-- menu --*/
.menu-grids{
	margin:3em 0 0;
}
.menu-grid h4{
	text-transform:capitalize;
	font-size: 1.5em;
    color: #D9A250;
    margin: 1em 0 .5em;
}
.menu-grid p{
	color:#999;
	font-size:14px;
	line-height:1.8em;
	margin:0;
}
.menu-grd{
	box-shadow: 0px 2px 23px -8px #B8B6B6;
	padding: 2em;
	position:relative;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.menu-grd-pos{
	position: absolute;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 33%;
    border-radius: 85%;
    background: rgba(233, 140, 78, 0.45);
	display:none;
}
.menu-grd-pos p{
	font-size: 3em;
    color: #fff;
    margin: 0;
    padding: 0.5em;
}
.menu-grd:hover div.menu-grd-pos{
	display:block;
}
.dinner{
	background:url(../images/15.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:500px;
	margin:5em 0;
}
.dinner-info{
	padding: 4em 0 0 40em;
}
.dinner-info h3{
	font-size:2.5em !important;
	color:#fff;
	margin:0;
	text-align: left;
}
.dinner-info-grid{
	margin:2em 0 0;
}
.dinner-info-grid h4{
	text-transform: capitalize;
    font-size: 1.5em;
    color:#803F5F;
    margin: 0;
}
.dinner-info-grid p{
	color: #E9E9E9;
    font-size: 14px;
    line-height: 1.8em;
    margin: 1em 0 0;
    width: 70%;
}
.dinner-info-grid p span{
	display:block;
	margin:1em 0 0;
	font-size:2em;
	color:#fff;
}
/*-- //menu --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.banner {
		background: url(../images/banner1.jpg) no-repeat -90px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
}
@media (max-width:1280px){
	.banner {
		background: url(../images/banner1.jpg) no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		 min-height: 560px;
	}
	.banner-info {
		margin: 21em auto 0;
	}
}
@media (max-width:1024px){
	.banner {
		background: url(../images/banner1.jpg) no-repeat -110px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.resp-tab-item {
		padding: 12px 65px;
	}
	.wlcome-grid-left-grid h4 {
		margin: 0;
	}
	.wlcome, .welcome-bottom, .video, .banner-bottom, .typo, .contact, .about, .menu {
		padding: 4em 0;
	}
	.wlcome-grid-left-grid h4 {
		font-size: 1.1em;
	}
	.ftr-logo a h3 {
		font-size: 2.5em;
	}
	.about-grid h3 {
		font-size: 1.3em;
	}
	.why-choose-grd-right h4 {
		font-size: 17px;
	}
	.why-choose-grd-right {
		margin: 0.5em 0 0;
	}
	.menu-grd-pos p {
		font-size: 2.5em;
	}
	.menu-grd-pos {
		height: 31%;
	}
	.menu-grd {
		padding: 1em;
	}
	.dinner-info {
		padding: 3em 0 0 25em;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 32.6%;
	}
	.contact {
		min-height: 490px;
	}
	.contact-bottom iframe {
		min-height: 350px;
	}
	.contact-left input[type="submit"] {
		padding: 10px 0;
		width: 30%;
	}
}
@media (max-width: 768px){
	.wlcome-grid-right {
		margin: 3em 0 0;
	}
	.navbar-brand {
		font-size: 2.1em;
	}
	.nav > li > a {
		padding:10px 12px;
	}
	.navbar-nav > li > a {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.banner1 {
		min-height: 190px;
	}
	.contact-left:nth-child(1) {
		margin: 0 0 2em;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 32.85%;
	}
	.ftr {
		float: left;
		width: 50%;
	}
	.footer {
		padding: 2em 0 3em;
	}
	.ftr-logo a h3 {
		font-size: 1.6em;
	}
	.ftr:nth-child(2) {
		margin: 0 0 2em;
	}
	.menu-grid {
		float: left;
		width: 33.33%;
	}
	.menu-grid h4 {
		font-size: 1em;
	}
	.menu-grd-pos p {
		font-size: 2em;
	}
	.menu-grd-pos {
		width: 46%;
	}
	.dinner-info {
		padding: 2em 0 0 15em;
	}
	.dinner {
		margin: 4em 0;
	}
	.about-grid {
		float: left;
		width: 33.33%;
	}
	.why-choose-grid {
		float: left;
		width: 50%;
	}
	.why-choose-grd-right h4 {
		font-size: 15px;
	}
	.why-choose-grd-right {
		margin: 0.1em 0 0;
	}
	.why-choose-grd-right p {
		margin: 0em;
	}
	.why-choose {
		padding: 0em 0 4em;
	}
	p.aut {
		width: 100%;
	}
	.testimonials {
		padding: 3em 0 3.5em;
	}
	.banner {
		background: url(../images/banner1.jpg) no-repeat -175px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		    min-height: 495px;
	}
	.banner-info {
		margin: 17em auto 0;
	}
	.wlcome-grid-left h3, .welcome-bottom h3, .banner-bottom h3, h3.title, .testimonials h3, .why-choose h3, .menu h3 {
		font-size: 1.8em;
	}
	.wlcome, .welcome-bottom, .video, .banner-bottom, .typo, .contact, .about, .menu {
		padding: 3em 0;
	}
	.banner-bottom-grid {
		width: 95%;
		margin: 1.5em auto 0;
	}
	.wlcome-grid-left-grid h4 {
		margin: 2.5em 0 0;
	}
	.resp-tab-item {
		padding: 12px 148px;
	}
	.welcome-bottom-grid {
		float: left;
		width: 25%;
	}
	.video-grid-left:nth-child(2) {
		margin: 2em 0 0;
	}
	.why-choose-grds {
		padding: 1em;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background:#fff;
	}
	.navbar-toggle {
		margin-top: 45px;
		margin-right: 0;
		margin-bottom: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		box-shadow: none;
	}
	.navbar-nav {
		float: none;
		margin: 1em 0 0;
		background-color: #E4A548;
	}
	.navbar-nav > li {
		float: none;
		margin: 0;
	}
	.navbar-nav > li > a {
		padding: 15px 0;
	}
}
@media (max-width: 640px){
	.banner-info h1 {
		font-size: 1.3em;
	}
	.banner-info {
		width: 100%;
	}
	.banner {
		background: url(../images/banner1.jpg) no-repeat -205px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 470px;
	}
	.wlcome-grid-left-grid h4 {
		margin: 0.5em 0 0;
	}
	.resp-tab-item {
		padding: 12px 110px;
	}
	.wlcome-grid-right {
		margin: 2em 0 0;
	}
	.welcome-bottom-grid {
		width: 50%;
		margin: 0 0 2em;
	}
	.about-grid h3 {
		font-size: 1em;
	}
	.about-grid p {
		padding: 1em;
	}
	.why-choose-grid {
		float: none;
		width: 100%;
	}
	.why-choose-grd-right h4 {
		font-size: 20px;
	}
	.testimonials-grid-left {
		width: 40%;
	}
	.testimonials-grid-right {
		width: 56%;
	}
	.menu-grd-pos {
		width: 60%;
	}
	.dinner {
		margin: 3em 0;
	}
	.dinner-info h3 {
		font-size: 2em !important;
	}
	.dinner-info {
		padding: 2em 0 0 3em;
	}
	.dinner {
		min-height: 460px;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 32.7%;
	}
}
@media (max-width:480px){
	.banner {
		background: url(../images/banner1.jpg) no-repeat -330px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 500px;
	}
	.banner-info h1 {
		padding-left: 0em;
	}
	.banner-info {
		margin: 19em auto 0;
	}
	.banner-info h1:before {
		left: 0px;
	}
	.wlcome-grid-left h3, .welcome-bottom h3, .banner-bottom h3, h3.title, .testimonials h3, .why-choose h3, .menu h3 {
		font-size: 1.6em;
	}
	.wlcome, .welcome-bottom, .video, .banner-bottom, .typo, .contact, .about, .menu {
		padding: 2em 0;
	}
	h2.resp-accordion {
		background: #DCB783;
	}
	h2.resp-accordion:hover {
		background: #ADACAC;
	}
	.facts {
		padding: 1em;
	}
	.welcome-bottom-grid {
		margin: 0 0 3em;
	}
	.video-grid-left:nth-child(2) {
		margin: 1em 0 0;
	}
	.about-grid {
		float: none;
		width: 80%;
		margin: 0 auto 2em;
	}
	.why-choose-grid-hover {
		padding: 10px;
	}
	.why-choose-grid-hover p {
		font-size: 15px;
	}
	.why-choose-grds {
		padding: .5em;
	}
	.why-choose-grd-right h4 {
		font-size: 16px;
	}
	.why-choose-grd-right {
		margin: 0.6em 0 0;
	}
	.testimonials-grid-left img {
		width: 100%;
	}
	.testimonials-grid-left {
		width: 30%;
		margin-left: 2em;
	}
	.testimonials-grid-right {
		width: 60%;
		margin: 2em 0 0;
	}
	.testimonials-grid-right p span {
		font-size: 1.5em;
	}
	.callbacks_nav {
		top: 4%;
	}
	.menu-grid {
		float: none;
		width: 80%;
		margin: 0 auto 2em;
	}
	.menu-grd-pos {
		width: 37%;
	}
	.menu-grd-pos p {
		padding: 0.8em;
	}
	.dinner {
		margin: 2em 0 2em;
	}
	.dinner-info {
		padding: 1em 0 0 1em;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 100%;
		padding: 10px;
	}
	.contact-left input[type="email"] {
		margin: .5em 0;
	}
	.contact-left textarea {
		min-height: 140px;
		margin: .5em 0;
	}
	.contact-left input[type="submit"] {
		padding: 8px 0;
		width: 40%;
		font-size: 14px;
	}
	.contact-bottom iframe {
		min-height: 240px;
	}
}
@media (max-width: 414px){
	.banner {
		background: url(../images/banner1.jpg) no-repeat -365px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 500px;
	}
	.banner-info {
		margin: 18em auto 0;
	}
	.wlcome-grid-left h3, .welcome-bottom h3, .banner-bottom h3, h3.title, .testimonials h3, .why-choose h3, .menu h3 {
		font-size: 1.5em;
	}
	.wlcome-grid-left-grid {
		float: none;
		width: 100%;
		text-align: center;
	}
	.wlcome-grid-left-grid img{
		margin:0 auto;
	}
	.banner-info h1 {
		padding-left: 0.7em;
	}
	.banner-info h1:before {
		left: 20px;
	}
	.fgh {
		margin: 1em 0 0;
	}
	.tab_list {
		width: 28%;
	}
	.tab_list1 {
		width: 65%;
	}
	.welcome-bottom-grd span {
		font-size: 2.5em;
	}
	.welcome-bottom-grd {
		width: 7em;
		height: 7em;
	}
	.ftr {
		float: none;
		width: 100%;
	}
	.footer {
		padding: 1em 0 2em;
	}
	.ftr:nth-child(2) {
		margin: 1.5em 0;
	}
	.ftr-logo {
		padding: 1em 0 0;
	}
	.about-grid,.menu-grid {
		width: 100%;
	}
	.menu-grd-pos {
		width: 35%;
	}
	.dinner-info-grid {
		margin: 0.5em 0 0;
	}
	.dinner-info-grid h4 {
		font-size: 1.3em;
	}
	.dinner-info-grid p {
		width: 99%;
	}
	.dinner {
		min-height: 400px;
	}
}
@media (max-width:375px){
	.banner-info h1:before {
		left: 8px;
	}
}
@media (max-width:320px){
	.navbar-brand {
		font-size: 2em;
	}
	.navbar-brand span {
		line-height: 1.6em;
		font-size: 12px;
	}
	.navbar-toggle {
		margin-top: 36px;
	}
	.banner-info h1 {
		font-size: 1.2em;
		padding-left: 1.1em;
	}
	.banner {
		background: url(../images/banner1.jpg) no-repeat -266px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 365px;
	}
	.banner-info {
		margin: 12em auto 0;
	}
	.wlcome-grid-left h3, .welcome-bottom h3, .banner-bottom h3, h3.title, .testimonials h3, .why-choose h3, .menu h3 {
		font-size: 1.3em;
	}
	.nihil,.banner-bottom-grid p,p.aut,.ftr_navi ul li a,.get_in_touch p,.ftr-logo p,.nav > li > a,.about-grid p,.why-choose-grd-right p {
		font-size: 13px;
	}
	.testimonials-grid-left img {
		margin: 0 auto;
		width:40%;
	}
	.testimonials-grid-left,.testimonials-grid-right{
		float:none;
		width: 100%;
	}
	.testimonials-grid-right{
		text-align:center;
		margin: 1em 0 0;
	}
	.testimonials-grid-left {
		margin-left: 0;
		text-align: center;
	}
	.about {
		padding: 2em 0 0;
	}
	.why-choose-grids:nth-child(2) {
		margin: 1em 0;
	}
	.why-choose-grd,.why-choose-grd-right {
		float: none;
		width: 100%;
	}
	.banner-bottom-grid {
		width: 100%;
		margin: 1em auto 0;
	}
	.nihil {
		margin: 0.2em 0 0;
	}
	.wlcome {
		padding: 1em 0 2em;
	}
	.wlcome-grid-left-grid:nth-child(3) {
		margin: 1.5em 0;
	}
	.wlcome-grid-left,.wlcome-grid-right,.video-grid-left,.contact-left {
		padding: 0 !important;
	}
	.wlcome-grid-left-grid img {
		width: 80%;
	}
	.wlcome-grid-left-grid h4 {
		font-size: 1em;
		line-height: 1.3em;
	}
	.wlcome-grid-left-grid p {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.facts {
		padding: 0em 0 1em;
	}
	.welcome-bottom-grid {
		float: none;
		width: 100%;
		margin: 0 0 2em;
	}
	.welcome-bottom-grids {
		margin: 1.5em 0 0;
	}
	.more a,.menu-grid p,.contact-left ul li,.contact-left input[type="text"], .contact-left input[type="email"] {
		font-size: 13px;
	}
	.welcome-bottom-grid p {
		margin: 1em 0 1.5em;
		font-size: 13px;
	}
	.video-grid-left iframe {
		min-height: 190px;
	}
	.video-grid-left h3 {
		font-size: 1em;
	}
	.video-grid-left p {
		font-size: 13px;
		margin: 0.5em 0 1.5em;
	}
	.menu-grd-pos {
		width: 43%;
	}
	.dinner-info-grid p {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.menu-grd-pos p {
		font-size: 2em !important;
	}
	.dinner-info-grid p span {
		margin: 0.5em 0;
	}
	.dinner-info h3 {
		font-size: 1.5em !important;
	}
	.navbar-nav > li > a {
		padding: 10px 0;
	}
	.menu-grids {
		margin: 1.5em 0 0;
	}
	.contact-left p {
		font-size: 13px;
		width: 100%;
	}
	.contact-left ul {
		padding: 0;
	}
}