<extend name="./Application/Vodadms/View/public.html" />
<block name="content">



    </block>

    <block name="content">
        <link href="__PUBLIC__/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
        <!-- start: Content -->
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div class="" style="font-size:18px; font-weight:bold;">总收益魅力值:</div>
                    <div class="" style="font-size:18px; font-weight:bold;">{$todayusermoney}
                        (￥{$todayuserrelmoney})</div>
                </div><!--/.info-box-->
            </div>
            <!--/.col-->
            <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box magenta-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="" style="font-size:18px; font-weight:bold;">提成新增魅力值</div>

                    <div class="" style="font-size:18px; font-weight:bold;">{$todayadminmoney}（￥{$todayadminrelmoney}）</div>

                </div>
            </div>/.col-->




        </div><!--/.row-->
        <?php if($admin_type !=0){?>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">

                    <div class="" ><H5>申请提现</H5></div>
                        <div class="form-group">
                            提现金额：
                            <input type="number" id="comdraw"  name="comdraw" class="form-control"/>
                        </div>
                    <div class="form-group">
                        支付方式
                    <select id="pay_type" name="pay_type" class="btn-sm">

                    <option value ="1">支付宝</option>
                    <option value ="2">微信</option>
                    <option value ="3">paypal</option>
                    </select>
                    </div>
                    <div class="form-group">
                        账户名：
                        <input type="text" id="name" name="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        账户号：
                        <input type="text" id="account" name="account" class="form-control"/>
                    </div>
                        <div class="">
                            <button type="submit" id="sub_comdraw" class="btn btn-sm btn-success">提交</button>
                        </div>

                </div><!--/.info-box-->
            </div><!--/.col-->
        </div>
<?php }?>


        <!--<div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-bar-chart-o red"></i><strong>月提成总收入(人民币)</strong></h2>
                        <div class="panel-actions">
                            <a href="javascript:ShowruTongjiYue();" ><i class="fa fa-rotate-right"></i></a>
                            <a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>

                        </div>
                    </div>
                    <div class="panel-body">
                        <figure class="demo" id="ShowruTongjiYue" style="height: 300px"></figure>
                    </div>
                </div>

            </div>

        </div>/row-->


        <script src="__PUBLIC__/echarts/echarts.min.js"></script>
        <script src="__PUBLIC__/echarts/macarons.js"></script>
        <script src="__PUBLIC__/echarts/roma.js"></script>
        <script src="__PUBLIC__/static/js/jquery.min.js"></script>
        <script src="__PUBLIC__/static/js/layer/layer.js"></script>

        <script type="text/javascript">
            $(function(){
                $("#sub_comdraw").click(function(){
                    var comdraw = $("#comdraw").val();
                    var name = $("#name").val();
                    var account = $("#account").val();
                    var pay_type = $("#pay_type").val();
                    var reg=new RegExp('(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))');
                    if(name=='' || account=='' || pay_type==''){
                        layer.alert('请完善提现信息');
                    }else {
                        if (reg.test(comdraw) && comdraw>0) {
                            // $.ajax({
                            //     url:"/Vodadms/index/adddraw",
                            //     type:"POST",
                            //     data:"a=1",
                            //     success:function(msg){
                            //
                            //     }
                            // })
                            var data = {'comdraw': comdraw,'name':name,'account':account,'pay_type':pay_type};
                            var url = "/Vodadms/index/adddraw";
                            $.post(url, data, function (result) {
                                if (result.status == '2') {
                                    layer.alert(result.message);
                                } else if (result.status == '1') {
                                    layer.alert(result.message);
                                    window.location.href = "/Vodadms/index/";
                                }
                            }, 'JSON');
                        } else {
                            //初体验
                            layer.alert('请输入正确的提款金额');
                            return false;
                        }
                    }

                })
            })

        </script>


    </block>



